<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/quanly/layoutchungquanly/menuQuanLy}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Đơn hàng chờ xác nhận</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/admin/quanly/css/DonHangCho.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<article layout:fragment="noiDung">

    <h6 th:text="${loggedInUser.hoVaTen}" hidden></h6>
    <h6 th:text="${loggedInUser.chucVu}" hidden></h6>

    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <form th:action="@{/quan-ly/tim-kiem-ma}" method="post">
                    <div class="boxsearch">
                        <h6 style="text-align: center;">Tìm theo mã đơn hàng</h6>
                        <div class="search">
                            <input class="form-control" name="maDonHang" type="search" placeholder="Search"
                                   th:value="${param.maDonHang}">
                            <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
                        </div>
                    </div>
                    <div class="boxsearch">
                        <h6 style="text-align: center;">Tìm theo số điện thoại</h6>
                        <div class="search">
                            <input class="form-control" type="search" name="sdt" placeholder="Search"
                                   th:value="${param.sdt}">
                            <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
                        </div>
                    </div>
                    <br>
                    <div class="boxtrang">
                        <h6 style="text-align: center;margin-bottom: 10px;">Thời gian</h6>
                        <div class="row">
                            <div class="col-12">
                                <div class="date">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Từ</label>
                                        <div class="col">
                                            <input class="form-control" type="datetime-local" name="ngayBatDauTimKiem"
                                                   th:value="${param.ngayBatDauTimKiem}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Đến</label>
                                        <div class="col">
                                            <input class="form-control" type="datetime-local" name="ngayKetThucTimKiem"
                                                   th:value="${param.ngayKetThucTimKiem}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success" style="margin-left: 50px;margin-top: 5px;">Tìm Kiếm
                    </button>
                </form>
            </div>
            <!--            <li><a href="/quan-ly/don-hang/cho-van-chuyen">Chờ vận chuyển</a></li>-->
            <!--            <li><a href="/quan-ly/don-hang/dang-giao-hang">Đang giao hàng</a></li>-->
            <!--            <li><a href="/quan-ly/don-hang/giao-thanh-cong">Giao thành công</a></li>-->
            <!--            <li><a href="/quan-ly/don-hang/da-huy">Đã hủy</a></li>-->
            <!--            <li><a href="/quan-ly/don-hang/doi-tra">Đổi trả</a></li>-->
            <!--            table của đơn hàng chờ-->
            <div class="col-10">
                <div class="box">
                    <table class="table" style=" border: 0px solid blue;">
                        <thead class="table-dark">

                        <select class="col-3 form-control" onchange="changePage(this)">
                            <option value="/quan-ly/don-hang/cho-xac-nhan">Đơn Hàng Chờ Xác Nhận</option>
                            <option value="/quan-ly/don-hang/da-duyet">Đơn Hàng Đã Duyệt</option>
                            <option value="/quan-ly/don-hang/dang-giao">Đơn Hàng Đang Giao</option>
                            <option value="/quan-ly/don-hang/hoan-thanh">Đã Hoàn Thành</option>
                            <option value="/quan-ly/don-hang/da-huy">Đã Hủy</option>
                        </select>
                        <script>
                            function changePage(select) {
                                var selectedOption = select.options[select.selectedIndex];
                                var url = selectedOption.value;
                                window.location.href = url;
                            }
                        </script>
                        <th:block th:if="${not donHang.isEmpty()}">
                            <h4 style="text-align: left;">Danh Sách Đơn Hàng Đang Chờ</h4>
                            <tr revs>
                                <th>Mã Đơn Hàng</th>
                                <th>Tên Người Đặt</th>
                                <th>Ngày Tạo</th>
                                <th>Số điện thoại</th>
                                <th>Tổng Tiền</th>
                                <th>Ghi chú</th>
                                <th>Hành động</th>
                                <th>Người Duyệt</th>
                            </tr>
                        </thead>
                        <tbody th:each="dh, iterStat : ${donHang.content}">
                        <tr>
                            <td th:text="${dh.maDonHang}"></td>
                            <td th:text="${dh.thongTinGiaoHang.tenNguoiNhan}"></td>
                            <td th:text="${dh.ngayTao}"></td>
                            <td th:text="${dh.thongTinGiaoHang.sdt}"></td>
                            <div th:each="ctdh : ${dh.chiTietDonHang}">
                                <td th:text="${50.000 + ctdh.thanhTienVnd }"></td>
                            </div>
                            <td th:text="${dh.ghiChuKhachHangGui}"></td>
                            <td>
                                <!-- startđây là nút xác nhận đơn hàng-->
                                <a th:href="@{/quan-ly/xac-nhan-don-hang-cho(idDonHang=${dh.idDonHang})}"
                                   onclick="return confirm('Bạn có chắc muốn duyệt đơn hàng này không?')">
                                    <i class="fa-solid fa-circle-check" style="color: #006ec2;"></i>
                                </a>

                                <!--end đây là nút xác nhận đơn hàng-->

                                <!--start đây là nút xem  nhận đơn hàng-->
                                <a data-toggle="modal" th:attr="data-target='#modalDonHang-' + ${dh.idDonHang}">
                                    <i class="fa-solid fa-circle-exclamation" style="color: #ffdd00;"></i>
                                </a>
                                <!--end  đây là nút xem  nhận đơn hàng-->

                                <!--  modal chi tiết đơn hàng -->

                                <div class="modal fade" th:id="'modalDonHang-' + ${dh.idDonHang}" tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="basicModal" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myModalLabel">Chi tiết đơn hàng chờ</h4>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="box-address">
                                                    <div class="line-item">
                                                        <label>Mã Đơn Hàng</label>
                                                        <input class="form-control" type="text"
                                                               th:value="${dh.maDonHang}" disabled/>
                                                    </div>
                                                    <div class="line-item">
                                                        <label>Tên Người Đặt</label>
                                                        <input class="form-control" type="text"
                                                               th:value="${dh.thongTinGiaoHang.tenNguoiNhan}" disabled/>
                                                    </div>
                                                    <div class="line-item">
                                                        <label>Email</label>
                                                        <input class="form-control" type="text"
                                                               th:value="${dh.thongTinGiaoHang.emailGiaoHang}"
                                                               disabled/>
                                                    </div>
                                                    <div class="line-item">
                                                        <label>Ngày Đặt</label>
                                                        <input class="form-control" type="text"
                                                               th:value="${dh.ngayTao}"
                                                               disabled>
                                                    </div>
                                                    <div class="line-item">
                                                        <label>Số Điện Thoại</label>
                                                        <input class="form-control" type="tel"
                                                               th:value="${dh.thongTinGiaoHang.sdt}" disabled>
                                                    </div>
                                                    <div class="line-item">
                                                        <label>Phương thức thanh toán</label>
                                                        <input class="form-control" type="text"
                                                               th:value="${dh.phuongThucThanhToan.tenPhuongThucThanhToan}"
                                                               disabled>
                                                    </div>
                                                    <div class="line-item">
                                                        <label>Vận chuyển:</label>
                                                        <input class="form-control" value="Shipper"
                                                               disabled>
                                                    </div>
                                                    <div class="line-item">
                                                        <label>Ghi Chú:</label>
                                                        <textarea class="form-control" type="text"
                                                                  th:value="${dh.ghiChuKhachHangGui}"
                                                                  disabled></textarea>
                                                    </div>
                                                    <div class="line-item">
                                                        <label>Địa Chỉ:</label>
                                                        <input th:value="${dh.thongTinGiaoHang.diaChiCuThe}"
                                                               class="form-control" type="text"
                                                               disabled/>
                                                    </div>
                                                    <div class="line-item">
                                                        <label>Tỉnh/Thành phố:</label>
                                                        <input id="tinhThanhPhoc"
                                                               th:value="${dh.thongTinGiaoHang.thanhPho}"
                                                               class="form-control" type="text"
                                                               disabled/>
                                                    </div>
                                                    <div class="line-item">
                                                        <label>Quận/Huyện:</label>
                                                        <input id="huyenQuanc"
                                                               th:value="${dh.thongTinGiaoHang.quanHuyen}"
                                                               class="form-control" type="text"
                                                               disabled/>
                                                    </div>
                                                    <div class="line-item">
                                                        <label>Phường/Xã:</label>
                                                        <input id="xaPhuongc" th:value="${dh.thongTinGiaoHang.phuongXa}"
                                                               class="form-control" type="text"
                                                               disabled/>
                                                    </div>
                                                    <div class="line-item">
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th>Mã Sản Phẩm</th>
                                                                <th>Tên Sản Phẩm</th>
                                                                <th>Số Lượng Mua</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr th:each="ctdh : ${dh.chiTietDonHang}">
                                                                <td th:text="${ctdh.sach.maSach}"></td>
                                                                <td th:text="${ctdh.sach.tenSach}"></td>
                                                                <td th:text="${ctdh.soLuong}"></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="line-item">
                                                        <label>Tiền vận chuyển:</label>
                                                        <input value="50.000 ₫"
                                                               class="form-control" type="text"
                                                               disabled/>
                                                    </div>

                                                    <div class="line-item" th:each="ctdh : ${dh.chiTietDonHang}">
                                                        <label>Phần trăm giảm:</label>
                                                        <input th:value="${ctdh.phanTramGiam}"
                                                               class="form-control" type="text"
                                                               disabled/>
                                                    </div>
                                                    <div class="line-item" th:each="ctdh : ${dh.chiTietDonHang}">
                                                        <label>Tổng tiền:</label>
                                                        <input th:value="${50.000 + ctdh.thanhTienVnd}"
                                                               class="form-control" type="text"
                                                               disabled/>
                                                    </div>

                                                    <div class="line-item" th:each="nv : ${loggedInUser}">
                                                        <label>Người Duyệt</label>
                                                        <input th:value="${nv.hoVaTen}"
                                                               class="form-control" type="text" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--  modal chi tiết đơn hàng -->


                                <!--  nút hủy đơn hàng -->
                                <a th:href="@{/quan-ly/xac-nhan-huy-don(idDonHang=${dh.idDonHang})}"
                                   onclick="return confirm('Bạn có chắc muốn hủy đơn hàng này không?')">
                                    <i class="fa-solid fa-circle-xmark" style="color: #ff0000;"></i>
                                </a>

                                <!--  nút hủy đơn hàng -->
                            </td>
                            <div th:each="nv : ${loggedInUser}">
                                <td>
                                    <span th:text="${nv.maNhanVien}"></span> - <span th:text="${nv.hoVaTen}"></span>
                                </td>
                            </div>
                        </tr>
                        </tbody>
                    </table>
                    <!--            table của đơn hàng chờ-->

                    <th:block th:if="${donHang.isEmpty()}">
                        <h2>Không có dữ liệu nào cả!!!</h2>
                    </th:block>

                    <div class="row">
                        <div class="col-6">
                            <h6 style="color: red;"><b><i>Đang có <span th:text="${donHang.totalElements}"></span>
                                đơn hàng đang chờ</i> </b></h6>
                        </div>

                        <!--                        phân trang-->
                        <div class="col-6">
                            <div class="phantrang">
                                    <span th:if="${donHang.number + 1 > 1}">
                                        <a class="btn btn-primary"
                                           th:href="@{'/quan-ly/don-hang/cho-xac-nhan?page=' + ${donHang.number}}">Previous</a>
                                    </span>
                                <span class="btn btn-danger"
                                      th:text="${donHang.number} + 1 + '/' + ${donHang.totalPages}"></span>
                                <span th:if="${donHang.number + 1 < donHang.totalPages}">
                                       <a class="btn btn-primary"
                                          th:href="@{'/quan-ly/don-hang/cho-xac-nhan?page=' + ${donHang.number + 2}}">Next</a>
                                    </span>
                            </div>
                        </div>
                        <!--phân trang-->

                    </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="/admin/quanly/js/DonHangCho.js"></script>
</article>
</body>
</html>