<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/quanly/layoutchungquanly/menuQuanLy}">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Khách Hàng</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel="stylesheet" href="/user/css/KhachHang.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<article layout:fragment="noiDung">
    <!--  khung noi dung-->

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <!-- start tìm kiếm mã khách hàng -->
            <form th:action="@{/quan-ly/khach-hang/hien-thi}" method="get" enctype="multipart/form-data">
            <div class="timKiem">
                <label for="maKhachHang" style="text-align: center;">Tìm theo mã khách hàng:</label>
                <div class="search">
                    <input class="form-control" id="maKhachHang" name="maKhachHangTimKiem"
                           th:value="${param.maKhachHangTimKiem}"  type="search" placeholder="Search"  >
                </div>
            </div>
            <!-- end tìm kiếm khách mã hàng -->

            <!-- start tìm kiếm sdt khách hàng -->
            <div class="timKiem">
                <label for="sdt" style="text-align: center;">Tìm theo số điện thoại:</label>
                <div class="search">
                    <input class="form-control" type="search" id="sdt" name="sdtTimKiem" th:value="${param.sdtTimKiem}" placeholder="Search">
                </div>
            </div>
            <!-- end tìm kiếm sdt khách hàng -->

            <!-- start tìm kiếm theo trạng thái -->

                <div class="trangThai">
                    <label for="trangThai" style="text-align: center;">Trạng Thái:</label>
                    <div class="search">
                        <select class="form-control" name="trangThaiTimKiem" id="trangThai"  >
                            <option value="99" th:selected="${trangThai == '99'}">Tất cả</option>
                            <option value="1" th:selected="${trangThai == '1'}">Hoạt động</option>
                            <option value="0" th:selected="${trangThai == '0'}">Ngừng hoạt động</option>
                        </select>
                    </div>
                </div>
            <button type="submit" class="btn btn-success" style="margin-left: 50px;margin-top: 5px;">Tìm Kiếm</button>
            </form>
        </div>
        <!-- end tìm kiếm theo trạng thái  -->
        <div class="col-10">
            <div class="box">
                <h4 style="text-align: left;">Danh sách khách hàng</h4>

                <!-- start button xuất file khách hàng -->
                <div class="xuatFile">
                    <button class="btn btn-success">
                        Xuất file
                    </button>
                    <!-- end button xuất file khách hàng -->
                </div>

                <!-- start table khách hàng -->
                <th:block th:if="${not pageOfKhachHang.isEmpty()}">
                <table class="table" style=" border: 0px solid blue;">
                    <thead class="table-dark">
                    <tr>
                        <th>Mã Khách Hàng</th>
                        <th>Họ Và Tên</th>
                        <th>Giới tính</th>
                        <th>Email</th>
                        <th>Số Điện Thoại</th>
                        <th>Loại Khách Hàng</th>
                        <th>Trạng thái</th>
                        <th>Hành Động</th>
                    </tr>
                    </thead>
                    <tbody th:each="khachhang, iterStat : ${pageOfKhachHang.content}">
                    <tr>
                        <td th:text="${khachhang.maKhachHang}"></td>
                        <td th:text="${khachhang.hoVaTen}"></td>
                        <td th:text="${khachhang.gioiTinh == 1 ? 'Nam': 'Nữ'}"></td>
                        <td th:text="${khachhang.email}"></td>
                        <td th:text="${khachhang.sdt}"></td>
                        <td th:text="${khachhang.loaiKhachHang}"></td>
                        <td th:text="${khachhang.trangThai == 1 ? 'Hoạt động' : 'Ngừng hoạt động'}"></td>
                        <td>
                            <!-- start sửa danh sách khách hàng -->
                            <button type="button" class="btn btn-outline-info" id="editModalBtn"
                                    data-toggle="modal"
                                    data-target="#editModal" style="width: auto;height: auto;">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                            <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
                                 aria-labelledby="editModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editModalLabel">Sửa Danh Sách Khách Hàng</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <!--start nội dung modal -->
                                        <div class="modal-body">
                                            <div class="input-field">
                                                <label>Trạng Thái</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <!-- start nội dung modal -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Đóng
                                            </button>
                                            <button type="button" class="btn btn-primary" id="saveEditBtn">Lưu
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end sửa danh sách khách hàng -->
                            <!-- / -->
                            <!-- start xem danh sách khách hàng -->
                            <button type="button" class="btn btn-outline-info"
                                    data-toggle="modal"
                                    th:attr="data-target='#viewmodalKH-' + ${khachhang.idKhachHang}" style="width: auto;height: auto;">
                                <i class="fa-solid fa-eye"></i>
                            </button>

                            <div class="modal fade" th:id="'viewmodalKH-' + ${khachhang.idKhachHang}"  tabindex="-1" role="dialog"
                                 aria-labelledby="viewModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="viewModalLabel">Chi Tiết Danh Sách Khách
                                                Hàng</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <!-- start nội dung modal -->
                                        <div class="modal-body">
                                            <div class="input-field">
                                                <label>Id Khách Hàng</label>
                                                <input type="text" class="form-control" th:value="${khachhang.idKhachHang}" disabled>
                                            </div>
                                            <div class="input-field">
                                                <label>Mã Khách Hàng</label>
                                                <input  class="form-control" th:value="${khachhang.maKhachHang}" disabled>
                                            </div>
                                            <div class="input-field">
                                                <label>Họ Và Tên</label>
                                                <input type="text" class="form-control" th:value="${khachhang.hoVaTen}" disabled>
                                            </div>
                                            <div class="input-field">
                                                <label>SDT</label>
                                                <input type="tel" class="form-control" th:value="${khachhang.sdt}" disabled>
                                            </div>
                                            <div class="input-field">
                                                <label>Ngày Sinh</label>
                                                <input type="date" class="form-control" th:value="${khachhang.ngaySinh}" disabled>
                                            </div>
                                            <div class="input-field">
                                                <label>Email</label>
                                                <input type="email" class="form-control" th:value="${khachhang.email}" disabled>
                                            </div>
                                            <div class="input-field">
                                                <label>Giới Tính</label>
                                                <input type="text" class="form-control" th:value="${khachhang.gioiTinh == 1 ? 'Nam': 'Nữ'}" disabled>
                                            </div>
                                            <div class="input-field">
                                                <label>Loại Khách Hàng</label>
                                                <input type="text" class="form-control" th:value="${khachhang.loaiKhachHang}" disabled>
                                            </div>

<!--                                            <div class="input-field">-->
<!--                                                <label>Địa chỉ cụ thể</label>-->
<!--&lt;!&ndash;                                                <input type="text" class="form-control" th:block="${khachhang.ngayTaoTaiKhoan}" disabled>&ndash;&gt;-->
<!--                                                <select id="diaChi" name="listDiaChi" class="form-control">-->
<!--                                                    <th:block th:each="diaChi : ${khachhang.diachi}">-->
<!--                                                        <option th:value="${diaChi.idDiaChi}"-->
<!--                                                                th:text="${diaChi.diaChiCuThe}"></option>-->
<!--                                                    </th:block>-->
<!--                                                </select>-->
<!--                                            </div>-->

                                            <div class="input-field">
                                                <label>Ngày Tạo Tài Khoản</label>
                                                <input type="datetime" class="form-control" th:value="${khachhang.ngayTaoTaiKhoan}" disabled>
                                            </div>
                                            <div class="input-field">
                                                <label>Trạng Thái</label>
                                                <input type="text" class="form-control" th:value="${khachhang.trangThai == 1 ? 'Hoạt động' :'Ngừng hoạt động'}" disabled>
                                            </div>
                                            <!-- end nội dung modal -->
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end xem danh sách khách hàng -->
                        </td>
                    </tr>
                    </tbody>
                </table>
                <th:block th:if="${pageOfKhachHang.isEmpty()}">
                    <h2>Không có dữ liệu nào cả!!!</h2>
                </th:block>
                    <h6 style="color: red;"><b><i>Đang có <span th:text="${pageOfKhachHang.totalElements}"></span> khách hàng!</i> </b></h6>
<!--phân trang-->
<!--                <div>-->
<!--                    <span th:if="${pageOfKhachHang.number + 1 > 1}">-->
<!--                        <a class="btn btn-primary" th:href="@{'/quan-ly/khach-hang/hien-thi?page=' + ${pageOfKhachHang.number} + '&trangThaiTimKiem=' + ${trangThaiTimKiem}}">Previous</a>-->
<!--                    </span>-->
<!--                    <span class="btn btn-danger" th:text="${pageOfKhachHang.number + 1} + '/' + ${pageOfKhachHang.totalPages}"></span>-->
<!--                    <span th:if="${pageOfKhachHang.number + 1 < pageOfKhachHang.totalPages}">-->
<!--                        <a class="btn btn-primary" th:href="@{'/quan-ly/khach-hang/hien-thi?page=' + ${pageOfKhachHang.number + 2}  + '&trangThaiTimKiem=' + ${trangThaiTimKiem}}">Next</a>-->
<!--                    </span>-->
<!--                </div>-->

<!--                    <div>-->
<!--    <span th:if="${pageOfKhachHang.number + 1 > 1}">-->
<!--        <a class="btn btn-primary" th:if="${trangThaiTimKiem == null}" th:href="@{('/quan-ly/khach-hang/hien-thi?page=' + ${pageOfKhachHang.number})}">Previous</a>-->
<!--        <a class="btn btn-primary" th:if="${trangThaiTimKiem != null}" th:href="@{('/quan-ly/khach-hang/hien-thi?page=' + ${pageOfKhachHang.number} + '&trangThaiTimKiem=' + ${trangThaiTimKiem})}">Previous</a>-->
<!--    </span>-->
<!--                        <span class="btn btn-danger" th:text="${pageOfKhachHang.number + 1} + '/' + ${pageOfKhachHang.totalPages}"></span>-->
<!--                        <span th:if="${pageOfKhachHang.number + 1 < pageOfKhachHang.totalPages}">-->
<!--        <a class="btn btn-primary" th:if="${trangThaiTimKiem == null}" th:href="@{'/quan-ly/khach-hang/hien-thi?page=' + ${pageOfKhachHang.number + 2}}">Next</a>-->
<!--        <a class="btn btn-primary" th:if="${trangThaiTimKiem != null}" th:href="@{('/quan-ly/khach-hang/hien-thi?page=' + ${pageOfKhachHang.number + 2} + '&trangThaiTimKiem=' + ${trangThaiTimKiem})}">Next</a>-->
<!--    </span>-->
<!--                    </div>-->


                    <div>
    <span th:if="${pageOfKhachHang.number + 1 > 1}">
        <a class="btn btn-primary" th:if="${not daTimKiem}"
           th:href="@{'/quan-ly/khach-hang/hien-thi?page=' + ${pageOfKhachHang.number}}">Previous</a>
        <a class="btn btn-primary" th:if="${daTimKiem}"
           th:href="@{'/quan-ly/khach-hang/hien-thi?page=' + ${pageOfKhachHang.number} + '&trangThaiTimKiem=' + ${trangThaiTimKiem}}">Previous</a>
    </span>
                        <span class="btn btn-danger"
                              th:text="${pageOfKhachHang.number + 1} + '/' + ${pageOfKhachHang.totalPages}"></span>
                        <span th:if="${pageOfKhachHang.number + 1 < pageOfKhachHang.totalPages}">
        <a class="btn btn-primary" th:if="${not daTimKiem}"
           th:href="@{'/quan-ly/khach-hang/hien-thi?page=' + ${pageOfKhachHang.number + 2}}">Next</a>
        <a class="btn btn-primary" th:if="${daTimKiem}"
           th:href="@{'/quan-ly/khach-hang/hien-thi?page=' + ${pageOfKhachHang.number + 2} + '&trangThaiTimKiem=' + ${trangThaiTimKiem}}">Next</a>
    </span>
                    </div>


                </th:block>
                <!-- end phân trang-->

                <!-- end table khách hàng -->
            </div>
        </div>
    </div>
</div>
</article>
<!--    end khung nội dung-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/admin/quanly/js/KhachHang.js"></script>
</body>
</html>