<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/quanly/layoutchungquanly/menuQuanLy}">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Khách Hàng</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel="stylesheet" href="/user/css/KhachHang.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<article layout:fragment="noiDung">
    <!--  khung noi dung-->

<div class="container-fluid">
    <div class="row">
        <div class="col-2">

            <!-- start tìm kiếm mã khách hàng -->
            <div class="timKiem">
                <h6 style="text-align: center;">Tìm theo mã khách hàng</h6>
                <div class="search">
                    <input class="form-control" type="search" placeholder="Search">
                </div>
            </div>
            <!-- end tìm kiếm khách mã hàng -->

            <!-- start tìm kiếm sdt khách hàng -->
            <div class="timKiem">
                <h6 style="text-align: center;">Tìm theo số điện thoại</h6>
                <div class="search">
                    <input class="form-control" type="search" placeholder="Search">
                </div>
            </div>
            <!-- end tìm kiếm sdt khách hàng -->

            <br>
            <!-- start tìm kiếm theo thời gian  -->

            <div class="boxtrang">
                <h6 style="text-align: center;margin-bottom: 10px;">Thời gian</h6>
                <div class="row">
                    <div class="col-11">
                        <div class="form-check">
                            <input class="form-check-input col-sm-2 col-form-label" type="radio" name="exampleRadios"
                                   id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label col-sm-10" for="exampleRadios1">
                                Hôm nay
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input col-sm-2 col-form-label" type="radio" name="exampleRadios"
                                   id="exampleRadios2" value="option2">
                            <label class="form-check-label col-sm-10" for="exampleRadios2">
                                Lựa chọn
                            </label>
                            <div class="date">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Từ</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="date" name="">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Đến</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="date" name="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-success" style="margin-left: 50px;margin-top: 5px;">Tìm Kiếm</button>
        </div>
        <!-- end tìm kiếm theo thời gian  -->
        <div class="col-10">
            <div class="box">
                <h4 style="text-align: left;">Danh sách khách hàng</h4>

                <!-- start button xuất file khách hàng -->
                <div class="xuatFile">
                    <button class="btn btn-success">
                        Xuất file
                    </button>
                    <!-- end button xuất file khách hàng -->
                </div>

                <!-- start table khách hàng -->
                <table class="table" style=" border: 0px solid blue;">
                    <thead class="table-dark">
                    <tr>
                        <th>Mã Khách Hàng</th>
                        <th>Họ Và Tên</th>
                        <th>Giới tính</th>
                        <th>Email</th>
                        <th>Số Điện Thoại</th>
                        <th>Trạng thái</th>
                        <th>Hành Động</th>
                    </tr>
                    </thead>
                    <tbody th:each="khachhang, iterStat : ${pageOfKhachHang}">
                    <tr>
                        <td th:text="${khachhang.maKhachHang}"></td>
                        <td th:text="${khachhang.hoVaTen}"></td>
                        <td th:text="${khachhang.gioiTinh == 1 ? 'Nam': 'Nữ'}"></td>
                        <td th:text="${khachhang.email}"></td>
                        <td th:text="${khachhang.sdt}"></td>
                        <td th:text="${khachhang.trangThai == 0 ? 'Hoạt Động' : 'Không hoạt động'}"></td>
                        <td>
                            <!-- start sửa danh sách khách hàng -->
                            <button type="button" class="btn btn-outline-info" id="editModalBtn"
                                    data-toggle="modal"
                                    data-target="#editModal" style="width: auto;height: auto;">
                                <i class="fa-solid fa-pen"></i>
                            </button>
                            <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
                                 aria-labelledby="editModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editModalLabel">Sửa Danh Sách Khách Hàng</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <!--start nội dung modal -->
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>Trạng Thái</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <!-- start nội dung modal -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Đóng
                                            </button>
                                            <button type="button" class="btn btn-primary" id="saveEditBtn">Lưu
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end sửa danh sách khách hàng -->
                            <!-- / -->
                            <!-- start xem danh sách khách hàng -->
                            <button type="button" class="btn btn-outline-info"
                                    data-toggle="modal"
                                    th:attr="data-target='#viewmodalKH-' + ${khachhang.idKhachHang}" style="width: auto;height: auto;">
                                <i class="fa-solid fa-eye"></i>
                            </button>

                            <div class="modal fade" th:id="'viewmodalKH-' + ${khachhang.idKhachHang}"  tabindex="-1" role="dialog"
                                 aria-labelledby="viewModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="viewModalLabel">Chi Tiết Danh Sách Khách
                                                Hàng</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <!-- start nội dung modal -->
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>Id Khách Hàng</label>
                                                <input type="text" class="form-control" th:value="${khachhang.idKhachHang}" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label>Mã Khách Hàng</label>
                                                <input  class="form-control" th:value="${khachhang.maKhachHang}" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label>Họ Và Tên</label>
                                                <input type="text" class="form-control" th:value="${khachhang.hoVaTen}" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label>SDT</label>
                                                <input type="tel" class="form-control" th:value="${khachhang.sdt}" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label>Ngày Sinh</label>
                                                <input type="date" class="form-control" th:value="${khachhang.ngaySinh}" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="email" class="form-control" th:value="${khachhang.email}" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label>Giới Tính</label>
                                                <input type="text" class="form-control" th:value="${khachhang.gioiTinh == 1 ? 'Nam': 'Nữ'}" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label>Ngày Tạo Tài Khoản</label>
                                                <input type="datetime-local" class="form-control" th:value="${khachhang.ngayTaoTaiKhoan}" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label>Trạng Thái</label>
                                                <input type="text" class="form-control" th:value="${khachhang.trangThai == 0 ? 'Hoạt động' :'Không hoạt động'}" disabled>
                                            </div>
                                            <!-- end nội dung modal -->
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end xem danh sách khách hàng -->
                        </td>
                    </tr>
                    </tbody>
                </table>
<!--phân trang-->

                <!-- end phân trang-->

                <!-- end table khách hàng -->
            </div>
        </div>
    </div>
</div>
</article>
<!--    end khung nội dung-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>