<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/quanly/layoutchungquanly/menuQuanLy}"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <title>Khuyến mại </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel="stylesheet" href="/admin/quanly/css/khuyenmai.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<article layout:fragment="noiDung">
    <!-- Trong trang Thymeleaf -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <!-- tìm theotên khuyến mãi -->
                <form th:action="@{/quan-ly/khuyen-mai/hien-thi}" method="get" enctype="multipart/form-data">
                    <div class="boxsearchKhuyenMai">
                        <label for="tenKhuyenMai" style="text-align: center;">Tìm theo tên khuyến mại</label>
                        <div class="search">
                            <input id="tenKhuyenMai" name="tenKhuyenMaiTimKiem"
                                   th:value="${param.tenKhuyenMaiTimKiem}" class="form-control" type="search"
                                   placeholder="Search">
                        </div>
                    </div>
                    <!-- end tìm theotên khuyến mãi -->
                    <div class="trangThaiKhuyenMai">
                        <label for="trangThai" style="text-align: center;">Trạng Thái:</label>
                        <div class="search">
                            <select class="form-control" name="trangThaiTimKiem" id="trangThai">
                                <option value="1" th:selected="${trangThai == '1'}">Kích Hoạt</option>
                                <option value="0" th:selected="${trangThai == '0'}">Không kích hoạt</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <!-- tìm theo thời gian -->
                    <div class="boxtrangKhuyenMai">
                        <h6 style="text-align: center;margin-bottom: 10px;">Thời gian</h6>
                        <div class="row">
                            <div class="col-11">
                                <!--                            <div class="form-check">-->
                                <!--                                <input class="form-check-input col-sm-2 col-form-label" type="radio"-->
                                <!--                                       name="exampleRadios"-->
                                <!--                                       id="exampleRadios1" value="option1" checked>-->
                                <!--                                <label class="form-check-label col-sm-10" for="exampleRadios1">-->
                                <!--                                    Hôm nay-->
                                <!--                                </label>-->
                                <!--                            </div>-->
                                <!--                            <div class="form-check">-->
                                <!--                                <input class="form-check-input col-sm-2 col-form-label" type="radio"-->
                                <!--                                       name="exampleRadios"-->
                                <!--                                       id="exampleRadios2" value="option2">-->
                                <!--                                <label class="form-check-label col-sm-10" for="exampleRadios2">-->
                                <!--                                    Lựa chọn-->
                                <!--                                </label>-->
                                <div class="date">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Từ</label>
                                        <div class="col">
                                            <input class="form-control" type="datetime-local" name="ngayBatDauTimKiem"
                                                   th:value="${param.ngayBatDauTimKiem}">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Đến</label>
                                        <div class="col">
                                            <input class="form-control" type="datetime-local" name="ngayKetThucTimKiem"
                                                   th:value="${param.ngayKetThucTimKiem}">
                                        </div>
                                    </div>
                                </div>
                                <!--                            </div>-->
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success" style="margin-left: 50px;margin-top: 5px;">Tìm Kiếm
                    </button>
                </form>
                <!-- end tìm theo thời gian -->
            </div>

            <div class="col-10">
                <div class="box">
                    <h4 style="text-align: left;">Chương trình khuyến mại</h4>
                    <!-- button thêm khuyến mại khi ấn vào thì hiện modal -->
                    <div class="themKhuyenMai">

                        <button class="btn btn-success" data-toggle="modal" data-target="#largeModal">
                            <i class="fa-solid fa-circle-plus"></i> Chương Trình Khuyến Mại
                        </button>

                        <script th:inline="javascript">
                            /*<![CDATA[*/
                            $(document).ready(function () {
                                var blankError = /*[[${blankError}]]*/ null; // Lấy giá trị từ Thymeleaf

                                if (blankError && !Array.isArray(blankError)) {
                                    // Display a regular alert for a single error message
                                    // alert("Error: " + blankError);
                                } else if (Array.isArray(blankError) && blankError.length > 0) {
                                    // Display an alert with the list of books that are already in a promotion
                                    var message = "Sách sau đây đã có trong khuyến mãi:\n";
                                    for (var i = 0; i < blankError.length; i++) {
                                        message += (i + 1) + ". " + blankError[i] + "\n";
                                    }
                                    alert(message);
                                }
                            });
                            /*]]>*/
                        </script>

                        <!-- button thêm khuyến mại khi ấn vào thì hiện modal -->
                        <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="basicModal"
                             aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">Thêm chương trình khuyến mại</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form th:action="@{/quan-ly/khuyen-mai/them-moi}" method="post"
                                          enctype="multipart/form-data">
                                        <div class="modal-body ">
                                            <div class="box-address">
                                                <!-- nội dung khuyến mại -->
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="tenKhuyenMai">Tên chương trình</label>
                                                        <input type="text" id="tenKhuyenMai" name="tenKhuyenMai"
                                                               class="form-control" a/>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="soPhanTramGiamGia">Số phần trăm giảm giá</label>
                                                        <input type="number" id="soPhanTramGiamGia"
                                                               name="soPhanTramGiamGia" class="form-control"/>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label>Trạng thái</label>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio"
                                                                   name="trangThai" value="1" checked>
                                                            <label class="form-check-label">
                                                                Đang kích hoạt
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio"
                                                                   name="trangThai" value="0">
                                                            <label class="form-check-label">
                                                                Không kích hoạt
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <label>Trạng Thái Hiển Thị</label>
                                                        <select class="form-control" name="trangThaiHienThi">
                                                            <option value="1" th:selected="${trangThaiHienThi == 1}">
                                                                Hiển thị
                                                            </option>
                                                            <option value="0" th:selected="${trangThaiHienThi == 0}">
                                                                Không hiển thị
                                                            </option>
                                                        </select>
                                                    </div>

                                                    <div class="col-12">
                                                        <label>Chọn ảnh :</label> <br>
                                                        <!--anh 1-->
                                                        <input type="file" id="linkBannerKhuyenMai"
                                                               name="linkBannerKhuyenMai" accept="image/*"
                                                               onchange="displayImage(this, 'selectedImage1')"/>
                                                        <!-- hien thi anh 1-->
                                                        <img id="selectedImage1" src="#" alt="Ảnh đã chọn"
                                                             style="max-width: 88px; height: auto; display: none;"/>
                                                        <!--anh 2-->

                                                        <input type="file" id="linkAnhKhuyenMai" name="linkAnhKhuyenMai"
                                                               accept="image/*"
                                                               onchange="displayImage(this, 'selectedImage2')"/>
                                                        <!-- hien thi anh 2-->
                                                        <img id="selectedImage2" src="#" alt="Ảnh đã chọn"
                                                             style="max-width: 88px; height: auto; display: none;"/>
                                                    </div>

                                                </div>
                                                <!-- nội dung khuyến mại -->
                                                <hr>
                                                <h2>Hiệu lực thời gian</h2>
                                                <div class="col-md-12">
                                                    <label>Ngày bắt đầu:</label>
                                                    <input class="form-control" type="datetime-local" id="ngayBatDau"
                                                           step=60
                                                           name="ngayBatDau">
                                                </div>
                                                <div class="col-md-12">
                                                    <label>Ngày kết thúc:</label>
                                                    <input class="form-control" type="datetime-local" id="ngayKetThuc"
                                                           step=60
                                                           name="ngayKetThuc">
                                                </div>
                                                <!-- các sản phẩm được áp dungj -->
                                                <h2>Các sản phẩm được áp dụng</h2>
                                                <div style="height: 200px; overflow-y: scroll;" id="bookList">
                                                    <div th:each="sach : ${sachs}" class="bookItem">
                                                        <input type="checkbox"
                                                               th:id="'sachCheckbox_' + ${sach.idSach}"
                                                               th:name="'sachKM'"
                                                               th:value="${sach.idSach}"/>
                                                        <label th:for="'sachCheckbox_' + ${sach.idSach}"
                                                               th:text="${sach.maSach} + ' '+${sach.tenSach}  + ' '+${sach.giaBanVnd}"></label><br/>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- các sản phẩm được áp dungj -->
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy
                                            </button>
                                            <button type="submit"
                                                    onclick="return confirm('Bạn có chắc thêm khuyến mại không?')"
                                                    class="btn btn-primary">Lưu
                                            </button>
                                        </div>
                                        <!-- end lưu, hủy modal ngoài -->
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <th:block th:if="${not khuyenMaiPages.isEmpty()}">
                        <table class="table" style="border: 0px solid blue;">
                            <thead class="table-dark">
                            <tr>
                                <th>Id chương trình</th>
                                <th>Tên chương trình</th>
                                <th>Số phần trăm giảm giá</th>
                                <th>Ngày bắt đầu</th>
                                <th>Ngày kết thúc</th>
                                <th>Trạng thái áp dụng</th>
                                <th>Trạng thái hiển thị</th>
                                <th>Hành Động</th>
                            </tr>
                            </thead>
                            <tbody th:each="khuyenmai, iterStat : ${khuyenMaiPages.content}">
                            <tr>
                                <td th:text="${khuyenmai.idKhuyenMai}"></td>
                                <td th:text="${khuyenmai.tenKhuyenMai}"></td>
                                <td th:text="${khuyenmai.soPhanTramGiamGia}"></td>
                                <td th:text="${khuyenmai.ngayBatDau}"></td>
                                <td th:text="${khuyenmai.ngayKetThuc}"></td>
                                <td th:text="${khuyenmai.trangThai == 1 ? 'Đang kích hoạt' : 'Không kích hoạt'}"></td>
                                <td th:text="${khuyenmai.trangThaiHienThi == 1 ? 'Hiển Thị' : 'Không hiển thị'}"></td>
                                <td>
                                    <!--                                xem-->
                                    <button type="button" class="btn btn-outline-info"
                                            data-toggle="modal"
                                            th:attr="data-target='#viewSachKhuyenMai-' + ${khuyenmai.idKhuyenMai}"
                                            style="width: auto;height: auto;">
                                        <i class="fa-solid fa-eye"></i>
                                    </button>

                                    <!--                                sửa-->
                                    <button type="button" class="btn btn-outline-info"
                                            data-toggle="modal"
                                            th:attr="data-target='#vieweditmodalKM-' + ${khuyenmai.idKhuyenMai}"
                                            style="width: auto;height: auto;">
                                        <i class="fa-solid fa-pen"></i>
                                    </button>
                                    <!--                                     xóa-->
                                    <a th:href="@{'/quan-ly/delete-khuyen-mai/' + ${khuyenmai.idKhuyenMai}}"
                                       class="btn btn-danger"
                                       onclick="return confirm('Chỉ được phép xóa các khuyến mãi mà chưa có đơn hàng nào áp dụng, xác nhận xóa?')">Xóa</a>
                                </td>
                            </tr>

                            <!--                        start eidtKM-->
                            <!--                        <td class="editKM">-->

                            <div class="modal fade" th:id="'vieweditmodalKM-' +${khuyenmai.idKhuyenMai}"
                                 tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="editModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editModalLabel">Sửa Danh Sách Khuyến Mãi</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <!--start nội dung modal -->
                                        <div class="modal-body">
                                            <form th:action="@{/quan-ly/khuyen-mai/cap-nhat}" method="post"
                                                  enctype="multipart/form-data">
                                                <div class="input-field">
                                                    <input type="text" id="idKhuyenMai" class="form-control"
                                                           name="idKhuyenMai" th:value="${khuyenmai.idKhuyenMai}"
                                                           hidden/>
                                                </div>
                                                <div class="input-field">
                                                    <label> Tên Khuyến Mãi</label>
                                                    <input type="text" id="tenKhuyenMai" class="form-control"
                                                           name="tenKhuyenMai" th:value="${khuyenmai.tenKhuyenMai}"/>
                                                </div>
                                                <div class="input-field">
                                                    <label> Số phần trăm giảm giá</label>
                                                    <input type="text" id="soPhanTramGiamGia" class="form-control"
                                                           name="soPhanTramGiamGia"
                                                           th:value="${khuyenmai.soPhanTramGiamGia}"/>
                                                </div>
                                                <div class="input-field">
                                                    <label> Ngày Bắt Đầu</label>
                                                    <input type="datetime-local" id="ngayBatDau" class="form-control"
                                                           name="ngayBatDau" th:value="${khuyenmai.ngayBatDau}"/>
                                                </div>
                                                <div class="input-field">
                                                    <label> Ngày Kết Thúc</label>
                                                    <input type="datetime-local" id="ngayKetThuc" class="form-control"
                                                           name="ngayKetThuc" th:value="${khuyenmai.ngayKetThuc}"/>
                                                </div>
                                                <div class="input-field">
                                                    <label>Trạng Thái</label>
                                                    <input class="form-control"
                                                           th:value="${khuyenmai.trangThai == 1 ? 'Đang kích hoạt': 'Không kích hoạt'}"/>
                                                </div>
                                                <div class="input-field">
                                                    <label>Trạng Thái Hiển Thị</label>
                                                    <select class="form-control" id="trangThaiHienThi"
                                                            name="trangThaiHienThi">
                                                        <option value="1"
                                                                th:selected="${khuyenmai.trangThaiHienThi == 1}">
                                                            Hiển thị
                                                        </option>
                                                        <option value="0"
                                                                th:selected="${khuyenmai.trangThaiHienThi == 0}">
                                                            Không hiển thị
                                                        </option>
                                                    </select>
                                                </div>

                                                <div class="image-container">
                                                    <label th:for="'editlinkBannerKhuyenMai-' + ${khuyenmai.idKhuyenMai}">
                                                        <img th:src="@{|${khuyenmai.linkBannerKhuyenMai}|}"
                                                             th:id="'editviewLinkBannerKhuyenMai-' + ${khuyenmai.idKhuyenMai}"
                                                             alt="linkBannerKhuyenMai" width="88px" height="88px"
                                                             th:onclick="'editImage(\'' + 'editlinkBannerKhuyenMai-' + ${khuyenmai.idKhuyenMai} + '\', \'checkthayDoiBannerKhuyenMai-' + ${khuyenmai.idKhuyenMai} + '\')'"/>
                                                    </label>
                                                    <input type="text" name="checkthayDoiBannerKhuyenMai"
                                                           th:id="'checkthayDoiBannerKhuyenMai-' + ${khuyenmai.idKhuyenMai}"
                                                           value="chuaThayDoi"
                                                           hidden>
                                                    <input type="file" class="custom-file-input"
                                                           th:id="'editlinkBannerKhuyenMai-' + ${khuyenmai.idKhuyenMai}"
                                                           name="editlinkBannerKhuyenMai" accept="image/*"
                                                           th:attr="onchange='displayImage(this, \'editviewLinkBannerKhuyenMai-' + ${khuyenmai.idKhuyenMai} + '\')'"/>
                                                    <button class="delete-button"
                                                            th:attr="onclick=|deleteImage('editviewLinkBannerKhuyenMai-${khuyenmai.idKhuyenMai}', 'editlinkBannerKhuyenMai-${khuyenmai.idKhuyenMai}', 'checkthayDoiBannerKhuyenMai-${khuyenmai.idKhuyenMai}', event)|">
                                                        Xóa Ảnh
                                                    </button>
                                                </div>

                                                <div class="image-container">
                                                    <label th:for="'editlinkAnhKhuyenMai-' + ${khuyenmai.idKhuyenMai}">
                                                        <img th:src="@{|${khuyenmai.linkAnhKhuyenMai}|}"
                                                             th:id="'editviewLinkAnhKhuyenMai-' + ${khuyenmai.idKhuyenMai}"
                                                             alt="linkAnhKhuyenMai" width="88px" height="88px"
                                                             th:onclick="'editImage(\'' + 'editlinkAnhKhuyenMai-' + ${khuyenmai.idKhuyenMai} + '\', \'checkthayDoiAnhKhuyenMai-' + ${khuyenmai.idKhuyenMai} + '\')'"/>
                                                    </label>
                                                    <input type="text" name="checkthayDoiAnhKhuyenMai"
                                                           th:id="'checkthayDoiAnhKhuyenMai-' + ${khuyenmai.idKhuyenMai}"
                                                           value="chuaThayDoi"
                                                           hidden>
                                                    <input type="file" class="custom-file-input"
                                                           th:id="'editlinkAnhKhuyenMai-' + ${khuyenmai.idKhuyenMai}"
                                                           name="editlinkAnhKhuyenMai" accept="image/*"
                                                           th:attr="onchange='displayImage(this, \'editviewLinkAnhKhuyenMai-' + ${khuyenmai.idKhuyenMai} + '\')'"/>
                                                    <button class="delete-button"
                                                            th:attr="onclick=|deleteImage('editviewLinkAnhKhuyenMai-${khuyenmai.idKhuyenMai}', 'editlinkAnhKhuyenMai-${khuyenmai.idKhuyenMai}', 'checkthayDoiAnhKhuyenMai-${khuyenmai.idKhuyenMai}', event)|">
                                                        Xóa Ảnh
                                                    </button>
                                                </div>

                                                <div class="input-field">
                                                    <label>Sản phẩm</label>
                                                    <div id="sachContainer1">
                                                        <input type="text" id="searchInput"
                                                               placeholder="Nhập từ khóa tìm kiếm"/>

                                                        <div style="height: 200px; overflow-y: scroll;" id="bookList">
                                                            <div th:each="sachh : ${sachs}" class="bookItem">
                                                                <input type="checkbox"
                                                                       th:id="'sachCheckbox_' + ${sachh.idSach}"
                                                                       th:name="'sachKM2'"
                                                                       th:value="${sachh.idSach}"
                                                                       th:checked="${khuyenmai.sachs.contains(sachh)}"/>
                                                                <label th:for="'sachCheckbox_' + ${sachh.idSach}"
                                                                       th:text="${sachh.maSach} + ' '+${sachh.tenSach}  + ' '+${sachh.giaBanVnd}"></label><br/>
                                                            </div>
                                                        </div>
                                                        <script th:inline="javascript">
                                                            var bookItems = document.getElementsByClassName('bookItem');

                                                            document.getElementById('searchInput').addEventListener('input', function () {
                                                                var keyword = this.value.toLowerCase();

                                                                Array.from(bookItems).forEach(function (item) {
                                                                    var label = item.querySelector('label');
                                                                    var labelText = label.innerText.toLowerCase();

                                                                    if (labelText.includes(keyword)) {
                                                                        item.style.display = 'block';
                                                                    } else {
                                                                        item.style.display = 'none';
                                                                    }
                                                                });
                                                            });
                                                        </script>


                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-primary" id="saveEditBtn"
                                                        onclick="return confirm('Bạn có muốn cập nhật khuyến mại')">Lưu
                                                </button>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <form th:action="@{/quan-ly/khuyen-mai/cap-nhat-ngung-hoat-dong}"
                                                  method="post"
                                                  enctype="multipart/form-data">
                                                <div class="input-field">
                                                    <input type="text" id="idKhuyenMai" class="form-control"
                                                           name="idKhuyenMai" th:value="${khuyenmai.idKhuyenMai}"
                                                           hidden/>
                                                </div>
                                                <button class="btn btn-danger" type="submit"
                                                        onclick="return confirm=('Thay đổi trạng thái hoạt động của khuyến mại')">
                                                    Trạng Thái Ngừng Kích Hoạt
                                                </button>
                                            </form>
                                            <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Đóng
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!--                        </td>-->

                            <div class="modal fade"
                                 th:id="'viewSachKhuyenMai-' +${khuyenmai.idKhuyenMai}"
                                 tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Chi tiết danh sách khuyến
                                                mại</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="thongTin">
                                                <h2>Thông tin</h2>
                                                <strong>ID chương trình:</strong>
                                                <input class="form-control" th:value="${khuyenmai.idKhuyenMai}"
                                                       disabled/>
                                                <strong>Số phần trăm giảm giá:</strong>
                                                <input class="form-control" th:value="${khuyenmai.soPhanTramGiamGia}"
                                                       disabled/>
                                                <strong>Ngày bắt đầu:</strong>
                                                <input class="form-control" th:value="${khuyenmai.ngayBatDau}"
                                                       disabled/>
                                                <strong>Ngày kết thúc:</strong>
                                                <input class="form-control" th:value="${khuyenmai.ngayKetThuc}"
                                                       disabled/>
                                                <strong>Trạng thái:</strong>
                                                <input class="form-control"
                                                       th:value="${khuyenmai.trangThai == 1 ? 'Đang kích hoạt': 'Không kích hoạt'}"
                                                       disabled/>
                                                <strong>Trạng thái hiển thị:</strong>
                                                <input class="form-control"
                                                       th:value="${khuyenmai.trangThaiHienThi == 1 ? 'Hiển thị': 'Không hiển thị'}"
                                                       disabled/>

                                                <h6 class="product-images">Ảnh:</h6>
                                                <img th:src="@{|${khuyenmai.linkBannerKhuyenMai}|}" id="viewLinkAnh1"
                                                     alt="linkBannerKhuyenMai"
                                                     width="88px" height="88px">
                                                <img th:src="@{|${khuyenmai.linkAnhKhuyenMai}|}" id="viewLinkAnh2"
                                                     alt="linkAnhKhuyenMai"
                                                     width="88px" height="88px">

                                            </div>
                                            <hr>
                                            <div class="hangHoa">
                                                <h3>Hàng Hóa - Mua Hàng Khuyến Mại</h3>
                                                <i>Số lượng hàng khuyến mại nhân theo số lượng mua</i>
                                                <ul>
                                                    <li th:each="sachKhuyenMai : ${khuyenmai.sachs}">
                                                        <p>
                                                            <strong>Mã mặt hàng:</strong>
                                                            <input class="form-control"
                                                                   th:value="${sachKhuyenMai.maSach}"
                                                                   disabled/>
                                                            <strong>Tên mặt hàng:</strong>
                                                            <input class="form-control"
                                                                   th:value="${sachKhuyenMai.tenSach}"
                                                                   disabled/>
                                                            <strong>Giá gốc:</strong>
                                                            <input class="form-control"
                                                                   th:value="${sachKhuyenMai.giaBanVnd}"
                                                                   disabled/>
                                                            <strong>Giá hiện tại:</strong>
                                                            <input class="form-control"
                                                                   th:value="${sachKhuyenMai.layGiaNeuCoKhuyenMai()}"
                                                                   disabled/>
                                                            <strong>Phần Trăm giảm:</strong>
                                                            <input class="form-control"
                                                                   th:value="${khuyenmai.soPhanTramGiamGia}" disabled/>
                                                        </p>
                                                        <br>
                                                        <hr>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            </tbody>
                        </table>

                        <!--                        end eidtKM-->

                        <!--         start       viewKM-->

                        <!--             end   viewKM-->


                        <th:block th:if="${khuyenMaiPages.isEmpty()}">
                            <h2>Không có dữ liệu nào cả!!!</h2>
                        </th:block>
                        <h6 style="color: red;"><b><i>Đang có <span th:text="${khuyenMaiPages.totalElements}"></span>
                            khuyến mại!</i> </b></h6>

                        <div>
                        <span th:if="${khuyenMaiPages.number + 1 > 1}">
                            <a th:href="@{'/quan-ly/khuyen-mai/hien-thi?page=' + ${khuyenMaiPages.number}}">Previous</a>
                        </span>
                            <span th:text="${khuyenMaiPages.number + 1} + ' / ' + ${khuyenMaiPages.totalPages}"></span>
                            <span th:if="${khuyenMaiPages.number + 1 < khuyenMaiPages.totalPages}">
                            <a th:href="@{'/quan-ly/khuyen-mai/hien-thi?page=' + ${khuyenMaiPages.number + 2}}">Next</a>
                        </span>
                            </span>
                        </div>

                    </th:block>

                </div>
            </div>
        </div>
    </div>
    <!-- Trong trang Thymeleaf -->
    <p th:if="${param.thongBaoXoaKhuyenMai}">
        <span id="thongBaoXoaID" th:text="${param.thongBaoXoaKhuyenMai}"></span>
    </p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="/admin/quanly/js/khuyenmai.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</article>
</body>
</html>