<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layoutchung/mainLayout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0"/>
    <link rel='stylesheet' href='https://unpkg.com/owl.carousel@2.3.4/dist/assets/owl.carousel.min.css'>
    <!--    <link rel="stylesheet" href="/user/css/sanpham_km.css">-->
</head>
<body>
<article layout:fragment="noiDung">
    <div class="container">
        <div class="type-product">
            <div class="box-img">
                <div th:each="sm : ${listSach}" class="product-item">
                    <img th:src="${sm.linkAnh1}" th:alt="${sm.tenSach}">
                    <div class="product-infor">
                        <div class="box-origin">

                        </div>
                        <div class="txt-name" style="text-align: center;">
                            <h3 th:text="${sm.tenSach}"></h3>
                        </div>
                        <div class="btn-right">
                            <div class="btn-cust btn-love">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </div>
                            <div class="btn-cust btn-share">
                                <i class="fa fa-share-alt" aria-hidden="true"></i>
                            </div>
                        </div>

                        <div class="nxb" style="padding-top: 15px;text-align: left; padding-left: 70px;">
                            <div class="row">
                                <div class="col-6"><h3>Nhà xuất bản : </h3></div>
                                <div class="col-6" style="color: blue;"><h3>Kim Đồng</h3></div>
                            </div>
                        </div>

                        <div class="nxb" style="padding-top: 15px;text-align: left; padding-left: 70px;">
                            <!--                                    <div class="row">-->
                            <!--                                        <div class="col-6"><h3>Tác giả : </h3></div>-->
                            <!--                                        <div>-->
                            <!--                                            <a th:href="@{/trang-chu/detail(idTacGia=${tacgia.idTacGia})}">View Author</a>-->
                            <!--                                        </div>-->

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"
                                 fill="currentColor" class="bi bi-star" viewBox="0 0 16 16"
                                 style="padding-top: 15px; padding-left: 70px;">
                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"
                                 fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"
                                 fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"
                                 fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"
                                 fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26"
                                 fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                            </svg>
                        </div>
                        <div class="col-6" style="padding-top: 1px;text-align: left; padding-left: 50px;">
                            <h3 style="color:rgb(163, 163, 72);">(0 Đánh Giá)</h3>
                        </div>
                    </div>

                    <div class="nxb" style="padding-top: 15px;text-align: left; padding-left: 70px;">
                        <div class="row">
                            <div class="col-6"><h4 th:text="${sm.giaBan} + ' đ'"></h4><br> <span
                                    class="final-price">Giá Gốc :78.235 VNĐ</span></div>
                            <div class="col-6" style="color: blue;">
                                <button type="button" class="btn btn-danger"
                                        style="margin-top: 10px; margin-left: 0px;">15%
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="nxb" style="padding-top: 15px;text-align: left; padding-left: 70px;">
                        <div class="row">
                            <div class="col-6">
                                <p class="txt-cate">
                                <h3>Số Lượng</h3></p>
                            </div>
                            <div class="col-6">
                                <div class="box-number" style="margin-top:25px ;">
                                    <input type="text" name="soLuongTonKho" th:value="${sm.soLuongTonKho}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-bottom">
                        <div class="extra-img">
                            <div class="img-item item-1" onclick="changeImgType(1)">
                                <img th:src="${sm.linkAnh2}" th:alt="${sm.tenSach}"
                                     style="width:50px; height: 50px;"/>
                            </div>
                            <div class="img-item item-2" onclick="changeImgType(2)">
                                <img th:src="${sm.linkAnh3}" th:alt="${sm.tenSach}"
                                     style="width:50px; height: 50px;"/>
                            </div>
                            <div class="img-item item-3" onclick="changeImgType(3)">
                                <img th:src="${sm.linkAnh4}" th:alt="${sm.tenSach}"
                                     alt="item" style="width:50px; height: 50px;"/>
                            </div>
                            <div class="img-item item-4" onclick="changeImgType(4)">
                                <img th:src="${sm.linkAnh1}" th:alt="${sm.tenSach}"
                                     style="width:50px; height: 50px;"/>
                            </div>
                            <div class="img-item item-5" onclick="changeImgType(5)">
                                <img th:src="${sm.linkAnh2}" th:alt="${sm.tenSach}"
                                     style="width:50px; height: 50px;"/>
                            </div>
                        </div>
                    </div>
                    <div class="box-btn">
                        <div class="btn-add" style="margin-left: 60px;">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            Thêm vào giỏ hàng
                        </div>
                        <div class="btn-order" style="text-align: center;">
                            Mua ngay
                        </div>
                    </div>
                    <div class="similar-product">
                        <p class="tt-main">
                        <h3>Sản phẩm Liên quan</h3></p>
                        <div class="row" style="padding-left: 65px;">
                            <div class="col-2">
                                <img th:src="${sm.linkAnh2}" th:alt="${sm.tenSach}"
                                     style="width:250px; height: 270px;">
                                <h6 th:text="${sm.tenSach}"></h6>
                                <div class="textmoney">
                                    <h4 th:text="${sm.giaBan} + ' đ'"></h4>
                                </div>
                            </div>
                            <div class="col-2">
                                <img th:src="${sm.linkAnh3}" th:alt="${sm.tenSach}"
                                     style="width:250px; height: 270px;">
                                <h6 th:text="${sm.tenSach}"></h6>
                                <div class="textmoney">
                                    <h4 th:text="${sm.giaBan} + ' đ'"></h4>
                                </div>

                            </div>
                            <div class="col-2">
                                <img th:src="${sm.linkAnh4}" th:alt="${sm.tenSach}"
                                     style="width:250px; height: 270px;">
                                <h6 th:text="${sm.tenSach}"></h6>
                                <div class="textmoney">
                                    <h4 th:text="${sm.giaBan} + ' đ'"></h4>
                                </div>
                            </div>
                            <div class="col-2">
                                <img th:src="${sm.linkAnh1}" th:alt="${sm.tenSach}"
                                     style="width:250px; height: 270px;">
                                <h6 th:text="${sm.tenSach}"></h6>
                                <div class="textmoney">
                                    <h4 th:text="${sm.giaBan} + ' đ'"></h4>
                                </div>
                                <div class="col-2">
                                    <img th:src="${sm.linkAnh1}" th:alt="${sm.tenSach}"
                                         style="width:250px; height: 270px;">
                                    <h6 th:text="${sm.tenSach}"></h6>
                                    <div class="textmoney">
                                        <h4 th:text="${sm.giaBan} + ' đ'"></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="btdo" style="padding-top: 35px; padding-bottom: 35px; text-align: center;">
                                <button type="button" class="btn btn-danger">Xem thêm</button>
                            </div>
                        </div>

                        <section style="background-color: white; width: auto; height: auto;">
                            <ul class="nav justify-content-center" style="background-color: red; ">

                                <li class="nav-item">
                                    <a class="nav-link" href="./thongtin.html" style="color: black;"><h5>Thông tin</h5>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " href="#" style="color: black;"><h5>Đánh giá</h5></a>
                                </li>
                            </ul>


                            <div class="table-responsive" style="  border: 1px solid black">
                                <table class="table align-middle">
                                    <tbody>
                                    <tr>
                                    </tr>
                                    <tr class="align-bottom">

                                    </tr>
                                    <tr>
                                        <td>Ninh Viết Thành</td>
                                        <td></td>
                                        <td class="align-top"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>14/2/2023</td>
                                    </tr>
                                    <tr>
                                        <td>Lời Bình Luận thứ 1 <br>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor"
                                                 class="bi bi-star" viewBox="0 0 16 16" style="color: yellow;">
                                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor"
                                                 class="bi bi-star" viewBox="0 0 16 16" style="color: yellow;">
                                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor"
                                                 class="bi bi-star" viewBox="0 0 16 16" style="color: yellow;">
                                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor"
                                                 class="bi bi-star" viewBox="0 0 16 16">
                                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor"
                                                 class="bi bi-star" viewBox="0 0 16 16">
                                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                            </svg>

                                        </td>
                                        <td></td>
                                        <td class="align-top"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>

                                    </tr>

                                    <tr>
                                        <td>Vũ Tuấn Anh</td>
                                        <td></td>
                                        <td class="align-top"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>14/2/2023</td>
                                    </tr>
                                    <tr>
                                        <td>Lời Bình Luận thứ 2 <br>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor"
                                                 class="bi bi-star" viewBox="0 0 16 16" style="color: yellow;">
                                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor"
                                                 class="bi bi-star" viewBox="0 0 16 16" style="color: yellow;">
                                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor"
                                                 class="bi bi-star" viewBox="0 0 16 16" style="color: yellow;">
                                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor"
                                                 class="bi bi-star" viewBox="0 0 16 16">
                                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                            </svg>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor"
                                                 class="bi bi-star" viewBox="0 0 16 16">
                                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                            </svg>

                                        </td>
                                        <td></td>
                                        <td class="align-top"></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <h4 style="padding-left: 40px; padding-top: 30px;">Viết 1 đánh giá</h4>
                            <div class="row" style="width:auto; height: 350px;">
                                <div class="col-4" style="padding-top: 14px; text-align: left; padding-left: 50px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="currentColor"
                                         class="bi bi-asterisk" viewBox="0 0 16 16" style="color: red;">
                                        <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"/>
                                    </svg>
                                    Viết đánh gía
                                </div>
                                <div class="col-8">
                                    <div class="comment-box">

                                        <div class="comment-list">
                                            <!-- Danh sách bình luận sẽ được thêm ở đây -->
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row" style="width:auto; height: 150px; ">
                                <div class="col-4" style="padding-top: 14px; text-align: left; padding-left: 50px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="currentColor"
                                         class="bi bi-asterisk" viewBox="0 0 16 16" style="color: red;">
                                        <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"/>
                                    </svg>
                                    Số sao
                                </div>
                                <div class="col-8" style="padding-top: 15px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-record-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button class="previous-button">|<< Previous</button>
                                    <button class="one-button">1</button>
                                    <button class="previous-button"> Previous >>|</button>
                                </div>
                                <div class="col-6" style="text-align: right;">
                                    <button class="previous-button">Gửi đánh giá</button>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </div>

</article>

</body>
<script src="/user/js/ctsp.js"></script>
</html>