<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layoutchung/mainLayout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Giỏ hàng</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/user/css/cart.css">

</head>
<body>
<article layout:fragment="noiDung">
    <div class="wrap cf">
        <div class="heading cf">
            <h1>Giỏ hàng của tôi</h1>
            <a href="/trang-chu" class="continue">Tiếp tục mua </a>
        </div>
        <div class="cart">
            <ul class="cartWrap">
                <li class="items">
                    <input type="checkbox" id="selectAll"> Chọn tất cả
                </li>
                <!-- Lặp qua danh sách sản phẩm từ controller -->
                <li class="items odd" th:each="item : ${danhSachSanPhamTrongGioHang}">
                    <input type="checkbox" class="item-checkbox" th:name="SachDaChonDeMua"
                           th:value="${item.idGioHangChiTiet}">
                    <div class="infoWrap">
                        <div class="cartSection">
                            <!-- Sử dụng biểu thức Thymeleaf để đổ dữ liệu động -->
                            <img th:src="${item.sach.linkAnh1}" alt="" class="itemImg"/>
                            <p class="itemNumber" th:text="${item.sach.idSach}" name="idSachgh"></p>
                            <h3 th:text="${item.sach.tenSach}"></h3>
                            <form th:action="@{'/gio-hang/cap-nhat-luong-san-pham?idGioHangChiTiet=' + ${item.idGioHangChiTiet}}"
                                  method="post">
                                <p class="qty-control">
                                    <input type="hidden" th:value="${item.sach.idSach}" name="idSachgh">
                                    <input type="text" class="qty" th:value="${item.soLuong}" name="soLuongSach"
                                           id="soLuongSach"/>
                                </p>
                                <!-- Thêm phần tử cho biểu tượng loading -->

<!--                                <button type="submit" class="btn btn">-->
<!--                                    <i class="fa-solid fa-rotate-right fa-l" style="color: #f96515;"></i>-->
<!--                                </button>-->
                                <script>
                                    $(document).ready(function() {
                                        // Khi giá trị của input thay đổi
                                        $("#soLuongSach").change(function() {
                                            updateQuantity(this);
                                        });
                                    });

                                    function updateQuantity(input) {
                                        // Lấy giá trị mới từ input
                                        var newQuantity = input.value;

                                        // Hiển thị biểu tượng loading
                                        $("#loadingIcon").show();

                                        // Gửi yêu cầu AJAX để cập nhật số lượng
                                        $.ajax({
                                            type: "POST",
                                            url: "/update-quantity", // Đặt URL cập nhật số lượng của bạn
                                            data: {
                                                idSach: $(input).siblings('[name="idSachgh"]').val(),
                                                soLuong: newQuantity
                                            },
                                            success: function(data) {
                                                // Xử lý kết quả từ máy chủ (nếu cần)
                                                console.log("Cập nhật số lượng thành công!");

                                                // Ẩn biểu tượng loading
                                                $("#loadingIcon").hide();
                                            },
                                            error: function(error) {
                                                console.error("Lỗi khi cập nhật số lượng:", error);

                                                // Ẩn biểu tượng loading
                                                $("#loadingIcon").hide();
                                            }
                                        });
                                    }
                                </script>
                            </form>
                            <div th:if="${item.sach.layGiaNeuCoKhuyenMai() == null}" class="text-muted">
                                <div class="pricesale">
                                    <p th:text="${item.sach.giaBanVnd}"></p>
                                </div>
                            </div>
                            <div th:if="${item.sach.layGiaNeuCoKhuyenMai() != null}">
                                <del class="text-muted" th:text="${item.sach.giaBanVnd}"></del>
                                <div class="pricesale">
                                    <p th:text="${item.sach.layGiaNeuCoKhuyenMai()}"></p>
                                </div>
                            </div>
                        </div>
                        <div class="cartSection removeWrap">
                            <a th:if="${loggedInUser != null}"
                               th:href="@{'/gio-hang/xoa-san-pham-khoi-gio?idGioHangChiTiet=' + ${item.idGioHangChiTiet} +'&idSachgh='}"
                               class="remove">x</a>
                            <a th:if="${loggedInUser == null}"
                               th:href="@{'/gio-hang/xoa-san-pham-khoi-gio?idSachgh=' + ${item.sach.idSach} + '&idGioHangChiTiet='}"
                               class="remove">x</a>
                        </div>


                    </div>
                </li>
            </ul>
        </div>
        <!-- Thêm nút thanh toán sau phần tổng tiền -->
        <div class="subtotal cf">
            <ul>
                <li class="totalRow">
                    <span class="label">Thành Tiền</span>
                    <!-- Bạn có thể tính tổng giá động trong controller và truyền vào đây -->
                    <span class="value"></span>
                </li>
                <li class="totalRow"><a href="#" class="btn continue" id="checkoutButton">Checkout</a></li>
                <script th:inline="javascript">
                    /* Thêm mã JavaScript Thymeleaf để xử lý khi nhấp vào nút thanh toán */
                    document.getElementById('checkoutButton').addEventListener('click', function () {
                        // Lấy danh sách giá trị của checkbox được chọn
                        var selectedCheckboxValues = [];
                        var checkboxes = document.querySelectorAll('.item-checkbox:checked');
                        checkboxes.forEach(function (checkbox) {
                            selectedCheckboxValues.push(checkbox.value);
                        });

                        // Chuyển đổi mảng thành chuỗi
                        var selectedValuesString = selectedCheckboxValues.join(',');

                        // Tạo URL với giá trị được chọn và chuyển hướng
                        var url = '/thanh-toan/xac-nhan-thanh-toan?selectedValues=' + encodeURIComponent(selectedValuesString);
                        window.location.href = url;
                    });
                </script>
            </ul>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="/user/js/cart.js"></script>
</article>
</body>
</html>s
