<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layoutchung/mainLayout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi Tiết Sản Phẩm </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0"/>
    <link rel='stylesheet' href='https://unpkg.com/owl.carousel@2.3.4/dist/assets/owl.carousel.min.css'>
    <link rel="stylesheet" href="/user/css/ChiTietKhuyenMai.css">
</head>
<body>
<article layout:fragment="noiDung">
    <form id="addToCartForm" th:action="@{/gio-hang/them-san-pham-vao-gio}" method="post">
        <div class="type-product">

            <div class="product-main">
                <input type="hidden" name="idSach" id="idSach" th:value="${listSach.idSach}"/>
                <div class="box-img">
                    <img th:src="${listSach.linkAnh1}" width="460px" height="460px" alt="product"/>
                    <img th:src="${listSach.linkAnh2}" width="88px" height="88px" alt="item"/>
                    <img th:src="${listSach.linkAnh3}" width="88px" height="88px" alt="item"/>
                    <img th:src="${listSach.linkAnh4}" width="88px" height="88px" alt="item"/>
                    <img th:src="${listSach.linkAnh5}" width="88px" height="88px" alt="item"/>
                </div>
                <div class="product-infor">
                    <div class="txt-name" th:text="${listSach.tenSach}"></div>
                    <div class="btn-right">
                        <div class="btn-cust btn-love">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="box-price">
                            <span class="text-muted" th:if="${listSach.layGiaNeuCoKhuyenMai() == null}"
                                  th:text="${listSach.giaBanVnd}">
                            </span>
                        <del class="text-muted" th:if="${listSach.layGiaNeuCoKhuyenMai() != null}"
                              th:text="${listSach.giaBanVnd }"></del>
                        <span class="price-sale" th:text="${listSach.layGiaNeuCoKhuyenMai()}"></span>
                        <div th:if="${listSach.layPhanTramGiamNeuCoKhuyenMai() != null}">
                            <span class="per-sale btn btn-warning" th:text="${listSach.layPhanTramGiamNeuCoKhuyenMai() + '%'}"></span>
                        </div>
                    </div>
                    <p class="txt-cate">Số lượng tồn kho:
                        <span th:text="${listSach.soLuongTonKho}"></span>
                    </p>
                    <div th:if="${not #lists.isEmpty(listSach.theLoais)}">
                        <p class="txt-color">
                            <span class="txt1">Thể Loại:</span>
                            <span class="txt2" th:text="${listSach.theLoais[0].tenTheLoai}"></span>
                            <span th:each="otherGenre, iterStat : ${listSach.theLoais}" th:if="${iterStat.index > 0}">
                            <span th:text="${', ' + otherGenre.tenTheLoai}"></span>
                        </span>
                        </p>
                    </div>
                    <div th:if="${not #lists.isEmpty(listSach.tacgia)}">
                        <p class="txt-color">
                            <span class="txt1">Tác Giả:</span>
                            <span class="txt2" th:text="${listSach.tacgia[0].hoVaTen}"></span>
                            <span th:each="otherAuthor, iterStat : ${listSach.tacgia}" th:if="${iterStat.index > 0}">
                            <span th:text="${', ' + otherAuthor.hoVaTen}"></span>
                        </span>
                        </p>
                    </div>
                    <p class="txt-cate">Số lượng mua hàng:</p>
                    <div class="soLuong">
                        <input class="form-control" value="1" id="soLuongCanMua" name="soLuongCanMua" type="number"/>
                    </div>
                    <div class="product-bottom">
                        <div class="box-btn">
                            <button type="button" onclick="addToCart()" class="btn-add form-control">
                                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                Thêm vào giỏ hàng
                            </button>
                            <button type="submit" class="btn-order form-control ">
                                Mua ngay
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
        function addToCart() {
            // Lấy giá trị từ số lượng
            var soLuongCanMua = document.getElementById("soLuongCanMua").value;

            // Thêm giá trị số lượng vào form
            document.getElementById("addToCartForm").querySelector("[name='soLuongCanMua']").value = soLuongCanMua;

            // Gửi yêu cầu POST không đồng bộ bằng JavaScript
            var formData = new FormData(document.getElementById("addToCartForm"));
            var xhr = new XMLHttpRequest();

            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        // Xử lý kết quả nếu cần thiết
                        console.log("Sản phẩm đã được thêm vào giỏ hàng thành công!");
                    } else {
                        // Xử lý lỗi nếu cần thiết
                        console.error("Có lỗi xảy ra khi thêm vào giỏ hàng.");
                    }
                }
            };

            xhr.open("POST", "/gio-hang/them-san-pham-vao-gio", true);
            xhr.send(formData);
        }
    </script>
    <div class="danh-gia-chat-container">
        <div id="danh-gia-container">
            <form th:action="@{/danh-gia/them-danh-gia}" method="post" id="danh-gia-form">
                <!-- Thêm các trường cần thiết, ví dụ: -->
                <input type="hidden" name="idSach" th:value="${listSach.idSach}"/>

                <div class="sao">
                    <input type="radio" name="mucDanhGia" id="sao1" value="1">
                    <label for="sao1">&#9733;</label>
                    <input type="radio" name="mucDanhGia" id="sao2" value="2">
                    <label for="sao2">&#9733;</label>
                    <input type="radio" name="mucDanhGia" id="sao3" value="3">
                    <label for="sao3">&#9733;</label>
                    <input type="radio" name="mucDanhGia" id="sao4" value="4">
                    <label for="sao4">&#9733;</label>
                    <input type="radio" name="mucDanhGia" id="sao5" value="5">
                    <label for="sao5">&#9733;</label>
                </div>

                <textarea id="binh-luan-nhap" name="binhLuan" placeholder="Nhập đánh giá của bạn"></textarea>
                <button class="btn btn-success" type="submit">Gửi Đánh Giá</button>
            </form>
            <div id="danh-sach-binh-luan" th:each="dg, iterStat : ${listdg}">
                <span th:text="${dg.idDanhGia}+' '+${dg.khachHang.hoVaTen}" style="font-size: 13px"></span><br>
                <span  th:utext="${'&#9733;'.repeat(dg.mucDanhGia)}" style="color: gold"></span><br>
                <span th:text="${dg.binhLuan}"></span>
            </div>
        </div>
    </div>
</article>

</body>
</html>