<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layoutchung/mainLayout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi Tiết Khuyến Mại </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0"/>
    <link rel='stylesheet' href='https://unpkg.com/owl.carousel@2.3.4/dist/assets/owl.carousel.min.css'>
        <link rel="stylesheet" href="/user/css/ChiTietKhuyenMai.css">
</head>
<body>
<article layout:fragment="noiDung">
    <div class="type-product" id="type1" th:each="sachKhuyenMai : ${chitietkhuyenmai}">
        <div class="product-main" th:each="sachKhuyenMai2 : ${sachKhuyenMai.sachs}" >
            <div class="box-img">
                <img th:src="${sachKhuyenMai2.linkAnh1}" alt="Chưa có ảnh hiển thị">
            </div>
            <div class="product-infor">

                <div class="txt-name" th:text="${sachKhuyenMai2.tenSach}">

                </div>
                <div class="btn-right">
                    <div class="btn-cust btn-love">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="box-price">
                    <span class="price-sale" th:text="${sachKhuyenMai2.giaBan - (sachKhuyenMai.soPhanTramGiamGia)} + 'đ'"></span>
                    <span class="price-origin" th:text="${sachKhuyenMai2.giaBan} + 'đ'"></span>
                    <span class="per-sale" th:text="${sachKhuyenMai.soPhanTramGiamGia} +'%'"></span>
                </div>
                <p class="txt-color"><span class="txt1">Màu:</span><span class="txt2">Màu trắng</span></p>
                <p class="txt-cate">Số lượng</p>
                <div class="box-number">
                    <span class="txt-sub" onclick="changeNumberProductType('sub')">-</span>
                    <input type="tel" th:value="${sachKhuyenMai2.soLuongTonKho}"  />
                    <span class="txt-plus" onclick="changeNumberProductType('plus')">+</span>
                </div>
            </div>
        </div>
        <div class="product-bottom">
            <div class="extra-img">
                <div class="img-item item-1" onclick="changeImgType(1)">
                    <img class="img-100" src="https://salt.tikicdn.com/cache/w64/ts/product/b0/63/b1/f856b5470d9c453df0a2514f53ac8bf0.jpg" alt="item" />
                </div>
                <div class="img-item item-2" onclick="changeImgType(2)">
                    <img class="img-100" src="https://salt.tikicdn.com/cache/w64/ts/product/7a/fc/d4/b25730007535ce5e47d74f79968f55c8.jpg" alt="item" />
                </div>
                <div class="img-item item-3" onclick="changeImgType(3)">
                    <img class="img-100" src="https://salt.tikicdn.com/cache/w64/ts/product/ac/69/55/7362a8315c57aabcdfec38f64421c805.jpg" alt="item" />
                </div>
                <div class="img-item item-4" onclick="changeImgType(4)">
                    <img class="img-100" src="https://salt.tikicdn.com/cache/w64/ts/product/c2/c3/d1/a4652dfcbc1ebc857b7ced008858bd42.jpg" alt="item" />
                </div>
                <div class="img-item item-5" onclick="changeImgType(5)">
                    <img class="img-100" src="https://salt.tikicdn.com/cache/w64/ts/product/ed/bf/04/44b9fbada67fb5d141f2f577215cf647.jpg" alt="item" />
                </div>
                <div class="img-item" data-toggle="modal" data-target="#viewMoreImg">
                    <img class="img-100" src="https://salt.tikicdn.com/cache/w64/ts/review/b2/28/de/adc380163d0783e5825f1f3b7e770a87.jpg" alt="item" />
                    <span>Xem thêm 13 hình</span>
                </div>
            </div>
            <div class="box-btn">
                <div class="btn-add">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    Thêm vào giỏ hàng
                </div>
                <div class="btn-order">
                    Mua ngay
                </div>
            </div>
        </div>
    </div>
</article>

</body>
<script src="/user/js/ctsp.js"></script>
</html>