
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
   <link rel="stylesheet" href="/bookstore/src/main/resources/static/user/css/son_diachinhanhang.css">
    <link rel="stylesheet" href="/bookstore/src/main/resources/static/user/css/son_layout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"
        integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <section  >
        <article>
            <center><h2>Địa chỉ giao hàng</h3></center>
            <ul class="list-address">
                <li>
                    <input type="radio" name="address"><span>120/68/39 Lê Thoa, KP6, phường Tân Tiến, TP Biên Hòa, tỉnh
                        Đồng Nai</span><a href="#" id="edit"><i class="fa fa-pencil-alt"></i></a></span><a href="#"
                        id="edit"><i class="fa fa-trash"></i></a>
                </li>
                <li>
                    <input type="radio" name="address"><span>120/68/39 Lê Thoa, KP6, phường Tân Tiến, TP Biên Hòa, tỉnh
                        Đồng Nai</span><a href="#" id="edit"><i class="fa fa-pencil-alt"></i></a></span><a href="#"
                        id="edit"><i class="fa fa-trash"></i></a>
                </li>
                <li>
                    <input type="radio" name="address"><span>120/68/39 Lê Thoa, KP6, phường Tân Tiến, TP Biên Hòa, tỉnh
                        Đồng Nai</span><a href="#" id="edit"><i class="fa fa-pencil-alt" bac></i></a></span><a href="#"
                        id="edit"><i class="fa fa-trash"></i></a>
                </li>
                <li>
                    <input type="radio" name="address"><span>120/68/39 Lê Thoa, KP6, phường Tân Tiến, TP Biên Hòa, tỉnh
                        Đồng Nai</span><a href="#" id="edit"><i class="fa fa-pencil-alt"></i></a></span><a href="#"
                        id="edit"><i class="fa fa-trash"></i></a>
                </li>
                <li>
                    <input type="radio" name="address"><span>120/68/39 Lê Thoa, KP6, phường Tân Tiến, TP Biên Hòa, tỉnh
                        Đồng Nai</span><a href="#" id="edit"><i class="fa fa-pencil-alt"></i></a></span><a href="#"
                        id="edit"><i class="fa fa-trash"></i></a>
                </li>
                <br>
                <div class="group btn">
                    <button class="btn-warning" id="addnew">Thêm mới</button>
                </div>
            </ul>
        </article>
    </section>
</body>

</html>
   
    