<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layoutchung/mainLayout}" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Địa chỉ</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Các stylesheet và link khác -->

</head>

<body>
<article layout:fragment="noiDung">
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <section class="col-md-3 menutttk">
                <nav>
                    <h2>Tài Khoản</h2>
                    <ul>
                        <li><a href="/quan-ly/thong-tin/hien-thi">Thông tin tài khoản</a></li>
<!--                        <li><a href="/San-pham-yeu-thich">Sản phẩm yêu thích</a></li>-->
                        <li><a href="/menu-nguoi-dung/dia-chi/hien-thi">Địa chỉ nhận hàng</a></li>
                        <li><a href="/lich-su-don-hang/hien-thi">Lịch sử đơn hàng</a></li>
                    </ul>
                </nav>
            </section>

            <!-- Nội dung chính -->
            <section class="col-md-9">
                <center>
                    <h2>Địa chỉ giao hàng</h2>
                </center>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Tên Người Nhận</th>
                            <th>Số Điện Thoại Nhận Hàng</th>
                            <th>Địa Chỉ</th>
                            <th>Thao tác</th>
                        </tr>
                        </thead>
                        <tbody th:each="diaChi, iterStat : ${pageOfDiaChi}">
                        <tr>
                            <td th:text="${diaChi.tenNguoiNhan}"></td>
                            <td th:text="${diaChi.sdtNguoiNhanHang}"></td>
                            <td th:text="${diaChi.diaChiChu}"></td>
                            <td class="text-left">
<!--                                <button type="button" class="btn btn-outline-info" data-toggle="modal"-->
<!--                                        th:attr="data-target='#viewmodalDC-' + ${diaChi.idDiaChi}"-->
<!--                                        style="width: auto;height: auto;">-->
<!--                                    <i class="fa-solid fa-pen"></i>-->
<!--                                </button>-->
<!--                                &lt;!&ndash; Modal sửa địa chỉ &ndash;&gt;-->
<!--                                <div class="modal fade" th:id="'viewmodalDC-' + ${diaChi.idDiaChi}"-->
<!--                                     tabindex="-1" role="dialog" aria-labelledby="viewModalLabel"-->
<!--                                     aria-hidden="true">-->
<!--                                    <div class="modal-dialog" role="document">-->
<!--                                        <div class="modal-content">-->
<!--                                            <div class="modal-header">-->
<!--                                                <h5 class="modal-title" id="viewModalLabel">Sửa địa chỉ</h5>-->
<!--                                                <button type="button" class="close" data-dismiss="modal"-->
<!--                                                        aria-label="Close">-->
<!--                                                    <span aria-hidden="true">&times;</span>-->
<!--                                                </button>-->
<!--                                            </div>-->
<!--                                            <div class="modal-body">-->
<!--                                                <form th:action="@{/menu-nguoi-dung/dia-chi/sua-dia-chi}"-->
<!--                                                      method="post" enctype="multipart/form-data">-->
<!--                                                    <div class="form-group">-->
<!--                                                        <label>Id Địa chỉ</label>-->
<!--                                                        <input type="text" class="form-control"-->
<!--                                                               th:value="${diaChi.idDiaChi}" disabled>-->
<!--                                                    </div>-->
<!--                                                    <label for="tenNguoiNhan">Tên người nhận</label>-->
<!--                                                    <input name="TenNguoiNhanThemMoi" id="tenNguoiNhan"-->
<!--                                                           class="form-control" type="text">-->

<!--                                                    <label for="sdtnhanhang">Số Điện Thoại nhận hàng</label>-->
<!--                                                    <input name="sdtnhanHangThemMoi" id="sdtnhanhang"-->
<!--                                                           class="form-control" type="text">-->
<!--                                                    <div class="form-group">-->
<!--                                                        <label>Tỉnh Thành Phố</label>-->
<!--                                                        <select name="province" id="modalTinhThanhPho"-->
<!--                                                                class="form-control"></select>-->
<!--                                                    </div>-->
<!--                                                    <div class="form-group">-->
<!--                                                        <label>Quận Huyện</label>-->
<!--                                                        <select name="district" id="modalHuyenQuan"-->
<!--                                                                class="form-control"></select>-->
<!--                                                    </div>-->
<!--                                                    <div class="form-group">-->
<!--                                                        <label>Xã Phường</label>-->
<!--                                                        <select name="ward" id="modalXaPhuong"-->
<!--                                                                class="form-control"></select>-->
<!--                                                    </div>-->
<!--                                                    <div class="form-group">-->
<!--                                                        <label>Địa chỉ cụ thể</label>-->
<!--                                                        <input type="text" th:value="${diaChi.diaChiCuThe}"-->
<!--                                                               class="form-control">-->
<!--                                                    </div>-->
<!--                                                    <button type="submit" class="btn btn-primary"-->
<!--                                                            id="saveEditBtn">Lưu</button>-->
<!--                                                </form>-->
<!--                                            </div>-->
<!--                                            <div class="modal-footer">-->
<!--                                                <button type="button" class="btn btn-secondary"-->
<!--                                                        data-dismiss="modal">Đóng</button>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--Xóa đia chi-->
                                <a th:href="@{'/menu-nguoi-dung/xoa-dia-chi/' + ${diaChi.idDiaChi}}"
                                   onclick="return confirm('Bạn có muốn xóa?')"><i
                                        class="fa-solid fa-trash-can"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="group btn">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Thêm địa chỉ mới
                    </button>
                    <!-- Modal thêm địa chỉ mới -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Thêm địa chỉ mới</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form th:action="@{/menu-nguoi-dung/dia-chi/them-dia-chi}" method="post" onsubmit="return validateFormDiaChi()"
                                          enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label for="tenNguoiNhan">Tên người nhận</label>
                                            <input name="TenNguoiNhanThemMoi" id="tenNguoiNhan" class="form-control"
                                                   type="text" required th:maxlength="40">
                                            <label for="sdtnhanhang">Số Điện Thoại nhận hàng</label>
                                            <input name="sdtnhanHangThemMoi" id="sdtnhanhang" class="form-control"
                                                   type="text" required
                                                   pattern="^0\d{9}$" title="Vui lòng nhập số điện thoại hợp lệ (bắt đầu bằng 0 và có tổng cộng 10 chữ số)">
                                            <label for="tinhThanhPho">Tỉnh Thành Phố</label>
                                            <select name="tinhThanhPhoThemMoi" id="tinhThanhPho"
                                                    class="form-control" required></select>
                                            <label for="huyenQuan">Quận Huyện</label>
                                            <select name="huyenQuanThemMoi" id="huyenQuan"
                                                    class="form-control" required><option  value="">chọn quận</option></select>
                                            <label for="xaPhuong">Xã Phường</label>
                                            <select name="xaPhuongThemMoi" id="xaPhuong"
                                                    class="form-control" required><option   value="">chọn phường</option></select>
                                            <input type="hidden" id="diaChiChu" name="diaChiChu" />
                                        </div>
                                        <div class="form-group">
                                            <label>Địa Chỉ Cụ Thể</label>
                                            <input type="text" class="form-control" name="diaChiCuTheThemMoi" id="diaChiCuThe">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Lưu</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Hủy</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</article>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"
        integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</html>
