<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layoutchung/mainLayout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lịch Sử đơn hàng</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/user/css/son_lichsudonhang.css"/>
    <link rel="stylesheet" href="/user/css/son_thongtintaikhoan.css"/>
    <!-- Các stylesheet và link khác -->

</head>
<body>
<article layout:fragment="noiDung">
    <div class="container">
        <div class="row">
            <!-- Sidebar -->
            <section class="col-md-3 menutttk">
                <nav>
                    <h2>Tài Khoản</h2>
                    <ul>
                        <li><a href="/quan-ly/thong-tin/hien-thi">Thông tin tài khoản</a></li>
                        <!--                        <li><a href="/San-pham-yeu-thich">Sản phẩm yêu thích</a></li>-->
                        <li><a href="/menu-nguoi-dung/dia-chi/hien-thi">Địa chỉ nhận hàng</a></li>
                        <li><a href="/lich-su-don-hang/hien-thi">Lịch sử đơn hàng</a></li>
                    </ul>
                </nav>
            </section>
            <form th:action="@{/tim-kiem-ma}" method="post">
                <div class="boxsearchlsdh">
                    <h6 style="text-align: center;">Tìm theo mã đơn hàng</h6>
                    <div class="search">
                        <input class="form-control col-md-2" name="maDonHang" type="search" placeholder="Search"
                               th:value="${param.maDonHang}">
                        <button class="timKiemMa btn btn-success" type="submit">Search</button>
                    </div>
                </div>
            </form>
            <!-- Nội dung chính -->
            <section class="col-md-10">
                <center>
                    <h2>Lịch sử đơn hàng</h2>
                </center>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover>">
                        <thead>
                        <tr>
                            <th>Mã đơn hàng</th>
                            <th>Ngày tạo</th>
                            <th>Ngày hủy</th>
                            <th>Trạng thái</th>
                            <th>Tổng tiền</th>
                            <th>Hành động</th>
                        </tr>
                        </thead>
                        <tbody th:each="dh : ${donHanglist.content}">
                        <tr>
                            <td th:text="${dh.maDonHang}"></td>
                            <td th:text="${dh.ngayTao}"></td>
                            <td th:text="${dh.ngayHuy}"></td>
                            <td th:text="${dh.trangThai == 0 ? 'Chờ duyệt' : (dh.trangThai == 1 ? 'Đã xác nhận' : (dh.trangThai == 2 ? 'Đang giao' : (dh.trangThai == 3 ? 'Hoàn Thành' : (dh.trangThai == 4 ? 'Đã hủy' : 'Unknown'))))}"></td>
                            <td th:text="${dh.tinhTongTienFormatted()}"></td>
                            <!-- Add more columns as needed -->
                            <td>
                                <a type="button" class="btn btn-info" data-toggle="modal"
                                   th:attr="data-target='#modalDonHang-' + ${dh.idDonHang}">
                                    <i class="fa-regular fa-eye"></i>
                                </a>
                                <!--end  đây là nút xem  nhận đơn hàng-->

                                <!--  modal chi tiết đơn hàng -->

                                <div class="modal fade" th:id="'modalDonHang-' + ${dh.idDonHang}" tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="basicModal" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myModalLabel">Chi tiết đơn hàng chờ</h4>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="box-address">
                                                    <div class="line-item">
                                                        <label>Mã Đơn Hàng</label>
                                                        <input class="form-control" type="text"
                                                               th:value="${dh.maDonHang}" disabled/>
                                                    </div>
                                                    <div class="line-item">
                                                        <label>Tên Người Đặt</label>
                                                        <input class="form-control" type="text"
                                                               th:value="${dh.khachHang.hoVaTen}" disabled/>
                                                    </div>
                                                    <div class="line-item">
                                                        <label>Ngày Đặt</label>
                                                        <input class="form-control" type="text"
                                                               th:value="${dh.ngayTao}"
                                                               disabled>
                                                    </div>
                                                    <div class="line-item">
                                                        <label>Ngày Hủy</label>
                                                        <input class="form-control" type="text"
                                                               th:value="${dh.ngayHuy}"
                                                               disabled>
                                                    </div>
                                                    <div class="line-item">
                                                        <label>Số Điện Thoại</label>
                                                        <input class="form-control" type="tel"
                                                               th:value="${dh.thongTinGiaoHang.sdt}" disabled>
                                                    </div>
                                                    <div class="line-item">
                                                        <label>Phương thức thanh toán</label>
                                                        <input class="form-control" type="text"
                                                               th:value="${dh.phuongThucThanhToan.tenPhuongThucThanhToan}"
                                                               disabled>
                                                    </div>
                                                    <div class="line-item">
                                                        <label>Vận chuyển:</label>
                                                        <input class="form-control" value="Shipper"
                                                               disabled>
                                                    </div>
                                                    <div class="line-item" >
                                                        <label>Tổng Tiền</label>
                                                        <input class="form-control" type="text"
                                                               th:value="${dh.tinhTongTienFormatted()}" disabled>
                                                    </div>

                                                    <div class="line-item">
                                                        <label>Ghi Chú:</label>
                                                        <textarea class="form-control" type="text"
                                                                  th:text="${dh.ghiChuKhachHangGui}"
                                                                  disabled></textarea>
                                                    </div>
                                                    <div class="line-item">
                                                        <label>Địa Chỉ:</label>
                                                        <input th:value="${dh.thongTinGiaoHang.diaChiCuThe}"
                                                               class="form-control" type="text"
                                                               disabled/>
                                                    </div>
                                                    <div class="line-item">
                                                        <label>Tỉnh/Thành phố:</label>
                                                        <input th:value="${dh.thongTinGiaoHang.diaChiChu}"
                                                               class="form-control" type="text"
                                                               disabled/>
                                                    </div>

                                                    <div class="line-item">
                                                        <table class="table">
                                                            <thead>
                                                            <tr>
                                                                <th>Mã Sản Phẩm</th>
                                                                <th>Tên Sản Phẩm</th>
                                                                <th>Số Lượng Mua</th>
                                                                <th>Thành tiền</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr th:each="ctdh : ${dh.chiTietDonHang}">
                                                                <td th:text="${ctdh.sach.maSach}"></td>
                                                                <td th:text="${ctdh.sach.tenSach}"></td>
                                                                <td th:text="${ctdh.soLuong}"></td>
                                                                <td th:text="${ctdh.thanhTienVnd()}"></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="line-item">
                                                        <label>Tiền vận chuyển:</label>
                                                        <input value="50.000"
                                                               class="form-control" type="text"
                                                               disabled/>
                                                    </div>


                                                    <div class="line-item" th:each="nv : ${loggedInUser}">
                                                        <label>Người Duyệt</label>
                                                        <input th:value="${nv.hoVaTen}"
                                                               class="form-control" type="text" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a type="button" class="btn btn-danger" data-toggle="modal"
                                   th:attr="data-target='#viewlyDoHuyDon-' + ${dh.idDonHang}"
                                   th:classappend="${(dh.trangThai == 4) || (dh.trangThai == 3) || (dh.trangThai == 2) || (dh.trangThai == 1)?'disabled':''}">
                                    <i class="fa-regular fa-trash-can"></i>
                                </a>

                                <!-- Modal -->
                                <div class="modal fade" th:id="'viewlyDoHuyDon-' + ${dh.idDonHang}" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">HỦY ĐƠN</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form th:action="@{/xac-nhan-huy-don}" method="get"
                                                  enctype="multipart/form-data">
                                                <div class="modal-body">
                                                    <div class="input-field">
                                                        <input type="text" class="form-control" id="idDonHang"
                                                               name="idDonHang" th:value="${dh.idDonHang}" hidden>
                                                        <label>Lý Do Hủy Đơn Hàng</label>
                                                        <input type="text" class="form-control" id="ghiChuLyDoDonHang"
                                                               name="ghiChuLyDoDonHang">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="submit" class="btn btn-primary"
                                                            onclick="return confirm('Bạn có chắc muốn hủy đơn hàng này không?')">
                                                        Hủy Đơn Hàng
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        </tbody>

                    </table>
                </div>
                <div>
                        <span class="btn btn-light" th:if="${donHanglist.number + 1 > 1}">
                            <a th:href="@{'/lich-su-don-hang/hien-thi?page=' + ${donHanglist.number}}">Previous</a>
                        </span>
                    <span class="btn btn-danger"
                          th:text="${donHanglist.number + 1} + ' / ' + ${donHanglist.totalPages}"></span>
                    <span class="btn btn-light" th:if="${donHanglist.number + 1 < donHanglist.totalPages}">
                            <a th:href="@{'/lich-su-don-hang/hien-thi?page=' + ${donHanglist.number + 2}}">Next</a>
                        </span>
                    </span>
                </div>
            </section>
        </div>
    </div>
</article>

<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/user/js/DiaChi.js"></script>
</body>
</html>

