<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layoutchung/mainLayout}"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
<!--    <link rel="stylesheet" href="/user/css/son_menu.css" />-->
    <link rel="stylesheet" href="/user/css/son_lichsudonhang.css" />
    <link rel="stylesheet" href="/user/css/son_menu.css">


  <body>
  <section
          class="content"
          style="height: 70vh; background-color: rgb(223, 223, 223)"
  >
    <article layout:fragment="noiDung">
      <section class="col-md-3 menutttk">
        <nav>
          <h2>Tài Khoản</h2>
          <ul>
            <li><a href="/quan-ly/thong-tin/hien-thi">Thông tin tài khoản</a></li>
            <li><a href="#">Sản phẩm yêu thích</a></li>
            <li><a href="/menu-nguoi-dung/dia-chi/hien-thi">Địa chỉ nhận hàng</a></li>
            <li><a href="/lich-su-don-hang/hien-thi">Lịch sử đơn hàng</a></li>
          </ul>
        </nav>
      </section>
      <aside class="onCart">
        <ul class="list-filter">
          <li>
            <h3>Tìm Kiếm</h3>
          </li>
          <label for="fname">Theo mã hóa đơn</label
          ><br />
          <hr type="text" id="fname" name="fname"></hr>

        </ul>
        <ul class="list-filter">
          <li>
            <h3>Thời gian</h3>
          </li>
          <li class="filter-item">
            <input type="radio" name="times" checked /><span>Hôm nay</span>
          </li>
          <li class="filter-item" style="margin-top: 5px">
            <input type="radio" name="times" />
            <input type="date" class="date-filter" />
          </li>
        </ul>
        <ul class="list-filter">
          <li>
            <h3>Trạng thái</h3>
          </li>
          <li class="filter-item">
            <input type="checkbox" /><span>Đang xử lý</span>
          </li>
          <li class="filter-item">
            <input type="checkbox" /><span>Hoàn thành</span>
          </li>
          <li class="filter-item">
            <input type="checkbox" /><span>Đã hủy</span>
          </li>
        </ul>
      </aside>
      <h2>Lịch sử đơn hàng</h2>
      <div class="table-scroll">
        <table>
          <thead>
          <tr class="header-table">
            <td class="col-4">Mã đơn hàng</td>
            <td class="col-3">Ngày đặt</td>
            <td class="col-3">Trạng thái</td>
            <td class="col-2">Tổng tiền</td>
            <td class="col-3" colspan="2"></td>
          </tr>
          </thead>
          <tbody th:each="donHang : ${donHanglist}">
          <tr>
            <td th:text="${donHang.maDonHang}"></td>
            <td th:text="${donHang.ngayTao}"></td>
            <td th:text="${donHang.trangThai == 0 ? 'Chờ duyệt' : (donHang.trangThai == 1 ? 'Đang ship' : (donHang.trangThai == 2 ? 'Thành công' : (donHang.trangThai == 3 ? 'Đã hủy' : 'Unknown')))}"></td>

            <td th:text="${donHang.phiVanChuyen}"></td>
            <!-- Add more columns as needed -->
          </tr>
          </tbody>
        </table>
      </div>
      <div class="group-right">
        <button class="btn-warning" id="continues">Tiếp tục</button>
      </div>
    </article>
  </section>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
  </body>

</html>
