<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="/bookstore/src/main/resources/static/user/css/son_layout.css"
    />
    <link
      rel="stylesheet"
      href="/bookstore/src/main/resources/static/user/css/son_menu.css"
    />
    <link
      rel="stylesheet"
      href="/bookstore/src/main/resources/static/user/css/son_address.css"
    />
    <link
      rel="stylesheet"
      href="/bookstore/src/main/resources/static/user/css/son_lichsudonhang.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"
      integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section
      class="content"
      style="height: 150vh; background-color: rgb(223, 223, 223)"
    >
      <aside>
        <ul>
          <li>
            <h2>Tài Khoản</h2>
          </li>
          <li class="active">
            <a href="thongtintaikhoan.html" target="loadpage"
              >Thông tin tài khoản</a
            >
          </li>
          <li>
            <a href="sanphamyeuthich.html" target="loadpage"
              >Sản phẩm yêu thích</a
            >
          </li>
          <li>
            <a href="diachinhanhang.html" target="loadpage"
              >Địa chỉ nhận hàng</a
            >
          </li>
          <li>
            <a href="lichsudonhang.html" target="loadpage">Lịch Sử Đơn Hàng</a>
          </li>
        </ul>
      </aside>
      <article>
        <iframe
          name="loadpage"
          frameborder="0"
          width="950"
          height="1200"
        ></iframe>
      </article>
    </section>
  </body>
</html>
