<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layoutchung/mainLayout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/user/css/pay.css">
</head>
<body>
<article layout:fragment="noiDung">
    <div class="top-section">
        <div class="content">
            <h1 th:text="${thongBao}"></h1>
            <p>Cảm ơn bạn đã mua hàng tại fahasa.com</p>
            <p>Mã đơn hàng của bạn là: </p>
            <p th:if="${donHang} != null" th:text="${donHang.maDonHang}"></p>
            <p>Bạn sẽ sớm nhận được email của chúng tôi.</p>
            <a class="btn btn-light" href="/trang-chu">
                Tiếp tục mua sắm
            </a>
        </div>
    </div>
</article>
</body>
</html>