<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layoutchung/mainLayout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/user/css/pay.css">
</head>
<body>
<article layout:fragment="noiDung">
    <div class="top-section">
        <div class="content">
            <h1 th:text="${thongBao}"></h1>
            <p>Cảm ơn bạn đã mua hàng tại fahasa.com</p>
            <p>Mã đơn hàng của bạn là: </p>
            <p th:text="${donHang.maDonHang}"></p>
            <p>Bạn sẽ sớm nhận được email của chúng tôi.</p>
            <a class="btn btn-light" href="/trang-chu">
                Tiếp tục mua sắm
            </a>
        </div>
    </div>
    <div class="bottom-section">
        <div class="content">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Tên sản phẩm</th>
                        <th>Giá</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">
                            <img src="https://img.cand.com.vn/resize/800x800/NewFiles/Images/2023/05/13/bac_ho-1683976113500.jpg"
                                style="width: 60px;" />
                        </td>
                        <td>Family And Friends Special Edition 5 - Workbook</td>
                        <td>65.500đ</td>
                        <td>1</td>
                        <td>65.500đ</td>
                    </tr>
                </tbody>
            </table>
            <div class="subtotal cf">
                <ul>
                    <li class="totalRow"><span class="label">Thành Tiền</span><span class="value">65000đ</span></li>
                    <li class="totalRow ship"><span class="label">Phí vận chuyển</span><span class="value">50000đ</span>
                    </li>
                    <li class="totalRow final"><span class="label">Tổng tiền</span><span class="value">115000đ</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</article>
</body>
</html>