
    
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
       <link rel="stylesheet" href="/bookstore/src/main/resources/static/user/css/son_sanphamyeuthich.css" />
    <link rel="stylesheet" href="/bookstore/src/main/resources/static/user/css/son_lichsudonhang.css">
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"
          integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@500&display=swap"
          rel="stylesheet"
        />
      </head>
    
      <body>
        <section>
          <article>
           <center> <h2>Danh Sách Yêu Thích</h2></center>
            <div class="table-scroll">
              <table>
                <thead>
                  <tr class="header-table">
                    <td class="col-4">Hình ảnh</td>
                    <td class="col-4">Tên sản phẩm</td>
                    <td class="col-4">Nhà cung cấp</td>
                    <td class="col-4">Giá</td>
                    <td class="col-4" colspan="2"> Hành Động</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                     <td>
                     <center><img src="/bookstore/src/main/resources/static/image/son/sach.jpg" width="50px" height="50px"></center> 
                    </td>
                    <td class="string-style">Khu vườn trên mây</td>
                    <td class="string-style">Kim Đồng</td>
                    <td class="number-style">100.001.00</td>
                    <!-- tiền là để kiểu này nhé -->
                    <td class="col-1 char-style">
                      <a class="btn-action" href="#"><i class="fa fa-shopping-cart"></i></a>
                    </td>
                    <td class="col-1 char-style">
                      <a class="btn-action" href="#"><i class="fa fa-trash"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                    <center><img src="/bookstore/src/main/resources/static/image/son/sach.jpg" width="50px" height="50px"></center> 
                   </td>
                   <td class="string-style">Khu vườn trên mây</td>
                   <td class="string-style">Kim Đồng</td>
                   <td class="number-style">100.001.00</td>
                   <!-- tiền là để kiểu này nhé -->
                   <td class="col-1 char-style">
                     <a class="btn-action" href="#"><i class="fa fa-shopping-cart"></i></a>
                   </td>
                   <td class="col-1 char-style">
                     <a class="btn-action" href="#"><i class="fa fa-trash"></i></a>
                   </td>
                 </tr>
                 <tr>
                  <td>
                  <center><img src="/bookstore/src/main/resources/static/image/son/sach.jpg" width="50px" height="50px"></center> 
                 </td>
                 <td class="string-style">Khu vườn trên mây</td>
                 <td class="string-style">Kim Đồng</td>
                 <td class="number-style">100.001.00</td>
                 <!-- tiền là để kiểu này nhé -->
                 <td class="col-1 char-style">
                   <a class="btn-action" href="#"><i class="fa fa-shopping-cart"></i></a>
                 </td>
                 <td class="col-1 char-style">
                   <a class="btn-action" href="#"><i class="fa fa-trash"></i></a>
                 </td>
               </tr>
               <tr>
                <td>
                <center><img src="/bookstore/src/main/resources/static/image/son/sach.jpg" width="50px" height="50px"></center> 
               </td>
               <td class="string-style">Khu vườn trên mây</td>
               <td class="string-style">Kim Đồng</td>
               <td class="number-style">100.001.00</td>
               <!-- tiền là để kiểu này nhé -->
               <td class="col-1 char-style">
                 <a class="btn-action" href="#"><i class="fa fa-shopping-cart"></i></a>
               </td>
               <td class="col-1 char-style">
                 <a class="btn-action" href="#"><i class="fa fa-trash"></i></a>
               </td>
             </tr>
             <tr>
              <td>
              <center><img src="/bookstore/src/main/resources/static/image/son/sach.jpg" width="50px" height="50px"></center> 
             </td>
             <td class="string-style">Khu vườn trên mây</td>
             <td class="string-style">Kim Đồng</td>
             <td class="number-style">100.001.00</td>
             <!-- tiền là để kiểu này nhé -->
             <td class="col-1 char-style">
               <a class="btn-action" href="#"><i class="fa fa-shopping-cart"></i></a>
             </td>
             <td class="col-1 char-style">
               <a class="btn-action" href="#"><i class="fa fa-trash"></i></a>
             </td>
           </tr>
           <tr>
            <td>
            <center><img src="/bookstore/src/main/resources/static/image/son/sach.jpg" width="50px" height="50px"></center> 
           </td>
           <td class="string-style">Khu vườn trên mây</td>
           <td class="string-style">Kim Đồng</td>
           <td class="number-style">100.001.00</td>
           <!-- tiền là để kiểu này nhé -->
           <td class="col-1 char-style">
             <a class="btn-action" href="#"><i class="fa fa-shopping-cart"></i></a>
           </td>
           <td class="col-1 char-style">
             <a class="btn-action" href="#"><i class="fa fa-trash"></i></a>
           </td>
         </tr>
                </table>
                <div class="group-right">
                  <button class="btn-warning" id="continues">Tiếp tục</button>
                </div>
                </article>
        </section>
      </body>
    </html>
     
    