<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layoutchung/mainLayout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thanh Toán Chưa Đăng Nhập</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"
          integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/user/css/ThanhToanChuaDangNhap.css">
</head>
<body>
<article layout:fragment="noiDung">
    <div class="container">

        <div class="all">
            <form th:action="@{'/thanh-toan/xac-nhan-len-don'}" enctype="multipart/form-data" method="post">
                <!-- chưa đăng nhập -->
                <div class="chuadangnhap">
                    <div>
                        <h4>Quý khách chưa đăng nhập ! -> <a href="/login/khach-hang" style="color: pink;">
                            Đăng nhập ngay để nhận ưu đãi</a>
                        </h4>
                    </div>
                </div>
                <!-- end chưa đăng nhập -->

                <br>
                <!-- chọn địa chỉ giao -->
                <div>
                    <h4>Quý khách vui lòng chọn địa chỉ giao hàng</h4>
                </div>
                <div class="box-address">
                    <div class="col-md-6">
                        <label>Họ tên</label>
                        <input class="form-control" type="text" name="tenNguoiNhan" placeholder="Nhập họ tên"
                               maxlength="50">
                    </div>
                    <div class="col-md-6">
                        <label>Điện thoại di động</label>
                        <input class="form-control" type="text" name="soDienThoaiNhanHang"
                               placeholder="Nhập số điện thoại">
                    </div>
                    <div class="col-md-6">
                        <label>Email</label>
                        <input class="form-control" type="email" name="email" placeholder="Nhập email">
                    </div>
                    <div class="col-md-6">
                        <label for="tinhThanhPho">Tỉnh/Thành phố</label>
                        <select name="tinhThanhPho" id="tinhThanhPho" class="form-control">
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="huyenQuan">Quận/Huyện</label>
                        <select name="huyenQuan" id="huyenQuan" class="form-control">
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="xaPhuong">Phường/Xã</label>
                        <select name="xaPhuong" id="xaPhuong" class="form-control">
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label>Địa chỉ</label>
                        <textarea class="form-control" type="textarea" name="diaChiCuThe"
                                  placeholder="Ví dụ: 52, đường Trần Hưng Đạo"></textarea>
                    </div>
                </div>
                <!-- end chọn địa chỉ giao -->

                <br>
                <!-- phươg thức vận chuyển -->
                <div class="phuongthucvanchuyen">
                    <div><h4>Đơn Vị Vận Chuyển</h4></div>
                    <div class="">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="option1">
                            <label class="form-check-label">
                                Giao hàng nhanh: 50.000vnđ
                            </label>
                        </div>
                    </div>
                </div>
                <!-- end phươg thức vận chuyển -->

                <br>
                <!-- phương thức thanh toán -->
                <div class="phuongthucthanhtoan">
                    <div><h4>Phương Thức Thanh Toán</h4></div>
                    <div class="form-check" th:each="pttt : ${phuongthucThanhToans}">
                        <input class="form-check-input" type="radio" name="phuongThucThanhToanMaKhachHangChon"
                               id="exampleRadios1"
                               th:value="${pttt.idPhuongThucThanhToan}"
                               checked>
                        <label class="form-check-label" for="exampleRadios1" th:name="phuongThucthanhToan">
                            <p th:text="${pttt.tenPhuongThucThanhToan}"></p>
                        </label>
                    </div>
                </div>

                <div class="col-md-6">
                    <h4>Ghi chú đơn hàng</h4>
                    <textarea class="form-control" type="textarea" name="ghiChuKhachHangGui"
                              style="height: 100px;"></textarea>

                </div>

                <br>
                <!-- kiểm tra lại đơn hàng -->
                <div class="kiemtralaidonhang">
                    <div><h4>Kiểm Tra Lại Đơn Hàng</h4></div>
                    <table>
                        <thead>
                        <tr>
                            <th>Ảnh sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Thành Tiền</th>
                        </tr>
                        </thead>
                        <tbody th:each=" dssp: ${danhSachSanPhamTrongGioHang}">
                        <tr>
                            <td class="anhSanPham"><img th:src="@{|${dssp.sach.linkAnh1}|}"></td>
                            <td th:text="${dssp.sach.tenSach}"></td>
                            <th:block th:with="thanhTien=0">

                                <!-- Kiểm tra giá trị trước khi sử dụng -->
                                <th:block th:if="${dssp.sach.giaBan != null}">
                                    <td>
                                        <span th:if="${dssp.sach.layGiaNeuCoKhuyenMai() == null}" class="text-muted"
                                              th:text="${'Giá cũ: ' + dssp.sach.giaBanVnd}"></span>
                                        <span th:if="${dssp.sach.layGiaNeuCoKhuyenMai() != null}">
                                        <del class="text-muted" th:text="${'Giá cũ: ' + dssp.sach.giaBanVnd}"></del>
                                        <br>
                                        <span class="text-success"
                                              th:text="${'Giá mới: ' + dssp.sach.layGiaNeuCoKhuyenMai()}"></span>
                                        </span>
                                    </td>

                                    <!-- Hiển thị số lượng -->
                                    <td th:text="${dssp.soLuong}"></td>

                                    <!-- Hiển thị tổng tiền -->
                                    <td id="tongGiaGiamGiaPhiaTren" th:if="${dssp.sach.layGiaNeuCoKhuyenMai() != null}"
                                        th:text="${thanhTien + (dssp.sach.layGiaNeuCoKhuyenMai() * dssp.soLuong)}">
                                    </td>

                                </th:block>
                            </th:block>

                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <!-- thành tiền -->
                    <div class="thanhTien">
                        <div class="row">
                            <div class="col-md-6">
                                <h3><a href=""> Quay về giỏ hàng</a></h3>
                            </div>
                            <div class="col-md-6">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr th:each="dssp: ${danhSachSanPhamTrongGioHang}">
                                        <td th:if="${dssp.sach.giaBan != null}">
                                            <!-- Tính giá chiết khấu -->
                                            <span th:if="${dssp.sach.layGiaNeuCoKhuyenMai() == null}" class="text-muted"
                                                  th:text="${'Giá cũ: ' + dssp.sach.giaBanVnd}"></span>
                                            <span th:if="${dssp.sach.layGiaNeuCoKhuyenMai() != null}">
                                        <del class="text-muted" th:text="${'Giá cũ: ' + dssp.sach.giaBanVnd}" hidden></del>
                                        <br>
                                        <span class="text-success"
                                              th:text="${'Giá mới: ' + dssp.sach.layGiaNeuCoKhuyenMai()}" hidden></span>
                                        </span>

                                            <!-- Tính tổng số tiền cho mỗi cuốn sách -->
                                            <label>Thành tiền:
                                                <p class="total" th:if="${dssp.sach.layGiaNeuCoKhuyenMai() != null}"
                                                   th:text="${thanhTien + (dssp.sach.layGiaNeuCoKhuyenMai() * dssp.soLuong)}"></p>
                                            </label>
                                            <br>
                                            <!-- Hiển thị phí vận chuyển từng cuốn -->
                                            <label>Phí vận chuyển:
                                                <p class="total">50.000</p>
                                            </label>
                                            <br>

                                            <!-- Tính tổng số tiền cho tất cả các sách đã chọn -->
                                            <label>Tổng số tiền:
                                                <p class="total" th:if="${dssp.sach.layGiaNeuCoKhuyenMai() != null}"
                                                   th:text="${thanhTien + (dssp.sach.layGiaNeuCoKhuyenMai() * dssp.soLuong + 50000)}"></p>
                                                </p>
                                            </label>

                                        </td>
                                    </tr>
                                    </tbody>

                                </table>

                                <button type="submit" class="btn btn-danger btn-lg btn-block"
                                        onclick="return confirm('Bạn có muốn xác nhận thanh toán không ?')">Thanh
                                    toán
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- end thành tiền -->

                </div>
                <!--end  kiểm tra lại đơn hàng -->
            </form>
        </div>
    </div>
</article>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"
        integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/user/js/ThanhToanDaDangNhap.js"></script>
</body>

</html>