<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layoutchung/mainLayout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thanh Toán Đã Đăng Nhập</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css"
          integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/user/css/ThanhToanDaDangNhap.css">
    <script src="/user/js/ThanhToanDaDangNhap.js"></script>
</head>
<body>
<article layout:fragment="noiDung">
    <div class="container">

        <div class="all">
            <!-- đây là địa chỉ giao -->
            <div>
                <h4>Địa Chỉ Giao Hàng</h4>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Thêm địa chỉ mới</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/thanh-toan/them-dia-chi}" method="post"
                                  enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="tinhThanhPho">Tỉnh Thành Phố</label>
                                    <select name="tinhThanhPhoThemMoi" id="tinhThanhPho"
                                            class="form-control"></select>
                                    <label for="huyenQuan">Quận Huyện</label>
                                    <select name="huyenQuanThemMoi" id="huyenQuan"
                                            class="form-control"></select>
                                    <label for="xaPhuong">Xã Phường</label>
                                    <select name="xaPhuongThemMoi" id="xaPhuong" class="form-control"></select>
                                </div>
                                <div class="form-group">
                                    <label>Địa Chỉ Cụ Thể</label>
                                    <input type="text" class="form-control" name="diaChiCuTheThemMoi">
                                </div>
                                <button type="submit" class="btn btn-primary">Lưu</button>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        </div>
                    </div>
                </div>
            </div>

            <form th:action="@{'/thanh-toan/xac-nhan-len-don'}" method="post" enctype="multipart/form-data">
                <div class="diaChi">
                    <div class="form-checked">
                        <!-- Trong template Thymeleaf -->
                        <div th:each="diaChi, diaChiIter : ${khachHangDangNhap.diaChiList}">
                            <div class="form-checked">
                                <input class="form-check-input" type="radio"
                                       th:id="'diaChiRadio_' + ${diaChiIter.index}"
                                       th:name="'diaChiRadio'" th:value="${diaChi.idDiaChi}">
                                <label class="form-check-label">
                                <span id="spann" th:text=" ${diaChi.tenNguoiNhan}+ ' | '+${diaChi.tinhThanhPho} + ' | ' + ${diaChi.huyenQuan} + ' | '
                                 + ${diaChi.xaPhuong} + ' | ' + ${diaChi.diaChiCuThe} + ' | ' + ${diaChi.sdtNguoiNhanHang}"
                                      style="display: none">
                                </span>
                                    <h6 id="thongtinnhan"></h6>
                                    <a th:href="'#'" th:text="'Sửa'"></a>
                                    <!-- Thẻ a để xóa, thay thế "{yourControllerMapping}" và "{id}" bằng giá trị thực tế -->
                                    <a th:href="@{'/menu-nguoi-dung/xoa-dia-chi/' + ${diaChi.idDiaChi}}"
                                       onclick="return confirm('Are you sure?')">Delete</a>

                                </label>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- end đây là địa chỉ giao -->
                <!-- Nội dung Modal -->
                <div class="group btn">
                    <!--modal  -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Thêm địa chỉ mới
                    </button>
                    <!-- Modal -->
                    <!-- nội dung thêm -->
                    <!-- end nội dung thêm -->
                </div>
                <!-- end Nội dung Modal -->
                <br>
                <!-- phương thức vận chuyển -->
                <div class="phuongthucvanchuyen">
                    <div>
                        <h4>Đơn Vị Vận Chuyển</h4>
                    </div>
                    <div class="">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" value="option1" checked>
                            <label class="form-check-label">
                                Giao hàng nhanh: 50.000vnđ
                            </label>
                        </div>
                    </div>
                </div>
                <!-- end phương thức vận chuyển -->
                <br>
                <!-- phương thức thanh toán -->
                <!-- phương thức thanh toán -->
                <div class="phuongthucthanhtoan">
                    <div><h4>Phương Thức Thanh Toán</h4></div>
                    <div class="form-check" th:each="pttt : ${phuongthucThanhToans}">
                        <input class="form-check-input" type="radio" name="phuongThucThanhToanMaKhachHangChon"
                               id="exampleRadios1"
                               th:value="${pttt.idPhuongThucThanhToan}"
                               checked>
                        <label class="form-check-label" for="exampleRadios1" th:name="phuongThucthanhToan">
                            <p th:text="${pttt.tenPhuongThucThanhToan}"></p>
                        </label>
                    </div>
                </div>

                <div class="col-md-6">
                    <h4>Ghi chú đơn hàng</h4>
                    <textarea class="form-control" type="textarea" name="ghiChuKhachHangGui"
                              style="height: 100px;"></textarea>

                </div>
                <!--end phương thức thanh toán -->
                <br>
                <!-- kiểm tra lại đơn hàng -->
                <div class="kiemtralaidonhang">
                    <div>
                        <h4>Kiểm Tra Lại Đơn Hàng</h4>
                    </div>
                    <table>
                        <thead>
                        <tr>
                            <th>Ảnh sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>Số lượng</th>
                            <th>Thành Tiền</th>
                        </tr>
                        </thead>
                        <tbody >
                        <tr th:each=" dssp: ${danhSachSanPhamTrongGioHang}">
                            <td class="anhSanPham"><img th:src="@{|${dssp.sach.linkAnh1}|}"></td>
                            <td th:text="${dssp.sach.tenSach}"></td>
                            <th:block th:with="thanhTien=0">

                            <!-- Kiểm tra giá trị trước khi sử dụng -->
                            <th:block th:if="${dssp.sach.giaBan != null}">
                                <td>
                                        <span th:if="${dssp.sach.layGiaNeuCoKhuyenMai() == null}" class="text-muted"
                                              th:text="${'Giá cũ: ' + dssp.sach.giaBanVnd}"></span>
                                    <span th:if="${dssp.sach.layGiaNeuCoKhuyenMai() != null}">
                                        <del class="text-muted" th:text="${'Giá cũ: ' + dssp.sach.giaBanVnd}"></del>
                                        <br>
                                        <span class="text-success"
                                              th:text="${'Giá mới: ' + dssp.sach.layGiaNeuCoKhuyenMai()}"></span>
                                        </span>
                                </td>

                                <!-- Hiển thị số lượng -->
                                <td th:text="${dssp.soLuong}"></td>

                                <!-- Hiển thị tổng tiền -->
                                <td>
                                      <span th:if="${dssp.sach.layGiaNeuCoKhuyenMai() == null}"
                                            th:text="${dssp.sach.giaBanVnd() * dssp.soLuong}" hidden></span>

                                    <span th:if="${dssp.sach.layGiaNeuCoKhuyenMai() != null}"
                                          th:text="${dssp.sach.layGiaNeuCoKhuyenMai() * dssp.soLuong}" hidden></span>
                                    <span th:text="${tinhTongTienDonHangChuaTinhVanChuyen}"></span>
                                </td>
                            </th:block>
                            </th:block>

                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <!-- thành tiền -->
                    <div class="thanhTien">
                        <div class="row">
                            <div class="col-md-6">
                                <h3><a class="btn btn-success" href="/gio-hang/danh-sach-san-pham"><i class="fa-solid fa-left-long"></i> Quay về giỏ hàng</a></h3>
                            </div>
                            <div class="col-md-6">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <!-- Tính tổng số tiền cho mỗi cuốn sách -->
                                        <td>Thành tiền:</td>
                                        <td class="total" th:text="${tinhTongTienDonHangChuaTinhVanChuyen}"></td>
                                    </tr>
                                    <!-- Display Phí vận chuyển -->
                                    <tr>
                                        <td>Phí vận chuyển:</td>
                                        <td class="total">50.000 ₫</td>
                                    </tr>
                                    <!-- Display Tổng số tiền -->
                                    <tr>
                                        <td>Tổng số tiền:</td>
                                        <td class="total" th:text="${tinhTongTienDonHangDaTinhVanChuyen}"></td>
                                    </tr>
                                    </tbody>
                                </table>

                                <button type="submit" class="btn btn-danger btn-lg btn-block"
                                        onclick="return confirm('Bạn có muốn xác nhận thanh toán không ?')">Thanh
                                    toán
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- thành tiền -->
                </div>
                <!-- end kiểm tra lại đơn hàng -->
            </form>
        </div>
    </div>
</article>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"
        integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>
</html>