<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layoutchung/mainLayout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/user/css/TrangChu.css"/>
</head>
<body>
<article layout:fragment="noiDung">
    <div class="container">
        <!-- HEADER -->

        <header>
            <h1>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li th:each="bn, iterStat : ${khuyenmaihienthibaner.content}"
                        th:if="${bn.trangThaiHienThi == 1 or bn.trangThaiHienThi == 0}"
                        th:data-target="carouselExampleIndicators"
                        th:data-slide-to="${iterStat.index}"
                        th:class="${iterStat.index == 0 } ? 'active' : ''"></li>
                </ol>
                <div class="carousel-inner">
                    <div th:each="bn, iterStat : ${khuyenmaihienthibaner.content}"
                         th:if="${bn.trangThaiHienThi == 1 or bn.trangThaiHienThi == 0}"
                         th:class="${iterStat.index == 0} ? 'carousel-item active' : 'carousel-item'">
                        <a th:href="@{'/uu-dai/uu-dai-chi-tiet?idKhuyenMai=' + ${bn.idKhuyenMai}}">
                            <img th:src="${bn.linkBannerKhuyenMai}" class="d-block w-100" alt="...">
                        </a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            </h1>
            <!--            <h1><img src="/image/banner/bannerTrangChu.jpg"></h1>-->
        </header>
        <!-- HEADER -->

        <!-- ảnh banner khuyến mãi -->
        <!--        <div class="columnBaner">-->
        <!--            <div class="column" th:each="anhKhuyenMai : ${khuyenmaihienthisale}" >-->
        <!--            <a th:href="@{'/uu-dai/uu-dai-chi-tiet?idKhuyenMai=' + ${anhKhuyenMai.idKhuyenMai}}">-->
        <!--                    <img th:src="${anhKhuyenMai.linkAnhKhuyenMai}">-->
        <!--            </a>-->
        <!--            </div>-->
        <!--        </div>-->

        <div class="columnBaner" th:if="${not khuyenmaihienthisale.isEmpty()}">
            <div class="column" th:each="anhKhuyenMai, iterStat : ${khuyenmaihienthisale.content}"
                 th:if="${anhKhuyenMai.trangThaiHienThi == 1 or anhKhuyenMai.trangThaiHienThi == 0 }">
                <a th:href="@{'/uu-dai/uu-dai-chi-tiet?idKhuyenMai=' + ${anhKhuyenMai.idKhuyenMai}}">
                    <img th:src="${anhKhuyenMai.linkAnhKhuyenMai}">
                </a>
            </div>
        </div>

        <!-- end ảnh banner khuyến mãi -->

        <!-- chuyển trang -->
        <div class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link" href="/trang-chu">TRANG CHỦ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/uu-dai">ƯU ĐÃI</a>
                </li>

                <!-- Thêm các mục menu khác nếu cần -->
            </ul>
        </div>
        <!-- end chuyển trang -->

        <!-- ưu đãi lớn -->
        <div class="row"><h4>ƯU ĐÃI LỚN</h4></div>
        <div class="product" th:if="${motkhuyenmaidangapdung != null}">
<!--            <div th:if="${motkhuyenmaidangapdung != null}">-->
                <div th:each="sach ,iterStat : ${motkhuyenmaidangapdung.sachs}" th:if="${iterStat.index < 5}" class="product-item">
                    <div th:if="${sach.trangThai == 1}">
                    <a th:href="@{'/trang-chu/detail?idSach=' + ${sach.idSach}}">
                        <div class="product-image">
                            <img th:src="${sach.linkAnh1}">
                        </div>
                    </a>
                    <h3 th:text="${sach.tenSach}"></h3>
                    <div class="text-muted" th:if="${sach.layGiaNeuCoKhuyenMai() == null}">
                        <h5 th:text="${sach.giaBanVnd}"></h5>
                    </div>
                    <div th:if="${sach.layGiaNeuCoKhuyenMai() != null}">
                        <del class="text-muted" th:text="${sach.giaBanVnd}"></del>
                        <h4 class="price" th:text="${sach.layGiaNeuCoKhuyenMai()}"></h4>
                    </div>
                    <div class="discount" th:if="${sach.layPhanTramGiamNeuCoKhuyenMai() != null}"
                         th:text="${sach.layPhanTramGiamNeuCoKhuyenMai() + '%'}">
                        <!-- Hiển thị % khi có khuyến mãi -->
                    </div>
                    </div>
                </div>
                <!-- Các sản phẩm khác -->
                <div class="button"><a href="/uu-dai">Xem thêm</a></div>
<!--            </div>-->

        </div>
        <h6 th:if="${motkhuyenmaidangapdung == null}">
            <h1>Hiện chưa có ưu đãi nào đang áp dụng!</h1>
        </h6>
        <!-- end ưu đãi lớn -->

        <br>

<!--         sảm phẩm bán chạy -->
        <div class="row"><h4>SẢN PHẨM BÁN CHẠY</h4></div>
        <div class="product" th:if="${listSachBanChay != null}">
                <div th:each="sach, iterStat : ${listSachBanChay}"th:if="${iterStat.index < 10}" class="product-item">
                    <a th:href="@{'/trang-chu/detail?idSach=' + ${sach.idSach}}">
                        <div class="product-image">
                            <img th:src="${sach.linkAnh1}">
                        </div>
                    </a>
                    <h3 th:text="${sach.tenSach}"></h3>
                    <div class="text-muted" th:if="${sach.layGiaNeuCoKhuyenMai() == null}">
                        <h5 th:text="${sach.giaBanVnd}"></h5>
                    </div>
                    <div th:if="${sach.layGiaNeuCoKhuyenMai() != null}">
                        <del class="text-muted" th:text="${sach.giaBanVnd}"></del>
                        <h4 class="price" th:text="${sach.layGiaNeuCoKhuyenMai()}"></h4>
                    </div>
                    <div class="discount" th:if="${sach.layPhanTramGiamNeuCoKhuyenMai() != null}"
                         th:text="${sach.layPhanTramGiamNeuCoKhuyenMai() + '%'}">
                        <!-- Hiển thị % khi có khuyến mãi -->
                    </div>
                </div>
                <!-- Các sản phẩm khác -->
        </div>
        <h6 th:if="${listSachBanChay == null}">
            <h1>Hãy tiến hành bán hàng tăng doanh số nhé!</h1>
        </h6>
        <!-- end sảm phẩm bán chạy -->
        <br>

        <!-- sản phẩm mới nhất -->
        <div class="row">
            <h4>SẢN PHẨM MỚI NHẤT</h4>
        </div>
        <div class="product">
            <div class="product-item" th:each="sm : ${sachmoi.content}">
                <a th:href="@{'/trang-chu/detail?idSach=' + ${sm.idSach}}">
                    <div class="product-image">
                        <img th:src="${sm.linkAnh1}">
                    </div>
                </a>
                <h3 th:text="${sm.tenSach}"></h3>
                <div class="text-muted" th:if="${sm.layGiaNeuCoKhuyenMai() == null}">
                    <h5 th:text="${sm.giaBanVnd}"></h5>
                </div>
                <div th:if="${sm.layGiaNeuCoKhuyenMai() != null}">
                    <del class="text-muted" th:text="${sm.giaBanVnd}"></del>
                    <h4 class="price" th:text="${sm.layGiaNeuCoKhuyenMai()}"></h4>
                </div>
                <div class="discount" th:if="${sm.layPhanTramGiamNeuCoKhuyenMai() != null}"
                     th:text="${sm.layPhanTramGiamNeuCoKhuyenMai() + '%'}">
                    <!-- Hiển thị % khi có khuyến mãi -->
                </div>
            </div>

            <!-- Các sản phẩm khác -->
            <!--            <div class="button"><a href="#">Xem thêm</a></div>-->
        </div>
        <br>
    </div>
</article>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/user/js/TrangChu.js"></script>
</body>
</html>





