<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/quanly/layoutchungquanly/menuQuanLy}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tác Giả</title>
    <link rel="stylesheet" href="/user/css/TrangChu.css"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0"/>

</head>
<body>
<article layout:fragment="noiDung">
    <header>
        <h1><img src="/image/banner/bannerUuDai.png"></h1>
    </header>
    <!-- HEADER -->
    <!-- chuyển trang -->
    <div class="nav">
        <ul class="nav-list">
            <li class="nav-item">
                <a class="nav-link" href="/trang-chu">TRANG CHỦ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/uu-dai">BÁN CHẠY</a>
            </li>
            <!-- Thêm các mục menu khác nếu cần -->
        </ul>
    </div>
    <div class="product">
        <div class="product-item">
            <div class="product-image">
                <img src="/image/anhsanpham/sanpham1.jpg" alt="Doraemon Plus 1">
            </div>
            <h3>Doraemon Plus 1</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
        </div>
        <div class="product-item">
            <div class="product-image">
                <img src="/image/anhsanpham/sanpham1.jpg" alt="Doraemon Plus 1">
            </div>
            <h3>Doraemon Plus 1</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
        </div>
        <div class="product-item">
            <div class="product-image">
                <img src="/image/anhsanpham/sanpham1.jpg" alt="Doraemon Plus 1">
            </div>
            <h3>Doraemon Plus 1</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
        </div>
        <div class="product-item">
            <div class="product-image">
                <img src="/image/anhsanpham/sanpham1.jpg" alt="Doraemon Plus 1">
            </div>
            <h3>Doraemon Plus 1</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
        </div>
        <div class="product-item">
            <div class="product-image">
                <img src="/image/anhsanpham/sanpham1.jpg" alt="Doraemon Plus 1">
            </div>
            <h3>Doraemon Plus 1</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
        </div>
        <div class="product-item">
            <div class="product-image">
                <img src="/image/anhsanpham/sanpham1.jpg" alt="Doraemon Plus 1">
            </div>
            <h3>Doraemon Plus 1</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
        </div>
        <div class="product-item">
            <div class="product-image">
                <img src="/image/anhsanpham/sanpham1.jpg" alt="Doraemon Plus 1">
            </div>
            <h3>Doraemon Plus 1</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
        </div>
        <div class="product-item">
            <div class="product-image">
                <img src="/image/anhsanpham/sanpham1.jpg" alt="Doraemon Plus 1">
            </div>
            <h3>Doraemon Plus 1</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
        </div>
        <!-- Các sản phẩm khác -->

    </div>

</article>
</body>
<script src="/user/js/TrangChu.js"></script>
</html>