<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layoutchung/mainLayout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Chủ</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0"/>
    <link rel="stylesheet" href="/user/css/TrangChu.css"/>
</head>
<body>
<article layout:fragment="noiDung">
<div class="container-fluid">
    <!-- HEADER -->
    <header>
        <h1><img src="/image/banner/bannerTrangChu.jpg"></h1>
    </header>
    <!-- HEADER -->

    <!-- ảnh banner khuyến mãi -->
    <div class="columnBaner">
        <div class="column">
            <img src="/image/anhkhac/sale1.png" alt="Hình ảnh 1">
        </div>
        <div class="column">
            <img src="/image/anhkhac/sale2.jpg" alt="Hình ảnh 2">
        </div>
        <div class="column">
            <img src="/image/anhkhac/sale3.png" alt="Hình ảnh 3">
        </div>
        <div class="column">
            <img src="/image/anhkhac/sale4.png" alt="Hình ảnh 4">
        </div>
    </div>
    <!-- end ảnh banner khuyến mãi -->

    <!-- chuyển trang -->
    <div class="nav">
        <ul class="nav justify-content-center">
            <a class="nav-link " href="/trang-chu">Trang Chủ</a> |

            <a class="nav-link" href="/uu-dai">Ưu Đãi</a>
        </ul>
    </div>
    <!-- end chuyển trang -->

    <!-- ưu đãi lớn -->
    <div class="row"><h2>Ưu đãi lớn</h2></div>
    <div class="product">
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham1.jpg" alt="Doraemon Plus 1">
            <h3>Doraemon Plus 1</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
        </div>
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham2.jpg" alt="Doraemon Plus 2">
            <h3>Doraemon Plus 2</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
        </div>
        <div class="product-item">
            <div class="row"></div>

            <img src="/image/anhsanpham/sanpham3.jpg" alt="Doraemon Plus 3">
            <h3>Doraemon Plus 3</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
        </div>
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham4.jpg" alt="Doraemon Plus 4">
            <h3>Doraemon Plus 4</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
        </div>
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham5.jpg" alt="Doraemon Plus 4">
            <h3>Doraemon Plus 5</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
            <br>
            <div class="button"><a href="#">Xem thêm</a></div>
        </div>
    </div>
    <!-- end ưu đãi lớn -->

    <br>

    <!-- sảm phẩm bán chạy -->
    <div class="row"><h2>Sản phẩm bán chạy</h2></div>
    <div class="product">
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham1.jpg" alt="Doraemon Plus 1">
            <h3>Doraemon Plus 1</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
        </div>
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham2.jpg" alt="Doraemon Plus 2">
            <h3>Doraemon Plus 2</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
        </div>
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham3.jpg" alt="Doraemon Plus 3">
            <h3>Doraemon Plus 3</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
        </div>
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham4.jpg" alt="Doraemon Plus 4">
            <h3>Doraemon Plus 4</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
        </div>
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham5.jpg" alt="Doraemon Plus 4">
            <h3>Doraemon Plus 5</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
            <br>
            <div class="button"><a href="">Xem thêm</a></div>
        </div>
    </div>
    <!-- end sảm phẩm bán chạy -->
    <br>

    <!-- sản phẩm mới nhất -->
    <div class="row"><h2>Sản phẩm mới nhất</h2></div>
    <div class="product">
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham1.jpg" alt="Doraemon Plus 1">
            <h3>Doraemon Plus 1</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
        </div>
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham2.jpg" alt="Doraemon Plus 2">
            <h3>Doraemon Plus 2</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
        </div>
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham3.jpg" alt="Doraemon Plus 3">
            <h3>Doraemon Plus 3</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
        </div>
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham4.jpg" alt="Doraemon Plus 4">
            <h3>Doraemon Plus 4</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
        </div>
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham5.jpg" alt="Doraemon Plus 4">
            <h3>Doraemon Plus 5</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
            <br>
            <div class="button"><a href="">Xem thêm</a></div>
        </div>
    </div>
    <!-- end sản phẩm mới nhất -->

    <br>

    <!-- đây là chatbot fix cứng chưa chuyển trang -->
    <!-- <button class="chatbot-toggler">
        <span class="material-symbols-rounded">mode_comment</span>
        <span class="material-symbols-outlined">close</span>
      </button>
      <div class="chatbot">
        <header>
          <h2>Chatbot</h2>
          <span class="close-btn material-symbols-outlined">close</span>
        </header>
        <ul class="chatbox">
          <li class="chat incoming">
            <span class="material-symbols-outlined">smart_toy</span>
            <p>Hi there 👋<br>How can I help you today?</p>
          </li>
        </ul>
        <div class="chat-input">
          <textarea placeholder="Enter a message..." spellcheck="false" required></textarea>
          <span id="send-btn" class="material-symbols-rounded">send</span>
        </div>
      </div> -->
    <!-- đây là chatbot fix cứng chưa chuyển trang -->
</div>
</article>

</body>
<script src="/user/js/TrangChu.js"></script>
</html>



