<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ưu Đãi Chi Tiết</title>
    <link rel="stylesheet" href="/user/css/UuDaiChiTiet.css" />
</head>
<body>
    <div class="container">
        <header>
            <h1><img src="/image/banner/bannerUuDaiChiTiet.jpg"></h1>
        </header>
        <div class="nav">
        <div class="row"><h2>Các sản phẩm ưu đãi</h2></div>          
            <div class="product">
                <div class="product-item">
                    <img src="/image/anhsanpham/sanpham1.jpg" alt="Doraemon Plus 1">
                    <h3>Doraemon Plus 1</h3>
                    <div class="price"><h4>20.000 đ</h4></div>
                    <div class="sale"><h5>25.000 đ</h5></div>
                    <div class="discount">20%</div>
    
                </div>
                <div class="product-item">
                    <img src="/image/anhsanpham/sanpham2.jpg" alt="Doraemon Plus 2">
                    <h3>Doraemon Plus 2</h3>
                    <div class="price"><h4>20.000 đ</h4></div>
                    <div class="sale"><h5>25.000 đ</h5></div>
                    <div class="discount">20%</div>

                </div>
                <div class="product-item">
                    <div class="row"></div>

                    <img src="/image/anhsanpham/sanpham3.jpg" alt="Doraemon Plus 3">
                    <h3>Doraemon Plus 3</h3>
                    <div class="price"><h4>20.000 đ</h4></div>
                    <div class="sale"><h5>25.000 đ</h5></div>
                    <div class="discount">20%</div>

                </div>
                <div class="product-item">
                    <img src="/image/anhsanpham/sanpham4.jpg" alt="Doraemon Plus 4">
                    <h3>Doraemon Plus 4</h3>
                    <div class="price"><h4>20.000 đ</h4></div>
                    <div class="sale"><h5>25.000 đ</h5></div>
                    <div class="discount">20%</div>

                </div>
                <div class="product-item">
                    <img src="/image/anhsanpham/sanpham5.jpg" alt="Doraemon Plus 4">
                    <h3>Doraemon Plus 5</h3>
                    <div class="price"><h4>20.000 đ</h4></div>
                    <div class="sale"><h5>25.000 đ</h5></div>
                    <div class="discount">20%</div>

                    <br>
                </div>
            </div>
            <div class="product">
                <div class="product-item">
                    <img src="/image/anhsanpham/sanpham1.jpg" alt="Doraemon Plus 1">
                    <h3>Doraemon Plus 1</h3>
                    <div class="price"><h4>20.000 đ</h4></div>
                      <div class="sale"><h5>25.000 đ</h5></div>
                        <div class="discount">20%</div>
     
                </div>
                <div class="product-item">
                    <img src="/image/anhsanpham/sanpham2.jpg" alt="Doraemon Plus 2">
                    <h3>Doraemon Plus 2</h3>
                    <div class="price"><h4>20.000 đ</h4></div>
                    <div class="sale"><h5>25.000 đ</h5></div>
                    <div class="discount">20%</div>
                </div>
                <div class="product-item">
                    <div class="row"></div>

                    <img src="/image/anhsanpham/sanpham3.jpg" alt="Doraemon Plus 3">
                    <h3>Doraemon Plus 3</h3>
                    <div class="price"><h4>20.000 đ</h4></div>
                    <div class="sale"><h5>25.000 đ</h5></div>
                    <div class="discount">20%</div>
                </div>
                <div class="product-item">
                    <img src="/image/anhsanpham/sanpham4.jpg" alt="Doraemon Plus 4">
                    <h3>Doraemon Plus 4</h3>
                    <div class="price"><h4>20.000 đ</h4></div>
                    <div class="sale"><h5>25.000 đ</h5></div>
                    <div class="discount">20%</div>
                </div>
                <div class="product-item">
                    <img src="/image/anhsanpham/sanpham5.jpg" alt="Doraemon Plus 4">
                    <h3>Doraemon Plus 5</h3>
                    <div class="price"><h4>20.000 đ</h4></div>
                    <div class="sale"><h5>25.000 đ</h5></div>
                    <div class="discount">20%</div>
                    <br>
                </div>
            </div>
            <div class="product">
                <div class="product-item">
                    <img src="/image/anhsanpham/sanpham1.jpg" alt="Doraemon Plus 1">
                    <h3>Doraemon Plus 1</h3>
                    <div class="price"><h4>20.000 đ</h4></div>
                      <div class="sale"><h5>25.000 đ</h5></div>
                        <div class="discount">20%</div>
                </div>
                <div class="product-item">
                    <img src="/image/anhsanpham/sanpham2.jpg" alt="Doraemon Plus 2">
                    <h3>Doraemon Plus 2</h3>
                    <div class="price"><h4>20.000 đ</h4></div>
                    <div class="sale"><h5>25.000 đ</h5></div>
                    <div class="discount">20%</div>
                </div>
                <div class="product-item">
                    <div class="row"></div>

                    <img src="/image/anhsanpham/sanpham3.jpg" alt="Doraemon Plus 3">
                    <h3>Doraemon Plus 3</h3>
                    <div class="price"><h4>20.000 đ</h4></div>
                    <div class="sale"><h5>25.000 đ</h5></div>
                    <div class="discount">20%</div>

                </div>
                <div class="product-item">
                    <img src="/image/anhsanpham/sanpham4.jpg" alt="Doraemon Plus 4">
                    <h3>Doraemon Plus 4</h3>
                    <div class="price"><h4>20.000 đ</h4></div>
                    <div class="sale"><h5>25.000 đ</h5></div>
                    <div class="discount">20%</div>

                </div>
                <div class="product-item">
                    <img src="/image/anhsanpham/sanpham5.jpg" alt="Doraemon Plus 4">
                    <h3>Doraemon Plus 5</h3>
                    <div class="price"><h4>20.000 đ</h4></div>
                    <div class="sale"><h5>25.000 đ</h5></div>
                    <div class="discount">20%</div>

                    <br>
                </div>
        </div>
        <div class="product">
            <div class="product-item">
                <img src="/image/anhsanpham/sanpham1.jpg" alt="Doraemon Plus 1">
                <h3>Doraemon Plus 1</h3>
                <div class="price"><h4>20.000 đ</h4></div>
                  <div class="sale"><h5>25.000 đ</h5></div>
                                      <div class="discount">20%</div>
     
            </div>
            <div class="product-item">
                <img src="/image/anhsanpham/sanpham2.jpg" alt="Doraemon Plus 2">
                <h3>Doraemon Plus 2</h3>
                <div class="price"><h4>20.000 đ</h4></div>
                <div class="sale"><h5>25.000 đ</h5></div>
                                    <div class="discount">20%</div>

            </div>
            <div class="product-item">
                <div class="row"></div>

                <img src="/image/anhsanpham/sanpham3.jpg" alt="Doraemon Plus 3">
                <h3>Doraemon Plus 3</h3>
                <div class="price"><h4>20.000 đ</h4></div>
                <div class="sale"><h5>25.000 đ</h5></div>
                                    <div class="discount">20%</div>

            </div>
            <div class="product-item">
                <img src="/image/anhsanpham/sanpham4.jpg" alt="Doraemon Plus 4">
                <h3>Doraemon Plus 4</h3>
                <div class="price"><h4>20.000 đ</h4></div>
                <div class="sale"><h5>25.000 đ</h5></div>
                                    <div class="discount">20%</div>

            </div>
            <div class="product-item">
                <img src="/image/anhsanpham/sanpham5.jpg" alt="Doraemon Plus 4">
                <h3>Doraemon Plus 5</h3>
                <div class="price"><h4>20.000 đ</h4></div>
                <div class="sale"><h5>25.000 đ</h5></div>
                                    <div class="discount">20%</div>

                <br>
            </div>
        </div>      
            <div class="product">
                <div class="product-item">
                    <img src="/image/anhsanpham/sanpham1.jpg" alt="Doraemon Plus 1">
                    <h3>Doraemon Plus 1</h3>
                    <div class="price"><h4>20.000 đ</h4></div>
                      <div class="sale"><h5>25.000 đ</h5></div>
                        <div class="discount">20%</div>
     
                </div>
                <div class="product-item">
                    <img src="/image/anhsanpham/sanpham2.jpg" alt="Doraemon Plus 2">
                    <h3>Doraemon Plus 2</h3>
                    <div class="price"><h4>20.000 đ</h4></div>
                    <div class="sale"><h5>25.000 đ</h5></div>
                    <div class="discount">20%</div>

                </div>
                <div class="product-item">
                    <div class="row"></div>

                    <img src="/image/anhsanpham/sanpham3.jpg" alt="Doraemon Plus 3">
                    <h3>Doraemon Plus 3</h3>
                    <div class="price"><h4>20.000 đ</h4></div>
                    <div class="sale"><h5>25.000 đ</h5></div>
                    <div class="discount">20%</div>

                </div>
                <div class="product-item">
                    <img src="/image/anhsanpham/sanpham4.jpg" alt="Doraemon Plus 4">
                    <h3>Doraemon Plus 4</h3>
                    <div class="price"><h4>20.000 đ</h4></div>
                    <div class="sale"><h5>25.000 đ</h5></div>
                    <div class="discount">20%</div>

                </div>
                <div class="product-item">
                    <img src="/image/anhsanpham/sanpham5.jpg" alt="Doraemon Plus 4">
                    <h3>Doraemon Plus 5</h3>
                    <div class="price"><h4>20.000 đ</h4></div>
                    <div class="sale"><h5>25.000 đ</h5></div>
                    <div class="discount">20%</div>

                    <br>
                </div>
                  
            </div>
            <div class="pagination">
                <button class="prev-btn"><<</button>
                <ul class="page-numbers">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <!-- Thêm các số trang khác vào đây -->
                </ul>
                <button class="next-btn">>></button>
            </div>
</body>
</html>



