<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layoutchung/mainLayout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ưu Đãi</title>
    <link rel="stylesheet" href="/user/css/UuDai.css"/>
</head>
<body>
<article layout:fragment="noiDung">
<div class="container-fluid">
    <!-- HEADER -->
    <header>
        <h1><img src="/image/banner/bannerUuDai.png"></h1>
    </header>
    <!-- HEADER -->

    <!-- chuyển trang -->
    <div class="nav">
        <ul class="nav justify-content-center">
            <a class="nav-link " href="/trang-chu">Trang Chủ</a> |

            <a class="nav-link" href="/uu-dai">Ưu Đãi</a>
        </ul>
    </div>
    <!-- end chuyển trang -->

    <!-- các danh sách được ưu đãi -->
    <div class="row"><h2>Các danh sách được ưu đãi</h2></div>
    <div class="product">
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham1.jpg" alt="Doraemon Plus 1">
            <h3>Doraemon Plus 1</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
            <div class="discount">20%</div>
        </div>
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham2.jpg" alt="Doraemon Plus 2">
            <h3>Doraemon Plus 2</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
            <div class="discount">20%</div>
        </div>
        <div class="product-item">
            <div class="row"></div>

            <img src="/image/anhsanpham/sanpham3.jpg" alt="Doraemon Plus 3">
            <h3>Doraemon Plus 3</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
            <div class="discount">20%</div>
        </div>
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham4.jpg" alt="Doraemon Plus 4">
            <h3>Doraemon Plus 4</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
            <div class="discount">20%</div>
        </div>
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham5.jpg" alt="Doraemon Plus 4">
            <h3>Doraemon Plus 5</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
            <div class="discount">20%</div>
            <br>
        </div>
    </div>
    <div class="product">
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham1.jpg" alt="Doraemon Plus 1">
            <h3>Doraemon Plus 1</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
            <div class="discount">20%</div>
        </div>
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham2.jpg" alt="Doraemon Plus 2">
            <h3>Doraemon Plus 2</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
            <div class="discount">20%</div>
        </div>
        <div class="product-item">
            <div class="row"></div>
            <img src="/image/anhsanpham/sanpham3.jpg" alt="Doraemon Plus 3">
            <h3>Doraemon Plus 3</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
            <div class="discount">20%</div>

        </div>
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham4.jpg" alt="Doraemon Plus 4">
            <h3>Doraemon Plus 4</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
            <div class="discount">20%</div>

        </div>
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham5.jpg" alt="Doraemon Plus 4">
            <h3>Doraemon Plus 5</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
            <div class="discount">20%</div>
            <br>
        </div>
    </div>
    <div class="product">
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham1.jpg" alt="Doraemon Plus 1">
            <h3>Doraemon Plus 1</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
            <div class="discount">20%</div>

        </div>
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham2.jpg" alt="Doraemon Plus 2">
            <h3>Doraemon Plus 2</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
            <div class="discount">20%</div>

        </div>
        <div class="product-item">
            <div class="row"></div>

            <img src="/image/anhsanpham/sanpham3.jpg" alt="Doraemon Plus 3">
            <h3>Doraemon Plus 3</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
            <div class="discount">20%</div>

        </div>
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham4.jpg" alt="Doraemon Plus 4">
            <h3>Doraemon Plus 4</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
            <div class="discount">20%</div>

        </div>
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham5.jpg" alt="Doraemon Plus 4">
            <h3>Doraemon Plus 5</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
            <div class="discount">20%</div>

            <br>
        </div>
    </div>
    <div class="product">
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham1.jpg" alt="Doraemon Plus 1">
            <h3>Doraemon Plus 1</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
            <div class="discount">20%</div>
        </div>
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham2.jpg" alt="Doraemon Plus 2">
            <h3>Doraemon Plus 2</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
            <div class="discount">20%</div>
        </div>
        <div class="product-item">
            <div class="row"></div>
            <img src="/image/anhsanpham/sanpham3.jpg" alt="Doraemon Plus 3">
            <h3>Doraemon Plus 3</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
            <div class="discount">20%</div>
        </div>
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham4.jpg" alt="Doraemon Plus 4">
            <h3>Doraemon Plus 4</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
            <div class="discount">20%</div>
        </div>
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham5.jpg" alt="Doraemon Plus 4">
            <h3>Doraemon Plus 5</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
            <div class="discount">20%</div>
            <br>
        </div>
    </div>
    <!-- end các danh sách được ưu đãi -->


    <!-- trở lại trường học -->
    <div class="row"><h2>Trở lại trường học</h2></div>
    <div class="product">
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham1.jpg" alt="Doraemon Plus 1">
            <h3>Doraemon Plus 1</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
            <div class="discount">20%</div>

        </div>
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham2.jpg" alt="Doraemon Plus 2">
            <h3>Doraemon Plus 2</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
            <div class="discount">20%</div>

        </div>
        <div class="product-item">
            <div class="row"></div>

            <img src="/image/anhsanpham/sanpham3.jpg" alt="Doraemon Plus 3">
            <h3>Doraemon Plus 3</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
            <div class="discount">20%</div>

        </div>
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham4.jpg" alt="Doraemon Plus 4">
            <h3>Doraemon Plus 4</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
            <div class="discount">20%</div>

        </div>
        <div class="product-item">
            <img src="/image/anhsanpham/sanpham5.jpg" alt="Doraemon Plus 4">
            <h3>Doraemon Plus 5</h3>
            <div class="price"><h4>20.000 đ</h4></div>
            <div class="sale"><h5>25.000 đ</h5></div>
            <div class="discount">20%</div>
        </div>
    </div>
    <!-- end trở lại trường học -->

    <!-- xem thêm -->
    <div class="row">
        <div class="button"><a href="/uu-dai-chi-tiet">Xem thêm</a></div>
    </div>
    <!-- xem thêm -->
</div>
</article>
</body>
</html>



