<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layoutchung/mainLayout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ưu Đãi Lớn</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0"/>
    <link rel="stylesheet" href="/user/css/UuDai.css"/>
</head>
<body>
<article layout:fragment="noiDung">
    <div class="container">
        <!-- HEADER -->
        <header>
            <h1><img src="/image/banner/bannerTrangChu.jpg"></h1>
        </header>
        <!-- HEADER -->
        <!-- chuyển trang -->
        <div class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link" href="/trang-chu">TRANG CHỦ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/uu-dai">ƯU ĐÃI</a>
                </li>
                <!-- Thêm các mục menu khác nếu cần -->
            </ul>
        </div>
        <!-- end chuyển trang -->

        <!-- ưu đãi lớn -->

        <div th:each="sachKhuyenMai : ${khuyenmaidanghienthi}">
            <div class="row">
                <h2 th:text="${sachKhuyenMai.tenKhuyenMai}"></h2>
            </div>
            <div class="product">
                <div class="product-item" th:each="sachKhuyenMai2 : ${sachKhuyenMai.sachs}" th:limit="5">
                    <a th:href="@{'/trang-chu/detail?idSach=' + ${sachKhuyenMai2.idSach}}">
                        <div class="product-image">
                            <img th:src="${sachKhuyenMai2.linkAnh1}" alt="Chưa có ảnh hiển thị">
                        </div>
                    </a>
                    <h3 th:text="${sachKhuyenMai2.tenSach}"></h3>
<!--                    <div th:if="${sachKhuyenMai2.khuyenMais != null}">-->
<!--                        <div th:each="ctkm : ${sachKhuyenMai2.khuyenMais}">-->
<!--                            <div th:if="${ctkm.trangThai == 1}">-->
<!--                                <div class="price">-->
<!--                                    <h4 th:text="${sachKhuyenMai2.giaBan - (ctkm.soPhanTramGiamGia)} + 'đ'"></h4>-->
<!--                                </div>-->
<!--                                <div class="sale">-->
<!--                                    <h5 th:text="${sachKhuyenMai2.giaBan} + 'đ'"></h5>-->
<!--                                </div>-->
<!--                                <div class="discount" th:text="${ctkm.soPhanTramGiamGia} +'%'"></div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div th:if="${sachKhuyenMai2.khuyenMais.?[trangThai == 1].size() > 0}">
                        <th:block th:with="khuyenMaiDetail=${sachKhuyenMai2.khuyenMais.?[trangThai == 1][0]}">
                            <div class="price">
                                <h4 th:text="${sachKhuyenMai2.giaBan - (khuyenMaiDetail.soPhanTramGiamGia)} + 'đ'"></h4>
                            </div>
                            <div class="sale">
                                <h5 th:text="${sachKhuyenMai2.giaBan} + 'đ'"></h5>
                            </div>
                            <div class="discount" th:text="${khuyenMaiDetail.soPhanTramGiamGia} +'%'"></div>
                        </th:block>
                    </div>

<!--                    <div th:if="${sachKhuyenMai2.khuyenMais.?[trangThai == 1].size() > 0}">-->
<!--                        <th:block th:with="khuyenMaiDetail=${sachKhuyenMai2.khuyenMais.?[trangThai == 1][0]}">-->

<!--                    <div class="price">-->
<!--                        <h4 th:text="${sachKhuyenMai2.giaBan - (sachKhuyenMai.soPhanTramGiamGia)} + 'đ'"></h4>-->
<!--                    </div>-->
<!--                    <div class="sale">-->
<!--                        <h5 th:text="${sachKhuyenMai2.giaBan} + 'đ'"></h5>-->
<!--                    </div>-->
<!--                    <div class="discount" th:text="${khuyenMaiDetail.soPhanTramGiamGia} +'%'"></div>-->
<!--                        </th:block>-->
<!--                    </div>-->


                </div>
                <div class="button">
                    <a th:href="@{'/uu-dai/uu-dai-chi-tiet?idKhuyenMai=' + ${sachKhuyenMai.idKhuyenMai}}">
                        Xem Thêm
                    </a>
                </div>
            </div>
            <br>
        </div>



        <!-- end ưu đãi lớn -->
        <br>
    </div>
</article>
</body>
</html>



