<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layoutchung/mainLayout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ưu Đãi Chi Tiết</title>
    <link rel="stylesheet" href="/user/css/UuDaiChiTiet.css"/>
</head>
<body>
<article layout:fragment="noiDung">
<div class="container">
    <!-- HEADER -->
    <header>
        <h1><img src="/image/banner/bannerUuDaiChiTiet.jpg"></h1>
    </header>
    <!-- HEADER -->
    
     <!-- chuyển trang -->
     <div class="nav">
        <ul class="nav-list">
            <li class="nav-item">
                <a class="nav-link" href="/trang-chu">TRANG CHỦ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/uu-dai">ƯU ĐÃI</a>
            </li>
            <!-- Thêm các mục menu khác nếu cần -->
        </ul>
    </div>
<!-- end chuyển trang -->
    <!-- Các sản phẩm ưu đãi -->
<!--    <div th:each="sachKhuyenMai : ${chitietkhuyenmai}" >-->
<!--        <div class="row"><h2 th:text="${sachKhuyenMai.tenKhuyenMai}"></h2></div>-->
<!--        <div class="row">Thời Gian Bắt Đầu Áp Dụng<h3 th:text="${sachKhuyenMai.ngayBatDau}"></h3></div>-->
<!--        <div class="row">Thời Gian Kết Thúc<h3 th:text="${sachKhuyenMai.ngayKetThuc}"></h3></div>-->
<!--        <div class="product">-->
<!--            <div class="product-item" th:each="sachKhuyenMai2 : ${sachKhuyenMai.sachs}"  th:limit="5">-->
<!--                <a th:href="@{'/trang-chu/detail?idSach=' + ${sachKhuyenMai2.idSach}}">-->
<!--                    <div class="product-image">-->
<!--                        <img th:src="${sachKhuyenMai2.linkAnh1}" alt="Chưa có ảnh hiển thị">-->
<!--                    </div>-->
<!--                </a>-->
<!--                <h3 th:text="${sachKhuyenMai2.tenSach}"></h3>-->
<!--                <div class="price">-->
<!--                    <h4 th:text="${sachKhuyenMai2.giaBan - (sachKhuyenMai.soPhanTramGiamGia)} + 'đ'"></h4>-->
<!--                </div>-->
<!--                <div class="sale">-->
<!--                    <h5 th:text="${sachKhuyenMai2.giaBan} + 'đ'"></h5>-->
<!--                </div>-->
<!--                <div th:if="${sachKhuyenMai.sachs.?[trangThai == 1].size() > 0}">-->
<!--                    <div class="discount" th:text="${sachKhuyenMai.soPhanTramGiamGia} +'%'"></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <br>-->
<!--    </div>-->

    <div th:each="sachKhuyenMai : ${chitietkhuyenmai}">
        <div class="row">
            <h2 th:text="${sachKhuyenMai.tenKhuyenMai}"></h2>
        </div>
        <div class="row">Thời Gian Bắt Đầu Áp Dụng<h3 th:text="${sachKhuyenMai.ngayBatDau}"></h3></div>
        <div class="row">Thời Gian Kết Thúc<h3 th:text="${sachKhuyenMai.ngayKetThuc}"></h3></div>
        <div class="product">
            <div class="product-item" th:each="sachKhuyenMai2 : ${sachKhuyenMai.sachs}" th:limit="5">
                <a th:href="@{'/trang-chu/detail?idSach=' + ${sachKhuyenMai2.idSach}}">
                    <div class="product-image">
                        <img th:src="${sachKhuyenMai2.linkAnh1}" alt="Chưa có ảnh hiển thị">
                    </div>
                </a>
                <h3 th:text="${sachKhuyenMai2.tenSach}"></h3>
                <div class="price" th:if="${sachKhuyenMai.trangThai == 1}">
                    <h4 th:text="${sachKhuyenMai2.giaBan - (sachKhuyenMai.soPhanTramGiamGia)} + 'đ'"></h4>
                </div>
                <div class="sale" th:if="${sachKhuyenMai.trangThai == 1}">
                    <h5 th:text="${sachKhuyenMai2.giaBan} + 'đ'"></h5>
                </div>
                <div th:if="${sachKhuyenMai.trangThai == 1}">
                    <div class="discount" th:text="${sachKhuyenMai.soPhanTramGiamGia} +'%'"></div>
                </div>
            </div>
        </div>
        <br>
    </div>


    <!-- Các sản phẩm khác -->
    <!-- end Các sản phẩm ưu đãi -->

    <!-- phân trang -->
    <div class="pagination">
        <button class="prev-btn"><<</button>
        <ul class="page-numbers">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <!-- Thêm các số trang khác vào đây -->
        </ul>
        <button class="next-btn">>></button>
    </div>
    <!-- phân trang -->

</article>
</body>
</html>



