<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layoutchung/mainLayout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ưu Đãi Chi Tiết</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/user/css/UuDaiChiTiet.css"/>
</head>
<body>
<article layout:fragment="noiDung">
    <div class="container">
        <!-- HEADER -->
        <header>
            <h1><img src="/image/banner/bannerUuDaiChiTiet.jpg"></h1>
        </header>
        <!-- HEADER -->

        <!-- chuyển trang -->
        <div class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link" href="/trang-chu">TRANG CHỦ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/uu-dai">ƯU ĐÃI</a>
                </li>
                <!-- Thêm các mục menu khác nếu cần -->
            </ul>
        </div>
        <!-- end chuyển trang -->
        <!-- Các sản phẩm ưu đãi -->
        <div th:each="sachKhuyenMai : ${chitietkhuyenmai}">
            <div class="row">
                <h4 th:text="${sachKhuyenMai.tenKhuyenMai}"></h4>
            </div>
            <div class="row">Thời Gian Bắt Đầu Áp Dụng<h4 th:text="${sachKhuyenMai.ngayBatDau}"></h4></div>
            <div class="row">Thời Gian Kết Thúc<h4 th:text="${sachKhuyenMai.ngayKetThuc}"></h4></div>
            <div class="product">
                <div class="product-item" th:each="sachKhuyenMai2 : ${sachKhuyenMai.sachs}" th:limit="5">
                    <a th:href="@{'/trang-chu/detail?idSach=' + ${sachKhuyenMai2.idSach}}">
                        <div class="product-image">
                            <img th:src="${sachKhuyenMai2.linkAnh1}" alt="Chưa có ảnh hiển thị">
                        </div>
                    </a>
                    <h3 th:text="${sachKhuyenMai2.tenSach}"></h3>
                    <div class="sale" th:if="${sachKhuyenMai2.layGiaNeuCoKhuyenMai() == null}">
                        <h5 th:text="${sachKhuyenMai2.giaBanVnd}"></h5>
                    </div>
                    <div th:if="${sachKhuyenMai2.layGiaNeuCoKhuyenMai() != null}">
                        <del class="text-muted" th:text="${sachKhuyenMai2.giaBanVnd}"></del>
                        <h4 class="price" th:text="${sachKhuyenMai2.layGiaNeuCoKhuyenMai()}"></h4>
                    </div>
                    <div  th:if="${sachKhuyenMai2.layPhanTramGiamNeuCoKhuyenMai() == null}">
                    </div>
                    <div class="discount" th:if="${sachKhuyenMai2.layPhanTramGiamNeuCoKhuyenMai() != null}"
                         th:text="${sachKhuyenMai2.layPhanTramGiamNeuCoKhuyenMai() + '%'}">
                    </div>
                </div>
            </div>
            <br>
        </div>


        <!-- Các sản phẩm khác -->
        <!-- end Các sản phẩm ưu đãi -->

        <!-- phân trang -->
<!--            <div class="pagination">-->
<!--                <button class="prev-btn"><<</button>-->
<!--                <ul class="page-numbers">-->
<!--                    <li><a href="#">1</a></li>-->
<!--                    <li><a href="#">2</a></li>-->
<!--                    <li><a href="#">3</a></li>-->
<!--                    &lt;!&ndash; Thêm các số trang khác vào đây &ndash;&gt;-->
<!--                </ul>-->
<!--                <button class="next-btn">>></button>-->
<!--            </div>-->
        <!-- phân trang -->
    </div>
</article>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>



