<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/quanly/layoutchungquanly/menuQuanLy}">
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sản Phẩm </title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0"/>
    <link rel="stylesheet" href="/user/css/sanpham.css">

</head>

<body>
<article layout:fragment="noiDung">
    <!--  khung noi dung-->

    <div class="container-fluid">
        <div class="tong">
            <div class="row">
                <div class="col-4">
                    <!--search -->
                    <div class="boxsearchforname">
                        <form th:action="@{/tac-gia/getall}" method="get" enctype="multipart/form-data">
                            <label for="hoVaTen">Tên Tac Gia:</label><br>
                            <input type="text" id="hoVaTen" name="hoVaTen"/><br>
                            <label for="email">Email:</label><br>
                            <input type="text" id="email" name="email"/><br>
                            <label for="productStatus">Trạng thái:</label><br>
                            <select id="productStatus" name="productStatusSearch">
                                <option value="99">Tất cả</option>
                                <option value="1">Hoạt động</option>
                                <option value="0">Ngừng hoạt động</option>
                            </select>
                            <br>




                            <!-- Thêm các radio button cho các khoảng giá khác -->
                            <button type="submit">Tìm kiếm</button>
                        </form>
                    </div>

                </div>
                <div class="col-8">
                    <!-- các button thêm mới, import, và xuất file-->
                    <div class="box">
                        <h4 style="text-align: left;">Danh Sách Tac Gia</h4>
                        <button type="button" class="btn btn-success" id="openModalBtn" data-toggle="modal"
                                data-target="#createNewModal">Thêm Mới
                        </button>

                        <!-- stảt Modal thêm mới-->
                        <div class="modal fade" id="createNewModal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Thông Tin Tac Gia</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{/tac-gia/add}" method="post" th:object="${tacgia}"
                                              enctype="multipart/form-data">
                                            <div class="input-field">
                                                <label for="idTacGia">ID Tac Gia:</label>
                                                <input type="text" id="idTacGia" class="form-control" readonly
                                                       placeholder="Mã Tac Gia Tự tăng !" name="idTacGia">
                                            </div>
                                            <div class="input-field">
                                                <label for="hoVaTen">Ho Va Ten:</label>
                                                <input type="text" id="hoVaTen" class="form-control" name="hoVaTen">
                                            </div>

                                            <div class="input-field">
                                                <label for="email">Email :</label>
                                                <textarea id="email" class="form-control" name="email"></textarea>
                                            </div>
                                            <div class="input-field">
                                                <label for="trangThai">Trạng Thái:</label>
                                                <input type="text" id="trangThai" class="form-control" name="trangThai">
                                            </div>
                                            <div class="input-field">
                                                <label for="sdt">sdt:</label>
                                                <input type="text" id="sdt" name="sdt"
                                                       class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label for="linkAnhTacGia">Chọn ảnh :</label> <br>
                                                <!--anh 1-->
                                                <input type="file" id="linkAnhTacGia" name="linkAnhTacGia" accept="image/*"
                                                       onchange="displayImage(this, 'selectedImage1')"/>
                                                <!-- hien thi anh 1-->
                                            </div>

                                            <button type="submit" class="btn btn-primary" id="saveBtn">Thêm</button>

                                        </form>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end modal thêm mới-->

                        <!-- start button xuaats file-->
                        <button type="button" class="btn btn-success">Xuất File</button>
                        <!--end button xuat file-->
                    </div>
                    <!-- end các button thêm mới, import, và xuất file-->

                    <table class="table" style=" border: 0px solid blue;">
                        <thead class="table-dark">
                        <tr>
                            <th scope="col">Mã Tac Gia</th>
                            <th scope="col">Tên Tac Gia</th>
                            <th scope="col">Email</th>
                            <th scope="col">SDT</th>
                            <th scope="col">trang thai</th>
                            <th scope="col">Hành Động</th>
                        </tr>
                        </thead>
                        <tbody th:each="t, iterStat : ${data.content}">
                        <tr>
                            <td th:text="${t.idTacGia}"></td>
                            <td th:text="${t.hoVaTen}"></td>
                            <td th:text="${t.email}"></td>
                            <td th:text="${t.sdt}"></td>
                            <td th:text="${t.trangThai }==1?'hoat dong':'khong hoat dong'"></td>
                            <td>
                                <!-- Sửa -->
                                <!-- Button to Open the Edit Product Modal -->
                                <button type="button" class="btn btn-info" data-toggle="modal"
                                        th:attr="data-target='#modalEditTacGia-' + ${t.idTacGia}">
                                    <img src="/image/anhCuaThanh/edit1.jpg" width="26" height="26">
                                </button>
                                <!-- Xem -->
                                <!-- Button to Open the View Product Modal -->
                                <button type="button" class="btn btn-info" data-toggle="modal"
                                        th:attr="data-target='#modalTacGia-' + ${t.idTacGia}">
                                    <img src="/image/anhCuaThanh/redeye12.jpg" width="26" height="26">
                                </button>

                            </td>
                        </tr>

                        <!--start modal for view action-->
                        <div class="modal fade" th:id="'modalTacGia-' + ${t.idTacGia}" tabindex="-1" role="dialog"
                             aria-labelledby="viewModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="viewModalLabel">Thông Tin Tac Gia</h5>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Display Product Details -->
                                        <div class="product-details">

                                            <h6 class="product-name">Mã Tac Gia:</h6>
                                            <p id="viewidTacGia" th:text="${t.idTacGia}"></p>
                                            <h6 class="product-name">Tên Tac Gia:</h6>
                                            <p id="viewHoVaTen" th:text="${t.hoVaTen}"></p>
                                            <h6 class="product-description">email:</h6>
                                            <p id="viewEmail" th:text="${t.email}"></p>
                                            <h6 class="product-status">Trạng Thái:</h6>
                                            <p id="viewtrangThai" th:text="${t.trangThai}"></p>
                                            <h6 class="product-quantity">SDT</h6>
                                            <p id="viewSDT" th:text="${t.sdt}"></p>
                                            <h6 class="product-images">Ảnh:</h6>
                                            <img th:src="@{|${t.linkAnhTacGia}|}" id="viewLinkAnhTacGia" alt="anh tac gia"
                                                 width="88px" height="88px">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            Đóng
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end modal for view action-->

                        <!-- Edit Product Modal -->
                        <div class="modal fade" th:id="'modalEditTacGia-' + ${t.idTacGia}" tabindex="-1" role="dialog"
                             aria-labelledby="editModalLabel"
                             aria-hidden="true">+
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content ">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editModalLabel">Sửa Tac Gia</h5>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Form for Edetaiiting Product Dls -->
                                        <form th:action="@{/tac-gia/edit}" method="post" th:object="${tacgia}"
                                              id="editProductForm" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <label for="idTacGia">Mã Tac Gia:</label>
                                                <input type="text" th:value="${t.idTacGia}" id="idTacGia"
                                                       class="form-control" readonly>
                                            </div>
                                            <div class="form-group">
                                                <label for="hoVaTen">Tên Tac Gia:</label>
                                                <input type="text" id="hoVaTen" class="form-control"
                                                       th:value="${t.hoVaTen}">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Email:</label>
                                                <textarea id="email" class="form-control"
                                                          th:value="${t.email}"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="trangThai">Trạng Thái:</label>
                                                <input type="text" id="trangThai" class="form-control"
                                                       th:value="${t.trangThai}">
                                            </div>
                                            <div class="form-group">
                                                <label for="SDT">SDT</label>
                                                <input type="sdt" id="SDT" class="form-control"
                                                       th:value="${t.sdt}">
                                            </div>




                                            <div class="input-field">
                                                <div class="product-images">
                                                    <h4>Ảnh:</h4>
                                                    <!--                                                <button class="delete-button" >Xóa</button>-->
                                                    <!--                                                <input type="file" id="editlinkAnh1" name="editlinkAnh1" accept="image/*" onchange="displayImage(this, 'editviewLinkAnh1')" />-->
                                                    <!--                                                <img th:src="@{|${sach.linkAnh1}|}" id="editviewLinkAnh1" alt="anh 1" width="88px" height="88px">-->
                                                    <!--                                                <br>-->
                                                    <!--                                                <input type="file" id="editlinkAnh2" name="editlinkAnh2" accept="image/*" onchange="displayImage(this, 'editviewLinkAnh2')" />-->
                                                    <!--                                                <img th:src="@{|${sach.linkAnh2}|}" id="editviewLinkAnh2" alt="anh 2" width="88px" height="88px">-->
                                                    <!--                                                <br>-->
                                                    <!--                                                <input type="file" id="editlinkAnh3" name="editlinkAnh3" accept="image/*" onchange="displayImage(this, 'editviewLinkAnh3')" />-->
                                                    <!--                                                <img th:src="@{|${sach.linkAnh3}|}" id="editviewLinkAnh3" alt="anh 3" width="88px" height="88px">-->
                                                    <!--                                                <br>-->
                                                    <!--                                                <input type="file" id="editlinkAnh4" name="editlinkAnh4" accept="image/*" onchange="displayImage(this, 'editviewLinkAnh4')" />-->
                                                    <!--                                                <img th:src="@{|${sach.linkAnh4}|}" id="editviewLinkAnh4" alt="anh 4" width="88px" height="88px">-->
                                                    <!--                                                <br>-->
                                                    <!--                                                <input type="file" id="editlinkAnh5" name="editlinkAnh5" accept="image/*" onchange="displayImage(this, 'editviewLinkAnh5')" />-->
                                                    <!--                                                <img th:src="@{|${sach.linkAnh5}|}" id="editviewLinkAnh5" alt="anh 5" width="88px" height="88px">-->
                                                    <div class="image-container">
                                                        <label for="editviewlinkAnhTacGia">
                                                            <img th:src="@{|${t.linkAnhTacGia}|}" id="editviewLinkAnhTacGia"
                                                                 alt="anh 1" width="88px" height="88px">
                                                        </label>
                                                        <input type="file" class="custom-file-input" id="editviewLinkAnhTacGia"
                                                               name="editviewLinkAnhTacGia" accept="image/*"
                                                               onchange="displayImage(this, 'editviewLinkAnhTacGia')"/>
                                                        <button id="deleteButton1" class="delete-button"
                                                                onclick="deleteImage('editviewLinkAnhTacGia', 'editviewLinkAnhTacGia', event)">
                                                            Xóa Ảnh
                                                        </button>
                                                    </div>
                                                    <!--                                                vẫn bị config với các button chỉnh sửa-->
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="idTacGia">Id Tac Gia</label>
                                                <input type="text" id="idTacGia" class="form-control"
                                                       th:value="${t.idTacGia}">
                                            </div>
                                            <button type="submit" class="btn btn-secondary">
                                                Lưu 2
                                            </button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="saveEditBtn">Lưu
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end dit modal-->
                        </tbody>


                    </table>
                    <!-- phân trang-->
                    <div>
                        <span th:if="${data.number + 1 > 1}">
                            <a th:href="@{'/tac-gia/getall?page=' + ${data.number}}">Previous</a>
                        </span>
                        <span th:text="${data.number + 1} + ' / ' + ${data.totalPages}"></span>
                        <span th:if="${data.number + 1 < data.totalPages}">
                            <a th:href="@{'/tac-gia/getall?page=' + ${data.number + 2}}">Next</a>
                        </span>
                    </div>
                    <!--end phân trang-->


                </div>
            </div>

        </div>

    </div>


</article>
</body>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>

</html>