<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/quanly/layoutchungquanly/menuQuanLy}">
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sản Phẩm </title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0"/>
    <link rel="stylesheet" href="/user/css/sanpham.css">

</head>

<body>
<article layout:fragment="noiDung">
    <!--  khung noi dung-->

    <div class="container-fluid">
        <div class="tong">
            <!--            thông báo các đoạn mã vạch-->
            <span th:if="${thongBaoMaVach != null}">
                <h1 id="thongBaoMaVach" th:text="${thongBaoMaVach}" hidden></h1>
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    // Lấy giá trị từ thẻ span
                    var thongBaoMaVach = document.getElementById('thongBaoMaVach').innerText;
                    // Kiểm tra nếu có thông báo thì hiển thị alert
                    if (thongBaoMaVach.trim() !== '') {
                        alert(thongBaoMaVach);
                    }
                    /*]]>*/
                </script>
            </span>
            <span th:if="${danhSachLoiValidate != null}">
                <span th:if="${danhSachLoiValidate.size() > 0}">
                    <div id="hiddenList" th:attr="data-list=${danhSachLoiValidate}" hidden>
                        <!-- Lặp qua danh sách và hiển thị mỗi phần tử trong div ẩn -->
                        <span th:each="loi : ${danhSachLoiValidate}">
                            <span th:text="${loi}"></span>
                        </span>
                    </div>
                    <script th:inline="javascript">
                        // Lấy giá trị của danh sách từ thẻ div ẩn
                        var hiddenList = document.getElementById('hiddenList').getAttribute('data-list');

                        // Hiển thị danh sách trong alert
                        alert('Danh sách: ' + hiddenList);
                    </script>
                </span>
            </span>


            <div class="row">
                <div class="col-4">
                    <!--search -->
                    <div class="boxsearchforname">
                        <form th:action="@{/quan-ly/sach/hien-thi}" method="get" enctype="multipart/form-data">
                            <label for="productName">Tên sản phẩm:</label><br>
                            <input class="form-control" type="text" id="productName" name="productNameSearch"
                                   th:value="${param.productNameSearch}"/><br>
                            <label for="productCode">Mã sản phẩm:</label><br>
                            <input class="form-control" type="text" id="productCode" name="productCodeSearch"
                                   th:value="${param.productCodeSearch}"/><br>
                            <label for="productStatus">Trạng thái:</label><br>
                            <select id="productStatus" th:name="productStatusSearch" class="form-control">
                                <option th:value="S1" th:selected="${psta=='S1'}">Tất cả</option>
                                <option th:value="S2" th:selected="${psta=='S2'}">Hoạt động</option>
                                <option th:value="S3" th:selected="${psta=='S3'}">Ngừng hoạt động</option>
                            </select>
                            <br>
                            <!--                            <label>Thể loại:</label><br>-->
                            <!--                            <div id="categoryList" style="max-height: 200px; overflow-y: scroll;">-->
                            <!--                                <th:block th:each="category : ${listTheLoai}">-->
                            <!--                                    <input type="checkbox" th:id="'category_' + ${category.idTheLoai}"-->
                            <!--                                           th:name="categorySearch" th:value="${category.idTheLoai}"-->
                            <!--                                           th:checked="${catego.contains(category)}"-->
                            <!--                                    />-->
                            <!--                                    <label th:for="'category_' + ${category.idTheLoai}"-->
                            <!--                                           th:text="${category.tenTheLoai}"></label><br>-->
                            <!--                                </th:block>-->
                            <!--                            </div>-->


                            <!--                            <label>Khoảng giá:</label><br>-->
                            <!--                            <input type="radio" name="priceRangeSearch" value="all"-->
                            <!--                                   th:checked="${price=='all'}"> Tất cả<br>-->
                            <!--                            <input type="radio" name="priceRangeSearch" value="1"-->
                            <!--                                   th:checked="${price=='1'}"> Dưới 100.000 vnd<br>-->
                            <!--                            <input type="radio" name="priceRangeSearch" value="2"-->
                            <!--                                   th:checked="${price=='2'}">Từ 100.000 đến 500.000<br>-->
                            <!--                            <input type="radio" name="priceRangeSearch" value="3"-->
                            <!--                                   th:checked="${price=='3'}"> Trên 500.000<br>-->
                            <!-- Thêm các radio button cho các khoảng giá khác -->
                            <button class="form-control btn btn-success" type="submit">Tìm kiếm</button>
                        </form>
                    </div>

                </div>
                <div class="col-8">
                    <!-- các button thêm mới, import, và xuất file-->
                    <div class="box">
                        <h4 style="text-align: left;">Danh Sách Sản Phẩm</h4>
                        <button type="button" class="btn btn-success" id="openModalBtn" data-toggle="modal"
                                data-target="#createNewModal">Thêm Mới
                        </button>

                        <!-- stảt Modal thêm mới-->
                        <div class="modal fade" id="createNewModal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Thông Tin Sách</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form th:action="@{/quan-ly/sach/them-moi}" method="post" th:object="${sach}"
                                              enctype="multipart/form-data">
                                            <div class="input-field">
                                                <label for="maSach">Mã Sách:</label>
                                                <input type="text" id="maSach" class="form-control" readonly
                                                       placeholder="Mã Sách Tự tăng !" name="maSach" required>
                                            </div>
                                            <div class="input-field">
                                                <label for="tenSach">Tên Sách:</label>
                                                <input type="text" id="maSach" class="form-control" name="tenSach"
                                                       required th:maxlength="100">
                                            </div>
                                            <div class="input-field">
                                                <label for="maSach">Thể loại:</label>
                                                <select multiple="multiple" name="theLoais" class="form-control"
                                                        required>
                                                    <option th:each="listTheLoai : ${listTheLoai}"
                                                            th:value="${listTheLoai.idTheLoai}"
                                                            th:text="${listTheLoai.tenTheLoai}"></option>
                                                </select>
                                            </div>
                                            <div class="input-field">
                                                <label for="maSach">Tác giả:</label>
                                                <select multiple="multiple" name="tacgia" class="form-control" required>
                                                    <option th:each="listTheLoai : ${authors}"
                                                            th:value="${listTheLoai.idTacGia}"
                                                            th:text="${listTheLoai.hoVaTen}"></option>
                                                </select>
                                            </div>
                                            <div class="input-field">
                                                <label for="moTa">Mô tả:</label>
                                                <textarea id="moTa" class="form-control" name="moTa"
                                                          required th:maxlength="250"></textarea>
                                            </div>
                                            <div class="input-field">
                                                <label for="trangThai">Trạng Thái:</label>
                                                <select id="trangThai" class="form-control" name="trangThai">
                                                    <option value="1">Đang kinh doanh</option>
                                                    <option value="0">Ngừng kinh doanh</option>
                                                </select>
                                            </div>
                                            <div class="input-field">
                                                <label for="soLuong">Số Lượng:</label>
                                                <input type="number" id="soLuongTonKho" name="soLuongTonKho" required
                                                       class="form-control">
                                            </div>
                                            <div class="input-field">
                                                <label for="giaBan">Giá Bán:</label>
                                                <input type="number" id="giaBan" class="form-control" name="giaBan"
                                                       required>
                                            </div>
                                            <div class="form-group">
                                                <label for="linkAnh1">Chọn ảnh :</label> <br>
                                                <!--anh 1-->
                                                <input type="file" id="linkAnh1" name="linkAnh1" accept="image/*"
                                                       required
                                                       onchange="displayImage(this, 'selectedImage1')"/>
                                                <!-- hien thi anh 1-->
                                                <img id="selectedImage1" src="#" alt="Ảnh đã chọn"
                                                     style="max-width: 88px; height: auto; display: none;"/>
                                                <!--anh 2-->
                                                <input type="file" id="linkAnh2" name="linkAnh2" accept="image/*"
                                                       onchange="displayImage(this, 'selectedImage2')"/>
                                                <!-- hien thi anh 2-->
                                                <img id="selectedImage2" src="#" alt="Ảnh đã chọn"
                                                     style="max-width: 88px; height: auto; display: none;"/>
                                                <!--anh 3-->
                                                <input type="file" id="linkAnh3" name="linkAnh3" accept="image/*"
                                                       onchange="displayImage(this, 'selectedImage3')"/>
                                                <!--hien thi anh 3-->
                                                <img id="selectedImage3" src="#" alt="Ảnh đã chọn"
                                                     style="max-width: 88px; height: auto; display: none;"/>
                                                <!--anh 4-->
                                                <input type="file" id="linkAnh4" name="linkAnh4" accept="image/*"
                                                       onchange="displayImage(this, 'selectedImage4')"/>
                                                <!-- hien thi anh 4-->
                                                <img id="selectedImage4" src="#" alt="Ảnh đã chọn"
                                                     style="max-width: 88px; height: auto; display: none;"/>
                                                <!--anh 4-->
                                                <input type="file" id="linkAnh5" name="linkAnh5" accept="image/*"
                                                       onchange="displayImage(this, 'selectedImage5')"/>
                                                <!-- hien thi anh 4-->
                                                <img id="selectedImage5" src="#" alt="Ảnh đã chọn"
                                                     style="max-width: 88px; height: auto; display: none;"/>
                                            </div>
                                            <div class="input-field">
                                                <label for="maVach">Mã Vạch:</label>
                                                <input type="text" id="maVach" class="form-control" name="maVach">
                                            </div>
                                            <br>
                                            <button type="submit" class="btn btn-primary" id="saveBtn">Thêm</button>

                                        </form>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end modal thêm mới-->

                        <!-- start button xuaats file-->
                        <button type="button" class="btn btn-success">Xuất File</button>
                        <!--end button xuat file-->
                    </div>
                    <!-- end các button thêm mới, import, và xuất file-->
                    <th:block th:if="${not pageOfSach.isEmpty()}">
                        <table class="table" style=" border: 0px solid blue;">
                            <thead class="table-dark">
                            <tr>
                                <th scope="col">Mã Sản Phẩm</th>
                                <th scope="col">Tên Sản Phẩm</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Số Lượng</th>
                                <th scope="col">Trạng Thái</th>
                                <th scope="col">Mã Vạch</th>
                                <th scope="col">Hành Động</th>

                            </tr>
                            </thead>
                            <tbody th:each="sach, iterStat : ${pageOfSach.content}">
                            <tr>
                                <td th:text="${sach.maSach}"></td>
                                <td th:text="${sach.tenSach}"></td>
                                <td>
                                    <span th:if="${sach.layGiaNeuCoKhuyenMai() == null}" class="text-muted"
                                          th:text="${'Giá cũ: ' + sach.giaBanVnd}"></span>
                                    <span th:if="${sach.layGiaNeuCoKhuyenMai() != null}">
                                        <del class="text-muted" th:text="${'Giá cũ: ' + sach.giaBanVnd}"></del>
                                        <br>
                                        <span class="text-success"
                                              th:text="${'Giá mới: ' + sach.layGiaNeuCoKhuyenMai()}"></span>
                                    </span>
                                </td>
                                <td th:text="${sach.soLuongTonKho}"></td>
                                <td th:text="${sach.trangThai == 1 ? 'Đang kinh doanh' :'Ngừng kinh doanh'}"></td>
                                <td th:text="${sach.maVach}"></td>
                                <td>
                                    <!-- Sửa -->
                                    <!-- Button to Open the Edit Product Modal -->
                                    <button type="button" class="btn btn-info" data-toggle="modal"
                                            th:attr="data-target='#modalEditSach-' + ${sach.idSach}">
                                        <img src="/image/anhCuaThanh/edit1.jpg" width="26" height="26">
                                    </button>
                                    <!-- Xem -->
                                    <!-- Button to Open the View Product Modal -->
                                    <button type="button" class="btn btn-info" data-toggle="modal"
                                            th:attr="data-target='#modalSach-' + ${sach.idSach}">
                                        <img src="/image/anhCuaThanh/redeye12.jpg" width="26" height="26">
                                    </button>
                                </td>
                            </tr>

                            <!--start modal for view action-->
                            <div class="modal fade" th:id="'modalSach-' + ${sach.idSach}" tabindex="-1" role="dialog"
                                 aria-labelledby="viewModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="viewModalLabel">Thông Tin Sản Phẩm</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Display Product Details -->
                                            <div class="product-details">
                                                <h6 class="product-name">Mã Sách:</h6>
                                                <input class="form-control" id="viewMaSach" th:value="${sach.maSach}"
                                                       disabled/>
                                                <h6 class="product-name">Tên Sách:</h6>
                                                <input class="form-control" id="viewTenSach" th:value="${sach.tenSach}"
                                                       disabled/>
                                                <h6 class="product-description">Mô tả:</h6>
                                                <input class="form-control" id="viewMoTa" th:value="${sach.moTa}"
                                                       disabled/>
                                                <h6 class="product-status">Trạng Thái:</h6>
                                                <input class="form-control" id="viewTrangThai"
                                                       th:value="${sach.trangThai == 1 ? 'Đang kinh doanh': 'Ngừng kinh doanh'}"
                                                       disabled/>
                                                <h6 class="product-quantity">Số Lượng:</h6>
                                                <input class="form-control" id="viewSoLuong"
                                                       th:value="${sach.soLuongTonKho}" disabled/>
                                                <h6 class="product-price">Giá Bán:</h6>
                                                <input class="form-control" id="viewGiaBan" th:value="${sach.giaBanVnd}"
                                                       disabled/>
                                                <h6 class="product-images">Ảnh:</h6>
                                                <img th:src="@{|${sach.linkAnh1}|}"
                                                     id="viewLinkAnh1" alt="anh 1" width="88px" height="88px">
                                                <img th:src="@{|${sach.linkAnh2}|}" id="viewLinkAnh2" alt="anh 2"
                                                     width="88px" height="88px">
                                                <img th:src="@{|${sach.linkAnh3}|}" id="viewLinkAnh3" alt="anh 3"
                                                     width="88px" height="88px">
                                                <img th:src="@{|${sach.linkAnh4}|}" id="viewLinkAnh4" alt="anh 4"
                                                     width="88px" height="88px">
                                                <img th:src="@{|${sach.linkAnh5}|}" id="viewLinkAnh5" alt="anh 5"
                                                     width="88px" height="88px">
                                                <h6 class="product-barcode">Mã Vạch:</h6>
                                                <input class="form-control" id="viewMaVach" th:value="${sach.maVach}"
                                                       disabled/>
                                                <h4 class="viewTacGia">Tác Giả:</h4>
                                                <select id="tacgia" name="tacGiaList" class="form-control">
                                                    <th:block th:each="tacGia : ${sach.tacgia}">
                                                        <option th:value="${tacGia.idTacGia}"
                                                                th:text="${tacGia.hoVaTen}"></option>
                                                    </th:block>
                                                </select>
                                                <h6 class="viewTacGia">Thể Loại:</h6>
                                                <select id="theLoaiView" name="theLoaiList" class="form-control">
                                                    <th:block th:each="theLoai : ${sach.theLoais}">
                                                        <option th:value="${theLoai.idTheLoai}"
                                                                th:text="${theLoai.tenTheLoai}"></option>
                                                    </th:block>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">
                                                Đóng
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end modal for view action-->

                            <!-- Edit Product Modal -->
                            <div class="modal fade" th:id="'modalEditSach-' + ${sach.idSach}" tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="editModalLabel"
                                 aria-hidden="true">+
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content ">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editModalLabel">Sửa Sản Phẩm</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Form for Edetaiiting Product Dls -->
                                            <form th:action="@{/quan-ly/sach/cap-nhat}" method="post"
                                                  th:object="${sach2}"
                                                  id="editProductForm" enctype="multipart/form-data">
                                                <div class="form-group">
                                                    <label for="maSach">Mã Sách:</label>
                                                    <input type="text" th:value="${sach.maSach}" id="maSach"
                                                           name="maSach"
                                                           class="form-control" readonly>
                                                </div>
                                                <input type="text" id="IdSach" class="form-control"
                                                       th:value="${sach.IdSach}" name="IdSach" hidden>
                                                <div class="form-group">
                                                    <label for="tenSach">Tên Sách:</label>
                                                    <input type="text" id="tenSach" class="form-control"
                                                           th:value="${sach.tenSach}" th:maxlength="100" name="tenSach">
                                                </div>
                                                <div class="form-group">
                                                    <label for="moTa">Mô tả:</label>
                                                    <textarea id="moTa" class="form-control" th:text="${sach.moTa}"
                                                              name="moTa th:maxlength="250""></textarea>

                                                </div>
                                                <div class="form-group">
                                                    <label for="trangThai">Trạng Thái:</label>
                                                    <select id="trangThai" class="form-control" name="trangThai">
                                                        <option th:selected="${sach.trangThai == 1}" value="1">Đang kinh
                                                            doanh
                                                        </option>
                                                        <option th:selected="${sach.trangThai == 0}" value="0">Ngừng
                                                            kinh
                                                            doanh
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="soLuong">Số Lượng:</label>
                                                    <input type="number" id="soLuong" class="form-control"
                                                           name="soLuongTonKho" th:maxlength="10"
                                                           th:value="${sach.soLuongTonKho}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="giaBan">Giá Bán:</label>
                                                    <input type="text" id="giaBan" class="form-control" name="giaBan"
                                                           th:value="${sach.giaBan}">
                                                </div>

                                                <div class="input-field">
                                                    <label for="maSach">Thể loại:</label>
                                                    <select multiple="multiple" name="theLoais" class="form-control">
                                                        <option th:each="listTheLoai : ${listTheLoai}"
                                                                th:value="${listTheLoai.idTheLoai}"
                                                                th:text="${listTheLoai.tenTheLoai}"
                                                                th:selected="${sach.theLoais.contains(listTheLoai)}"
                                                        ></option>
                                                    </select>
                                                </div>
                                                <div class="input-field">
                                                    <label for="maSach">Tác giả:</label>
                                                    <select multiple="multiple" name="tacgia" class="form-control">
                                                        <option th:each="listTheLoai : ${authors}"
                                                                th:value="${listTheLoai.idTacGia}"
                                                                th:text="${listTheLoai.hoVaTen}"
                                                                th:selected="${sach.tacgia.contains(listTheLoai)}"
                                                        ></option>
                                                    </select>
                                                </div>
                                                <!--                                             anh 1-->
                                                <div class="image-container">
                                                    <label th:for="'editlinkAnh1-' + ${sach.idSach}">
                                                        <img th:src="@{|${sach.linkAnh1}|}"
                                                             th:id="'editviewLinkAnh1-' + ${sach.idSach}"
                                                             alt="anh 1" width="88px" height="88px"
                                                             th:onclick="'editImage(\'' + 'editlinkAnh1-' + ${sach.idSach} + '\', \'checkthayDoiImage-' + ${sach.idSach} + '\')'"/>
                                                    </label>
                                                    <input type="text" name="checkthayDoiImage1"
                                                           th:id="'checkthayDoiImage-' + ${sach.idSach}"
                                                           value="chuaThayDoi"
                                                           hidden>
                                                    <input type="file" class="custom-file-input"
                                                           th:id="'editlinkAnh1-' + ${sach.idSach}"
                                                           name="editlinkAnh1" accept="image/*"
                                                           th:attr="onchange='displayImage(this, \'editviewLinkAnh1-' + ${sach.idSach} + '\')'"/>

                                                    <button class="delete-button"
                                                            th:attr="onclick=|deleteImage('editviewLinkAnh1-${sach.idSach}', 'editlinkAnh1-${sach.idSach}', 'checkthayDoiImage-${sach.idSach}', event)|">
                                                        Xóa Ảnh
                                                    </button>
                                                </div>
                                                <!--                                             anh 2-->
                                                <div class="image-container">
                                                    <input type="text" name="checkthayDoiImage2"
                                                           th:id="'checkthayDoiImage2-' + ${sach.idSach}"
                                                           value="chuaThayDoi"
                                                           hidden>
                                                    <label th:for="'editlinkAnh2-' + ${sach.idSach}">
                                                        <img th:src="@{|${sach.linkAnh2}|}"
                                                             th:id="'editviewLinkAnh2-' + ${sach.idSach}"
                                                             alt="anh 1" width="88px" height="88px"
                                                             th:onclick="'editImage(\'' + 'editlinkAnh2-' + ${sach.idSach} + '\', \'checkthayDoiImage2-' + ${sach.idSach} + '\')'"/>
                                                    </label>

                                                    <input type="file" class="custom-file-input"
                                                           th:id="'editlinkAnh2-' + ${sach.idSach}"
                                                           name="editlinkAnh2" accept="image/*"
                                                           th:attr="onchange='displayImage(this, \'editviewLinkAnh2-' + ${sach.idSach} + '\')'"/>

                                                    <button class="delete-button"
                                                            th:attr="onclick=|deleteImage('editviewLinkAnh2-${sach.idSach}', 'editlinkAnh2-${sach.idSach}', 'checkthayDoiImage2-${sach.idSach}', event)|">
                                                        Xóa Ảnh
                                                    </button>
                                                </div>
                                                <!--                                             anh 3-->
                                                <div class="image-container">
                                                    <label th:for="'editlinkAnh3-' + ${sach.idSach}">
                                                        <img th:src="@{|${sach.linkAnh3}|}"
                                                             th:id="'editviewLinkAnh3-' + ${sach.idSach}"
                                                             alt="anh 1" width="88px" height="88px"
                                                             th:onclick="'editImage(\'' + 'editlinkAnh1-' + ${sach.idSach} + '\', \'checkthayDoiImage3-' + ${sach.idSach} + '\')'"/>
                                                    </label>
                                                    <input type="text" name="checkthayDoiImage3"
                                                           th:id="'checkthayDoiImage3-' + ${sach.idSach}"
                                                           value="chuaThayDoi"
                                                           hidden>
                                                    <input type="file" class="custom-file-input"
                                                           th:id="'editlinkAnh3-' + ${sach.idSach}"
                                                           name="editlinkAnh3" accept="image/*"
                                                           th:attr="onchange='displayImage(this, \'editviewLinkAnh3-' + ${sach.idSach} + '\')'"/>

                                                    <button class="delete-button"
                                                            th:attr="onclick=|deleteImage('editviewLinkAnh3-${sach.idSach}', 'editlinkAnh3-${sach.idSach}', 'checkthayDoiImage3-${sach.idSach}', event)|">
                                                        Xóa Ảnh
                                                    </button>
                                                </div>
                                                <!--                                             anh 4-->
                                                <div class="image-container">
                                                    <label th:for="'editlinkAnh4-' + ${sach.idSach}">
                                                        <img th:src="@{|${sach.linkAnh4}|}"
                                                             th:id="'editviewLinkAnh4-' + ${sach.idSach}"
                                                             alt="anh 1" width="88px" height="88px"
                                                             th:onclick="'editImage(\'' + 'editlinkAnh4-' + ${sach.idSach} + '\', \'checkthayDoiImage4-' + ${sach.idSach} + '\')'"/>
                                                    </label>
                                                    <input type="text" name="checkthayDoiImage4"
                                                           th:id="'checkthayDoiImage4-' + ${sach.idSach}"
                                                           value="chuaThayDoi"
                                                           hidden>
                                                    <input type="file" class="custom-file-input"
                                                           th:id="'editlinkAnh4-' + ${sach.idSach}"
                                                           name="editlinkAnh4" accept="image/*"
                                                           th:attr="onchange='displayImage(this, \'editviewLinkAnh4-' + ${sach.idSach} + '\')'"/>
                                                    <button class="delete-button"
                                                            th:attr="onclick=|deleteImage('editviewLinkAnh4-${sach.idSach}', 'editlinkAnh4-${sach.idSach}', 'checkthayDoiImage4-${sach.idSach}', event)|">
                                                        Xóa Ảnh
                                                    </button>
                                                </div>
                                                <!--                                             anh 5-->
                                                <div class="image-container">
                                                    <label th:for="'editlinkAnh5-' + ${sach.idSach}">
                                                        <img th:src="@{|${sach.linkAnh5}|}"
                                                             th:id="'editviewLinkAnh5-' + ${sach.idSach}"
                                                             alt="anh 1" width="88px" height="88px"
                                                             th:onclick="'editImage(\'' + 'editlinkAnh1-' + ${sach.idSach} + '\', \'checkthayDoiImage5-' + ${sach.idSach} + '\')'"/>
                                                    </label>
                                                    <input type="text" name="checkthayDoiImage5"
                                                           th:id="'checkthayDoiImage5-' + ${sach.idSach}"
                                                           value="chuaThayDoi"
                                                           hidden>
                                                    <input type="file" class="custom-file-input"
                                                           th:id="'editlinkAnh5-' + ${sach.idSach}"
                                                           name="editlinkAnh5" accept="image/*"
                                                           th:attr="onchange='displayImage(this, \'editviewLinkAnh5-' + ${sach.idSach} + '\')'"/>
                                                    <button class="delete-button"
                                                            th:attr="onclick=|deleteImage('editviewLinkAnh5-${sach.idSach}', 'editlinkAnh5-${sach.idSach}', 'checkthayDoiImage5-${sach.idSach}', event)|">
                                                        Xóa Ảnh
                                                    </button>
                                                </div>
                                                <div class="form-group">
                                                    <label for="maVach">Mã Vạch:</label>
                                                    <input type="text" id="maVach" class="form-control"
                                                           th:value="${sach.maVach}" th:maxlength="20"name="maVach">
                                                </div>
                                                <br>
                                                <button type="submit" class="btn btn-primary">
                                                    Lưu
                                                </button>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end edit modal-->
                            </tbody>


                        </table>
                        <th:block th:if="${pageOfSach.isEmpty()}">
                            <h2>Không có dữ liệu nào cả!!!</h2>
                        </th:block>
                        <h6 style="color: red;"><b><i>Đang có <span th:text="${pageOfSach.totalElements}"></span> Sản
                            Phẩm!</i> </b></h6>
                        <!-- Bổ sung mã Thymeleaf để hiển thị nút chuyển trang -->
                        <div>
                        </div>
                        <!-- phân trang-->
                        <div>
                        <span th:if="${pageOfSach.number + 1 > 1}">
                            <a th:href="@{'/quan-ly/sach/hien-thi?page='
                            + ${pageOfSach.number} + '&productNameSearch=' + ${pn} + '&productCodeSearch=' + ${pc} + '&productStatusSearch=' + ${psta}}">Previous</a>
                        </span>
                            <span th:text="${pageOfSach.number + 1} + ' / ' + ${pageOfSach.totalPages}"></span>
                            <span th:if="${pageOfSach.number + 1 < pageOfSach.totalPages}">
                            <a th:href="@{'/quan-ly/sach/hien-thi?page=' + ${pageOfSach.number + 2} + '&productNameSearch=' + ${pn} + '&productCodeSearch=' + ${pc} + '&productStatusSearch=' + ${psta}}">Next</a>
                            </span>
                            </span>
                        </div>
                        <!--end phân trang-->
                    </th:block>
                </div>
            </div>

        </div>

    </div>


</article>
</body>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>

</html>