<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/quanly/layoutchungquanly/menuQuanLy}">
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <title>Thông tin tài khoản</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
<!--    <link rel="stylesheet" href="/user/css/Thanh_ThongTin.css"/>-->
    <link rel="stylesheet" href="/user/css/son_thongtintaikhoan.css"/>

    <!-- Các stylesheet và link khác -->

</head>
<body>
<article layout:fragment="noiDung">
    <div class="container">
        <div class="row">
            <!-- Sidebar -->

            <!-- Nội dung chính -->
            <section class="col-md-10">

                <form th:action="@{/quan-ly/thong-tin/cap-nhat/moi}" method="post" enctype="multipart/form-data">
                    <div class="table-responsive">
                        <center>
                            <h2>Thông tin</h2>
                        </center>
                        <div th:each="thongtin, iterStat : ${loggedInThongTin}">
                            <div class="group">
                                <input class="text-input" id="idThongtin" type="text" name="idThongTin"
                                       th:value="${thongtin.idThongTin}" hidden/>
                            </div>
                            <br>
                            <br>
                            <div class="group">
                                <label for="soDienThoai1">Địa Chỉ</label>
                                <input class="text-input" id="diaChi" type="text" name="diaChi"
                                       th:value="${thongtin.diaChi}"/>
                            </div>
                            <br>
                            <div class="group">
                                <label for="soDienThoai1">Số điện thoại 1</label>
                                <input class="text-input" id="soDienThoai1" type="tel" name="soDienThoai1"
                                       th:value="${thongtin.soDienThoai1}"/>
                            </div>
                            <br>
                            <div class="group">
                                <label for="soDienThoai2">Số điện thoại 2</label>
                                <input class="text-input" id="soDienThoai2" type="tel" name="soDienThoai2"
                                       th:value="${thongtin.soDienThoai2}"
                                />
                            </div>
                            <br>
<!--                            <div class="image-container">-->
<!--                                <label>Ảnh logo</label>-->
<!--                                <label th:for="'editlinkAnhNhanVien-' + ${thongtin.idThongTin}">-->
<!--                                    <img-->
<!--                                            th:src="@{|${thongtin.linkLogo}|}"-->
<!--                                            th:id="'editviewLinkAnhNhanVien-' + ${thongtin.idThongTin}"-->
<!--                                            alt="anhNhanVien" width="88px" height="88px"-->
<!--                                            th:onclick="'editImage(\'' + 'editlinkAnhNhanVien-' + ${thongtin.idThongTin} + '\', \'checkthayDoiImage-' + ${thongtin.idThongTin} + '\')'"/>-->
<!--                                </label>-->
<!--                                <input type="text" name="checkthayDoiImage"-->
<!--                                       th:id="'checkthayDoiImage-' + ${thongtin.idThongTin}"-->
<!--                                       value="chuaThayDoi"-->
<!--                                       hidden>-->
<!--                                <input type="file" class="custom-file-input"-->
<!--                                       th:id="'editlinkAnhNhanVien-' + ${thongtin.idThongTin}"-->
<!--                                       name="editlinkAnhNhanVien" accept="image/*"-->
<!--                                       th:attr="onchange='displayImage(this, \'editviewLinkAnhNhanVien-' + ${thongtin.idThongTin} + '\')'"/>-->
<!--                                <button class="delete-button"-->
<!--                                        th:attr="onclick=|deleteImage('editviewLinkAnhNhanVien-${thongtin.idThongTin}', 'editlinkAnhNhanVien-${thongtin.idThongTin}', 'checkthayDoiImage-${thongtin.idThongTin}', event)|">-->
<!--                                    Xóa Ảnh-->
<!--                                </button>-->
<!--                            </div>-->
                            <br>
                            <div class="group">
                                <label for="email">Email</label>
                                <input class="text-input" id="email" type="email" name="email"
                                       th:value="${thongtin.email}"
                                />
                            </div>
                            <div class="group btn">
                                <button class="btn-warning" type="submit">Lưu thay đổi</button>
                            </div>
                        </div>

                    </div>
                </form>
            </section>
        </div>
    </div>
</article>
<script src="/user/js/thongtin.js"></script>
<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"
        integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src=""></script>
</body>
</html>
