
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layoutchung/mainLayout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thông tin tài khoản</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/user/css/Thanh_ThongTin.css"/>
    <!-- Các stylesheet và link khác -->

</head>
<body>
<article layout:fragment="noiDung">
    <div class="container">
        <div class="row">
            <!-- Sidebar -->

            <!-- Nội dung chính -->
            <section class="col-md-10">

                <form th:action="@{/thong-tin/cap-nhat/moi}" method="post" >
                    <div class="table-responsive">
                        <center>
                            <h2>Thông tin </h2>
                        </center>
                        <div th:each="thongtin, iterStat : ${session.loggedInThongTin}">
<!--                            <div class="group">-->
<!--                                <label for="linkBannerTrangChu">Image<span style="color: #ff0000">*</span></label>-->
<!--                                <img src="" class="text-input" id="linkBannerTrangChu" alt="anh banner" name="linkBannerTrangChu"-->
<!--                                     width="88px" height="88px">-->
<!--                            </div>-->
<!--                            <br>-->
<!--                            <div class="group">-->
<!--                                <label for="linkLogo">Image<span style="color: #ff0000">*</span></label>-->
<!--                                <img src="" class="text-input" id="linkLogo" alt="anh logo " name="linkLogo"-->
<!--                                     width="88px" height="88px">-->
<!--                            </div>-->

                                <div class="group">
                                    <label for="idThongTin">Id Thong tin<span style="color: #ff0000">*</span></label>
                                    <input class="text-input" id="idThongtin" type="text" name="idThongTin"
                                    th:value="${thongtin.idThongTin}" />
                                </div>
                                <br>
                                <div class="group">
                                    <label for="soDienThoai1">Số điện thoại 1</label>
                                    <input class="text-input" id="soDienThoai1" type="tel" name="soDienThoai1"
                                    th:value="${thongtin.soDienThoai1}"/>
                                </div>
                                <br>
                                <div class="group">
                                    <label for="soDienThoai2">Số điện thoại 2</label>
                                    <input class="text-input" id="soDienThoai2" type="tel" name="soDienThoai2"
                                    th:value="${thongtin.soDienThoai2}"
                                    />
                                </div>
                                <br>
                                <div class="group">
                                    <label for="email">Email</label>
                                    <input class="text-input" id="email" type="email" name="email"
                                    th:value="${thongtin.email}"
                                    />
                                </div>
                                <div class="group btn">
                                    <button class="btn-warning" type="submit">Lưu thay đổi</button>
                                </div>
                        </div>

                        </div>
                </form>
            </section>
        </div>
    </div>
</article>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"
        integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src=""></script>
</body>
</html>
