/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.wrapper {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 25%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.content {
    width: 70%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product-item {
    width: 20%;
    padding: 10px;
    text-align: center;

}

.product-item img {
    width: 150px;
    height: 150px;
}

.product-item h3 {
    font-size: 110%;
}

.product-item h4 {
    font-size: 125%;
}

.product-item h5 {
    font-size: 100%;
}

.product {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    font-family: cursive;
    border: 1px solid darkgray;
}

/* CSS */

.sale {
    text-decoration-line: line-through

}

.price {
    color: red;
}

.discount {
    margin-left: 120px;
    position: absolute;
    margin-top: -245px;
    background-color: orange;
    border-radius: 50%;
    padding: 5px 2px;
    color: white;
    font-weight: bold;
}

.product-item:hover .product-image img {
    border: 1px solid red; /* Màu viền và độ rộng của viền tùy chọn */
}


