.container-fluid {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  padding: 0 30px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.logo {
  width: 200px;
}

.header {
  display: flex;
  align-items: center;
  height: 80px;
  white-space: nowrap;
}
.header-icons {
  margin-left: 640px;
  display: flex;
  align-items: center;
}

.header-icons>* {
  margin-right: 50px;
}

.header-icons>*:last-child {
  margin-right: 0;
}


.header-icons svg {
  width: 18px;
}

.header-icons svg:not(:last-child) {
  margin-right: 20px;
}
.account-dropdown {
  display: none;
  position: fixed;
  right: 35px;
  top:75px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  flex-direction: column;
}

.account-dropdown a {
  text-decoration: none;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.login-button {
  background-color: rgb(214, 23, 33);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
}
.thongtin,.dangxuat{
  border: 2px solid rgb(212, 9, 9);
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
}
.register-button {
  border: 2px solid red;
  color: red;
  background-color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
}

.google-login-button {
  background-color: rgb(28, 167, 231);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
}


.search{
  margin-left: 35px;
  width: 320%;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc;
  border-radius: 20px;
  padding: 5px;
  width: 100%;
  background-color: white;
  flex-grow: 1;
  position: relative;
}

#productName {
  border: none;
  outline: none;
  padding: 5px;
  width: 100%;
}


#search-icon {
  cursor: pointer;
  width: 18px;
}

#search-icon:hover,
#search-icon:active {
  color: #007bff;
}

.notification-popup {
  display: none;
  position: fixed;
  top: 75px;
  right: 150px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0px 15px 20px 15px;
  flex-direction: column;
}
.notification-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.notification-tabs li {
  display: inline-block;
  margin-right: 10px;
}

.notification-tabs a {
  text-decoration: none;
}
.timkiem {
  position: absolute;
  left: 745px;
  width: 72px;
  height: 30px;
  font-size: 21px;
  border: 2px solid #C92127;
  border-radius: 10px;
  background: #C92127;
}



