body {
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
h1{
    color: rgb(42, 224, 18)
}
.top-section,
.bottom-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-section {
    background-color: #f2f2f2;
    margin-bottom: 10px;
}

.bottom-section {
    background-color: #f2f2f2;
}

.content {
    text-align: center;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    border: 1px solid #000;
}





