/*.content {*/
/*    display: grid;*/
/*    grid-template-columns: 10fr ;*/
/*    text-align: center;*/

/*}*/
/*article {*/
/*    background-color: white;*/
/*   */
/*}*/
/*form {*/
/*    width: 100%;*/
/*    height: 100px;*/
/*    margin: auto;*/
/*    display: grid;*/
/*    gap: 20px;*/
/*}*/

.group {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.group.gender input[type="radio"] {
    grid-template-columns: 5fr 1fr 1fr 1fr 5fr;
    /*justify-content: center;*/
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
    margin-right: 5px; /* Add some spacing between radio buttons and labels */
}
.group.gender span {
    display: inline-block;
    margin-right: 5px;
}

.group.btn {
    display: flex;
    align-items: center;


}

.text-input {
    border-radius: 100px;
    padding: 2px 5px;
    border: none;
    box-shadow: 0 0 2px;
    background-color: white;
}

.text-input:focus {
    outline-color: red;
}

.btn-warning {
    padding: 10px 40px;
    margin: auto;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

.btn-warning:hover {
    background-color: rgb(221, 0, 0);
}
h2 {
    text-align: center;
    color: red;
    font-size: 35px;
}
label{
    font-size: 18px;
}
span{
    margin-right: auto;
}