
ul li :not(h2) {
    display: flex;
}

ul li a {
    width: 60%;
    text-align: center;
    margin: auto;
    padding: 10px;
    box-shadow: 1px 2px 0px -1px rgb(199, 199, 199);
}

ul li a:hover {
    color: red;
}


ul li h2 {
    text-align: center;
    color: red;
}

li {
    font-size: 98%;
    margin-left: -100px;
}


nav {
    float: left;
    width: 24%;
    height: 348px;
    background: #ccc;
    padding: 0px;
}

nav ul {
    list-style-type: none;
    padding-top: 45px;
    padding-left: 80px;
}

.menuDiaChi {
    width: 15%;
    float: left;
    background: #ccc;
}

/*article {*/
/*    float: left;*/
/*    padding: 20px;*/
/*    width: 80%;*/
/*    height: 450px;*/
/*}*/

/*section:after {*/
/*    content: "";*/
/*    display: table;*/
/*    clear: both;*/
/*}*/
/*@media ( max-width: 700px) {*/
/*    nav, article {*/
/*        width: 100%;*/
/*        height: auto;*/
/*    }*/
/*}*/