.group {
    display: grid;
    grid-template-columns: 1fr 5fr;
}


.group.btn {
    display: flex;
    align-items: center;

}

.text-input {
    border-radius: 50px;
    padding: 8px 10px;
    border: none;
    box-shadow: 0 0 2px;
    background-color: white;
}

.text-input:focus {
    outline-color: red;
}

.btn-warning {
    padding: 10px 40px;
    margin: auto;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

.btn-warning:hover {
    background-color: rgb(221, 0, 0);
}

h2 {
    text-align: center;
    color: red;
}

.table2 {
    width: 76%;
    float: right;
    padding: 90px 50px 50px 50px;
}





