.content {
    display: grid;
    grid-template-columns: 10fr ;

    text-align: center;

}
article {
    background-color: white;
   
}
form {
    width: 100%;
    height: 100px;
    margin: auto;
    display: grid;
    gap: 20px;
}

.group {
    display: grid;
    grid-template-columns: 2fr 5fr;
}

.group.gender {
    grid-template-columns: 2fr 1fr 1fr 1fr 3fr;
    justify-content: center;
}

.group.btn {
    display: flex;
    align-items: center;


}

.text-input {
    border-radius: 100px;
    padding: 8px 10px;
    border: none;
    box-shadow: 0 0 2px;
    background-color: white;
}

.text-input:focus {
    outline-color: red;
}

.btn-warning {
    padding: 10px 40px;
    margin: auto;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

.btn-warning:hover {
    background-color: rgb(221, 0, 0);
}
h2 {
    text-align: center;
    color: red;
    font-size: 35px;
}
label{
    font-size: 18px;
}
span{
    margin-right: auto;
}