.content {
    display: grid;
    grid-template-columns: 2fr 7fr;
    gap: 5px;
    padding: 10px 0;
    text-align: center;

}
.list-filter h3 {
    text-align: left;
    padding-left: 20px;
    color: red;
}

.onCart {
    background-color: transparent;
}

.onCart .list-filter {
    background-color: white;
    padding: 20px 5px;
    margin: 0 0 12px 0;
}

.filter-item {
    display: grid;
    grid-template-columns: 0.5fr 8fr;
    padding-left: 30px;
    align-items: center;
    gap: 15px;
}

.date-filter {
    width: 70%;
    padding: 2px 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 2px;
}

.table-scroll {
    max-height: 1100px;
    overflow-y: scroll;
    overflow-x: hidden;
}

table {
    border: 1px solid lightgray;
    border-collapse: collapse;
}

thead td {
    font-weight: bold;
    text-align: center;
    height: 40px;
}

td {
    border: 1px solid lightgray;
    font-size: 12;
    padding: 0 5px;
}

.col-1 {
    width: 50px;
}

.col-2 {
    width: 100px;
}

.col-3 {
    width: 150px;
}

.col-4 {
    width: 200px;
}

.string-style {
    text-align: left;
}

.date-style {
    text-align: right;
}

.number-style {
    text-align: right;
}

.char-style {
    text-align: center;
}

.btn-action {
    background-color: red;
    color: white;
    padding: 2px 2px;
    border-radius: 1px;
}

.group-right {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}
input[type="text"] {
    width: 70%;
    padding: 6px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 2px;
}
label{
    margin-right: 80px;
    color: gray;
}
h2{
    font-size: 34px;
}
td{
    font-size: 17px;
}
.btn-warning {
    padding: 10px 40px;
    margin: auto;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}
input{
    font-size: 20px;
}
article {
    background-color: white;
}
a.canceled-order-link {
    opacity: 0.5; /* hoặc giá trị tùy chọn để làm mờ đi */
    pointer-events: none; /* ngăn chặn sự kiện click khi mờ đi */
}
.menutttk > * {
    margin: 0 5px; /* Adjust the margin between items as needed */
}
.boxsearch {
    margin-left: 400px;
}
.timKiemMa {
    margin-left: 134px ;
    margin-top: -67px ;
}