body {
    width: 95%;
    margin: auto;
    margin-top: 0;
    font-family: 'AR One Sans', sans-serif;
    height: 70px;
   
}

nav,
section,
footer {
    width: 100%;
    box-shadow: 0 0 1px;
}

nav {
    height: 70px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: grid;
    grid-template-columns: 2fr 0.6fr 4fr 0.6fr 0.6fr 0.6fr;
    gap: 1em;
}

li {
    list-style: none;
}

.logo img {
    width: auto;
    height: 30px;
}

.button,
.textbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textbox {
    position: relative;
}

#search {
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 10px 35px 10px 35px;
    box-shadow: 0 0 2px;
    z-index: 1;
}

.textbox .fa.fa-search {
    position: absolute;
    z-index: 10;
    left: 10px;
}

.textbox .fa.fa-times {
    position: absolute;
    z-index: 10;
    right: 10px;
}

.button .fa {
    font-size: x-large;
}

footer {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 1em;
    padding: 10px 0;
    background-color: white;
}

.block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.item-footer-1 {
    align-items: center;
    border-right: 1px solid black;
}

.item-footer-text {
    padding-left: 10px;
}

.block .logo {
    height: 30px;
}

.block .logo img {
    width: auto;
    height: 30px;
}

.block p {
    text-align: center;
}

.block .payment {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.block .payment img {
    width: auto;
    height: 15px;
    border-radius: 5px;
    box-shadow: 0 0 2px;
    cursor: pointer;
}

.block ul {
    padding-left: 0;
}

.block ul li {
    line-height: 15px;

}

.block h1 {
    text-align: left;
}

a {
    text-decoration: none;
    color: black;
}