body {
    width: 95%;
    margin: auto;
    margin-top: 0;
    font-family: 'AR One Sans', sans-serif;
    height: 70px;
   
}

nav,
section,
footer {
    width: 100%;
    box-shadow: 0 0 1px;
}

nav {
    height: 70px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: grid;
    grid-template-columns: 2fr 0.6fr 4fr 0.6fr 0.6fr 0.6fr;
    gap: 1em;
}

li {
    list-style: none;
}

.logo img {
    width: auto;
    height: 30px;
}

.button,
.textbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textbox {
    position: relative;
}

#search {
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 10px 35px 10px 35px;
    box-shadow: 0 0 2px;
    z-index: 1;
}

.textbox .fa.fa-search {
    position: absolute;
    z-index: 10;
    left: 10px;
}

.textbox .fa.fa-times {
    position: absolute;
    z-index: 10;
    right: 10px;
}

.button .fa {
    font-size: x-large;
}

footer {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 1em;
    padding: 10px 0;
    background-color: white;
}

.block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.item-footer-1 {
    align-items: center;
    border-right: 1px solid black;
}

.item-footer-text {
    padding-left: 10px;
}

.block .logo {
    height: 30px;
}

.block .logo img {
    width: auto;
    height: 30px;
}

.block p {
    text-align: center;
}

.block .payment {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.block .payment img {
    width: auto;
    height: 15px;
    border-radius: 5px;
    box-shadow: 0 0 2px;
    cursor: pointer;
}

.block ul {
    padding-left: 0;
}

.block ul li {
    line-height: 15px;

}

.block h1 {
    text-align: left;
}

a {
    text-decoration: none;
    color: black;
}
.list-filter h3 {
    text-align: left;
    padding-left: 20px;
    color: red;
}

.onCart {
    background-color: transparent;
}

.onCart .list-filter {
    background-color: white;
    padding: 20px 5px;
    margin: 0 0 12px 0;
}

.filter-item {
    display: grid;
    grid-template-columns: 0.5fr 8fr;
    padding-left: 30px;
    align-items: center;
    gap: 15px;
}

.date-filter {
    width: 70%;
    padding: 2px 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 2px;
}

.table-scroll {
    max-height: 1100px;
    overflow-y: scroll;
    overflow-x: hidden;
}

table {
    border: 1px solid lightgray;
    border-collapse: collapse;
}

thead td {
    font-weight: bold;
    text-align: center;
    height: 40px;
}

td {
    border: 1px solid lightgray;
    font-size: 12;
    padding: 0 5px;
}

.col-1 {
    width: 50px;
}

.col-2 {
    width: 100px;
}

.col-3 {
    width: 150px;
}

.col-4 {
    width: 200px;
}

.string-style {
    text-align: left;
}

.date-style {
    text-align: right;
}

.number-style {
    text-align: right;
}

.char-style {
    text-align: center;
}

.btn-action {
    background-color: red;
    color: white;
    padding: 0px 4px;
    border-radius: 5px;
}

.group-right {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}
button{
    color:white;
    background-color: red;
}
h2{
    color: red;
    font-size: 35px;
}
.content {
    display: grid;
    grid-template-columns: 10fr ;
    gap: 10px;
    padding: 10px 0;
    width: 715px;

}
td{
    font-size: 18px;
}
.btn-warning {
    padding: 10px 40px;
    margin: auto;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}