<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
        <h4 style="text-align: center;">Thông tin sản phẩm</h4>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Mã Chương Trình</th>
                <th scope="col">Tên Chương Trình</th>
                <th scope="col">Thời gian</th>
                <th scope="col">Trạng thái</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th colspan="row">KM0213213</th>
                <th colspan="row">test</th>
                <th colspan="row">25/9/2023-1/10/2023</th>
                <th colspan="row">Kích hoạt</th>
              </tr>
            </tbody>
          </table>
    
</body>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://unpkg.com/owl.carousel@2.3.4/dist/assets/owl.carousel.min.css'><link rel="stylesheet" href="../../../static/user/css/sanpham_km.css">
</html>