.container-fluid{
  background-color: rgb(243, 238, 238);
  margin: 0;
  padding: 0;
  width: 75%;
  height: auto;
  margin-top: 10px;
  margin-left: 85px;
}

.box{
  margin-top: 20px;
  width: auto;
  height: auto;
  border: 1px white solid;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}
  
.boxsearch{
  margin-top: 20px;
  width: auto;
  height: auto;
  border: 1px white solid;
  background-color: white;
  border-radius: 10px;
}

.boxtrang {
  width: 215px;
  height: auto;
  border: 1px white solid;
  background-color: white;
  border-radius: 10px;
}
.form-check-label {
  left: 35px;
}
  .search {
  margin: 9px 20px;
}
.date {
  margin-left: -18px;
}
  
  