.horizontal-menu {
    background-color: #4285F4;
    color: #fff;
    font-family: "Segoe UI Emoji";
}

.horizontal-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.horizontal-menu li {
    display: table-cell;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
}

.horizontal-menu a {
    text-decoration: none;
    color: #fff;
}

/* Ẩn danh sách tùy chọn ban đầu */
.submenu {
    display: none;
    position: absolute;
    background-color: #4285F4;
}

/* Hiển thị danh sách tùy chọn khi người dùng chỉ chuột vào mục menu */
.menu-item:hover .submenu {
    display: block;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    width: 200px;
}

.header {
    display: flex;
    align-items: center;
    height: 62px;
    width: 100%;
    white-space: nowrap;
    flex-shrink: 0;
    font-weight: 600;
    font-size: 15px;
    border-bottom: 1px solid rgba(44, 45, 42, 0.25);
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--beach-bg);
    z-index: 6;
    background-color: white;
}

.header-icons {
    margin-left: auto;
    display: flex;
    margin-right: 80px;
}

.header-icons > * {
    margin-right: 80px;
}

.header-icons > *:last-child {
    margin-right: 0;
}

.header-icons svg {
    width: 18px;
}

.header-icons svg:not(:last-child) {
    margin-right: 20px;
}

.menu-icon:hover + .menu-dropdown,
.menu-dropdown:hover {
    display: block;
}
