.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #E4E3E3;
}

.all {
    background: white;    
}

.col-md-4{
    left: 20px;
}
.col-md-3{
    right: -100px;
}
.xuatFile{
    margin-left: 1000px;
}