<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer với 4 cột</title>
    <link rel="stylesheet" href="../css/footer.css" />
  </head>
  <body>
    <footer class="footer">
      <div class="footer-column">
        <img src="../img/fahasa-logo.png" alt="Logo" class="img_logo" />
        <p class="column-1">
          Tòa nhà FPT Polytechnic, Phố Trịnh Văn Bô, Nam Từ Liêm, Hà Nội
        </p>

        <div class="logo-container">
          <img src="../img/android1.png" alt="GG-Play" />
          <img src="../img/appstore1.png" alt="AppStore" />
          <img src="../img/vnpay_logo.png" alt="VNP" />
        </div>
      </div>
      <div class="footer-column">
        <h2>DỊCH VỤ</h2>
        <ul>
          <li><a href="#">Điều khoản sử dụng</a></li>
          <li><a href="#">Chính sách bảo vệ thông tin cá nhân</a></li>
          <li><a href="#">Chính sách bảo mật thanh toán</a></li>
          <li><a href="#">Chính sách Fahasa</a></li>
          <li><a href="#">Hệ thống trung tâm nhà sách</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h2>HỖ TRƠ</h2>
        <ul>
          <li><a href="#">Chính sách đổi trả hoàn tiền</a></li>
          <li><a href="#">Chính sách bảo hành bồi hoàn</a></li>
          <li><a href="#">Chính sách vận chuyển</a></li>
          <li><a href="#">Chính sách khách sỉ</a></li>
          <li><a href="#">Phương thức thanh toán và xuất HĐ</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h2>TÀI KHOẢN CỦA TÔI</h2>
        <ul>
          <li><a href="#">Đăng nhập</a></li>
          <li><a href="#">Tạo mới tài khoản</a></li>
          <li><a href="#">Thay đổi địa chỉ khách hàng</a></li>
          <li><a href="#">Chi tiết tài khoản</a></li>
          <li><a href="#">Lịch sử mua hàng</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
