<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="user/css/sign_up.css">
</head>
<body>
    <div class="login-box">
        <h2>Forgot Password</h2>
        <form th:action="@{/forgotpass}" method="post">
          <div class="user-box">
            <input type="email" name="email" required>
            <label>Email</label>
          </div>
          <button  class="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            SEND OTP
          </button>
        </form>
    </div>
</body>
</html>
