<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/user/css/sign_up.css">
</head>
<body>
<div class="login-box">
    <h2>Sign Up</h2>
    <form th:action="@{/forgotpass/matkhau}" method="post" >
        <div class="user-box">
            <input type="password" name="otp" required>
            <label>OTP</label>
        </div>
        <div class="user-box">
            <input type="password" name="matKhau" required>
            <label>Password</label>
        </div>
        <div class="user-box">
            <input type="password" name="passwordcomfin" required>
            <label>ComfinPassword</label>
        </div>
        <button class="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            UpdatePass
        </button>
    </form>
</div>
</body>
</html>
