<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/user/css/sign_up.css">
</head>
<body>
<div class="login-box">
    <h2>Sign Up</h2>
    <form th:action="@{/sign-up}" method="post" th:object="${user}">
        <div class="user-box">
            <input type="text" name="hoVaTen" th:field="*{hoVaTen}" required>
            <label>Họ Và Tên</label>
        </div>
        <div class="user-box">
            <label>Ngày Sinh</label><br><br>
            <input type="date" name="ngaySinh" th:field="*{ngaySinh}" required>

        </div>
        <div class="user-box">
            <label>Giới Tính</label><br><br>
            <input type="radio" name="gioiTinh" th:field="*{gioiTinh}" th:value="'1'" checked>Nam
            <input type="radio" name="gioiTinh" th:field="*{gioiTinh}" th:value="'0'" >Nữ

        </div><br>

        <div class="user-box">
            <input type="email" name="email" th:field="*{email}" required>
            <label>Email</label>
        </div>
        <div class="user-box">
            <input type="tel" name="sdt" th:field="*{sdt}" required>
            <label>SĐT</label>
        </div>
        <div class="user-box">
            <input type="password" name="matKhau" th:field="*{matKhau}" required>
            <label>Password</label>
        </div>

        <button class="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Sign Up
        </button>
    </form>
</div>
</body>
</html>
